.navbar-header(ng-class="[header.layout_topbar]")
    a#setting-toggle
        i.icon-wrench
    button.navbar-toggle(type='button', data-toggle='offcanvas')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    a#logo.navbar-brand(href='/#/')
        span.icon-social-tumblr
        span.logo-text V Dojo
.topbar-main
    ul.nav.navbar-top-links.navbar-left
        li.dropdown
            a#menu-toggle.hidden-xs(href='javascript:void(0);')
                i.icon-arrow-left
        li.dropdown
            a.dropdown-toggle(data-hover='dropdown', href='javascript:void(0);')
                i.icon-envelope-open
                span.visible-xs-inline.mlm Mail&nbsp;
                    span.caret
                span.badge.badge-yellow 2
            ul.dropdown-menu.dropdown-alerts
                li
                    a(href='javascript:void(0);')
                        span.label.label-blue
                            i.fa.fa-comment.fa-fw
                        | New Comment
                        span.pull-right.text-muted.small 4 minutes ago
                li
                    a(href='javascript:void(0);')
                        span.label.label-violet
                            i.fa.fa-twitter.fa-fw
                        | 3 New Followers
                        span.pull-right.text-muted.small 12 minutes ago
                li
                    a(href='javascript:void(0);')
                        span.label.label-pink
                            i.fa.fa-envelope.fa-fw
                        | Message Sent
                        span.pull-right.text-muted.small 15 minutes ago
                li
                    a(href='javascript:void(0);')
                        span.label.label-green
                            i.fa.fa-tasks.fa-fw
                        | New Task
                        span.pull-right.text-muted.small 18 minutes ago
                li
                    a(href='javascript:void(0);')
                        span.label.label-yellow
                            i.fa.fa-upload.fa-fw
                        | Server Rebooted
                        span.pull-right.text-muted.small 19 minutes ago
                li
                    a.text-right(href='javascript:void(0);') See all alerts
        
        li.dropdown.mrn
            a.dropdown-toggle(data-hover='dropdown', href='javascript:void(0);')
                i.icon-calendar
                span.visible-xs-inline.mlm Task&nbsp;
                    span.caret
                span.badge.badge-green 5
            ul.dropdown-menu.dropdown-tasks
                li
                    a(href='javascript:void(0);')
                        span.task-item
                            | Fix the HTML code
                            small.pull-right.text-muted 40% Complete
                        .progress.progress-sm
                            .progress-bar.progress-bar-orange(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
                                span.sr-only 40% Complete (success)
                li
                    a(href='javascript:void(0);')
                        span.task-item
                            | Make a wordpress theme
                            small.pull-right.text-muted 60% Complete
                        .progress.progress-sm
                            .progress-bar.progress-bar-blue(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                                span.sr-only 60% Complete (success)
                li
                    a(href='javascript:void(0);')
                        span.task-item
                            | Convert PSD to HTML
                            small.pull-right.text-muted 55% Complete
                        .progress.progress-sm
                            .progress-bar.progress-bar-green(role='progressbar', aria-valuenow='55', aria-valuemin='0', aria-valuemax='100', style='width: 55%;')
                                span.sr-only 55% Complete (success)
                li
                    a(href='javascript:void(0);')
                        span.task-item
                            | Convert HTML to Wordpress
                            small.pull-right.text-muted 78% Complete
                        .progress.progress-sm
                            .progress-bar.progress-bar-yellow(role='progressbar', aria-valuenow='78', aria-valuemin='0', aria-valuemax='100', style='width: 78%;')
                                span.sr-only 78% Complete (success)
                li
                    a(href='javascript:void(0);') See all tasks
    ul.nav.navbar-top-links.navbar-right
        li
            a.upload-btn 
                i.icon-cloud-upload.mrs
                span.mls Upload
        li.dropdown
            a.dropdown-toggle(data-hover='dropdown', href='javascript:void(0);')
                i.icon-bell
                span.visible-xs-inline.mlm Notification&nbsp;
                    span.caret
                span.badge.badge-red 4
            ul.dropdown-menu.dropdown-messages
                li
                    a(href='javascript:void(0);')
                        span.avatar
                            img.img-responsive.img-circle(src='images/avatar/128-01.jpg', alt='')
                        span.info
                            span.name Jessica Spencer
                            span.desc Lorem ipsum dolor sit amet...
                li
                    a(href='javascript:void(0);')
                        span.avatar
                            img.img-responsive.img-circle(src='images/avatar/128-02.jpg', alt='')
                        span.info
                            span.name
                                | John Smith
                                span.label.label-blue.pull-right New
                            span.desc Lorem ipsum dolor sit amet...
                li
                    a(href='javascript:void(0);')
                        span.avatar
                            img.img-responsive.img-circle(src='images/avatar/128-03.jpg', alt='')
                        span.info
                            span.name
                                | Jonathan
                                span.label.label-orange.pull-right 10 min
                            span.desc Lorem ipsum dolor sit amet...
                li
                    a(href='javascript:void(0);')
                        span.avatar
                            img.img-responsive.img-circle(src='images/avatar/128.jpg', alt='')
                        span.info
                            span.name John Smith
                            span.desc Lorem ipsum dolor sit amet...
                li
                    a(href='javascript:void(0);') Read all messages
        li.dropdown
            a.dropdown-toggle(data-hover='dropdown', href='javascript:void(0);')
                img.img-responsive.img-circle(src='images/avatar/MarkCropped.jpg', alt='')
                span &nbsp;Mark Lehman&nbsp;
                span.caret 
            ul.dropdown-menu.dropdown-user.pull-right
                li
                    .navbar-content
                        .row
                            .col-md-5.col-xs-5
                                img.img-responsive.img-circle(src='images/avatar/MarkCropped.jpg', alt='')
                                p.text-center.mtm
                                    a.change-avatar(href='javascript:void(0);')
                                        small Change Avatar
                            .col-md-7.col-xs-5
                                span Mark Lehman
                                p.text-muted.small
                                    | example@mail.com
                                .divider
                                a.btn.btn-primary.btn-sm(href='javascript:void(0);') View Profile
                    .navbar-footer
                        .navbar-footer-content
                            .row
                                .col-md-6.col-xs-6
                                    a.btn.btn-default.btn-sm(href='javascript:void(0);') Change Password
                                .col-md-6.col-xs-6
                                    a.btn.btn-default.btn-sm.pull-right(href='#/page-lock-screen') Sign Out
