<nav id="topbar" class="navbar navbar-default navbar-static-top" ng-cloak>
   <div class="container-fluid" style="padding: 0px;">
      <div ng-cloak class="navbar-header" style="height: 70px;">
         <!--      <div id="topbar" role="navigation" style="margin-bottom: 0;" ng-cloak class="navbar navbar-default navbar-static-top"> -->
         <!--class="navbar navbar-default navbar-static-top" ng-controller="HeaderController as $ctrl"> -->
         <!--         <div ng-class="[$ctrl.header.layout_topbar]" class="navbar-header"> -->
         <a id="setting-toggle"><i class="icon-wrench"></i></a>
         <button type="button" data-toggle="offcanvas" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <button type="button" data-toggle="collapse" data-target="#top-menu" class="navbar-toggle-collapsed" aria-expanded="false">
   <!--      <button type="button" data-toggle="offcanvas" class="navbar-toggle"> -->
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a id="logo" href="javascript:void(0)" class="navbar-brand" style="padding: 20px; margin-left:0px">
            <span class="icon-social-tumblr"></span>
            <span class="logo-text">V Dojo</span>
         </a>
      </div>
      <div id="top-menu" class="topbar-main">
         <!--         <div id="top-menu" class="collapse navbar-collapse topbar-main" > -->
         <!--         <div id="top-menu" class="topbar-main" title> -->
         <!--      <ul class=" navbar-top-links" style="margin-left: 130px; margin-bottom: 0px;"> -->
         <ul class="mtm nav navbar-nav navbar-top-links navbar-left">
            <!--            <ul class="nav mtm"> -->
            <li class=" dropdown" ng-show="$ctrl.isokf() && $ctrl.isAdminOperator()">
               <!--            <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> -->
               <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="far fa-comments"></i>
               <span class="visible-xs-inline mlm">Msgs&nbsp;<span class="caret"></span></span>
               <span class="badge badge-yellow">{{$ctrl.alertcount}}</span></a>
               <ul class="dropdown-menu dropdown-alerts dropdowncolor">
                  <li class="dropdown-submenu">
                     <a class="test" ng-hide="!$ctrl.newstudents.length" tabindex="-1" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="label label-green">
                           <i class="far fa-handshake fa-fw"></i></span>
                        <span class="menu-title">{{$ctrl.newstudents.length}} New Students Last 2 weeks</span>
                     <span class="caret"></span></a>
                     <ul ng-class="$ctrl.menuclass">
                        <li ng-repeat="stu in $ctrl.newstudents">
                           <a tabindex="-1" href="/#/form-layouts-editstudent/id/{{stu.contactid}}">
                           <span class="label label-green">
                              <i class="fas fa-user fa-fw"></i></span>                           
                           <span class=""> 
                              {{stu.firstname}} {{stu.lastname}}
                           </span>
                           </a></li>

                        <li><a tabindex="-1" ng-click="$ctrl.clearNewStudents()" ng-hide="!$ctrl.newstudents.length">
                           <span class="label label-grey">
                              <i class="fas fa-eraser fa-fw"></i></span>                           
                           <span class="menu-title">Clear Alerts</span>
                        </a></li>
                     </ul>
                  </li>
                  <li class="dropdown-submenu">
                     <a class="test" ng-hide="!$ctrl.teststudents.length" tabindex="-1" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="label label-violet"><i class="fas fa-flag-checkered fa-fw"></i></span>
                        <span class="menu-title">{{$ctrl.teststudents.length}} Students ready to test</span>
                     <span class="caret"></span></a>
                     <ul ng-class="$ctrl.menuclass">
                        <li ng-repeat="stu in $ctrl.teststudents">
                           <a tabindex="-1" href="/#/table-basic-testcandidates">
                           <span class="label label-green">
                              <i class="fas fa-user fa-fw"></i></span>                           
                           <span class=""> 
                              {{stu.firstname}} {{stu.lastname}}
                           </span>
                           </a></li>
                        <li><a tabindex="-1" ng-click="$ctrl.clearTestStudents()" ng-hide="!$ctrl.teststudents.length">
                           <span class="label label-grey">
                              <i class="fas fa-eraser fa-fw"></i></span>                           
                           <span class="menu-title">Clear Alerts</span>
                        </a></li>
                     </ul>
                  </li>
                  <li class="dropdown-submenu">
                     <a class="test" ng-hide="!$ctrl.overduestudents.length" tabindex="-1" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="label label-red"><i class="fas fa-fire fa-fw"></i></span>
                     <span class="menu-title">{{$ctrl.overduestudents.length}} Overdue Payments</span>
                     <span class="caret"></span></a>
                     <ul ng-class="$ctrl.menuclass">
                        <li ng-repeat="stu in $ctrl.overduestudents">
                           <a tabindex="-1" href="/#/form-layouts-editstudent/id/{{stu.contactid}}">
                           <span class="label label-red">
                              <i class="fas fa-user fa-fw"></i></span>                           
                           <span class=""> 
                              {{stu.firstname}} {{stu.lastname}} paid by {{stu.payerEmail}}
                           </span>
                           </a></li>
                        <li><a tabindex="-1" ng-click="$ctrl.clearOverdueStudents()" ng-hide="!$ctrl.overduestudents.length">
                           <span class="label label-grey">
                              <i class="fas fa-eraser fa-fw"></i></span>                           
                           <span class="menu-title">Clear Alert</span>
                        </a></li>

                     </ul>
                  </li>
                  <li class="dropdown-submenu">
                     <a class="test" ng-hide="!$ctrl.noshowstudents.noshow.length" tabindex="-1" href="javascript:void(0);">
                        <span class="label label-blue"><i class="fas fa-coffee fa-fw"></i></span><span class="menu-title">{{$ctrl.noshowstudents.noshow.length}} No show Students +2wk</span>
                     <span class="caret"></span></a>
                     <ul ng-class="$ctrl.menuclass">
                        <li ng-repeat="stu in $ctrl.noshowstudents.noshow">
                           <a tabindex="-1" href="/#/form-layouts-editstudent/id/{{stu.contactid}}">
                           <span class="label label-blue">
                              <i class="fas fa-user fa-fw"></i></span>                           
                           <span class=""> 
                              {{stu.firstname}} {{stu.lastname}}
                           </span>
                           </a></li>
                        <li><a tabindex="-1" ng-click="$ctrl.clearNoshowStudents()" ng-hide="!$ctrl.noshowstudents.noshow.length">
                           <span class="label label-grey">
                              <i class="fas fa-eraser fa-fw"></i></span>                           
                           <span class="menu-title">Clear Alert</span>
                        </a></li>

                     </ul>
                  </li>
                  <li class="dropdown-submenu">
                     <a class="test" ng-hide="!$ctrl.thisTasknamelist.length" tabindex="-1" href="javascript:void(0);"><span class="label label-orange"><i class="fas fa-tasks fa-fw"></i></span><span class="menu-title">{{$ctrl.thisTasknamelist.length}} Tasks outstanding</span>
                     <span class="caret"></span></a>
                     <ul ng-class="$ctrl.menuclass">
                        <li ng-repeat="task in $ctrl.thisTasknamelist">
                           <a tabindex="-1" href="javascript:void(0);">
                           <span class="label label-orange">
                              <i class="fas fa-pencil-alt fa-fw"></i></span>                           
                           <span class=""> 
                              {{task.taskname}}
                           </span>
                           </a></li>
                        <li><a tabindex="-1" href="javascript:void(0);" ng-hide="!$ctrl.thisTasknamelist.length">
                           <span class="label label-grey">
                              <i class="fas fa-eraser fa-fw"></i></span>                           
                           <span class="menu-title">Clear Alert</span>
                        </a></li>

                     </ul>
                  </li>
                  <li><a tabindex="-1" href="javascript:void(0);">
                     <span class="label label-grey">
                        <i class="fas fa-eraser fa-fw"></i></span>                           
                     <span class="text-right">Clear All Alerts</span>
                     </a>
                     <span class="pull-right text-muted small">Last upd. 12min ago</span></li>
               </ul>
            </li>
            <li class=" dropdown" ng-show="$ctrl.isokf() && $ctrl.isAdminOperator()">
               <!--            <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> -->
               <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i ng-class="$ctrl.emailcount > 0 ? ' icon-envelope-open' : ' icon-envelope '"></i>
               <span class="visible-xs-inline mlm">Email&nbsp;<span class="caret"></span></span>
               <span class="badge badge-yellow">{{$ctrl.emailcount}}</span></a>
               <ul class="dropdown-menu dropdowncolor" uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <li>
                     <div class="navbar-content">
                        <div class="row">
                           <div class="mll mtm col-md-12 col-xs-12"><a ng-click="$ctrl.openEmail()" class="btn  btn-sm btn-green">Open Email</a></div>
                        </div>
                        <div class="row">
                           <div class="mll mtm col-md-12 col-xs-12"><a ng-click="$ctrl.newEmail()" class="btn btn-sm btn-green">New Email</a></div>
                        </div>
                        <div class="navbar-footer">
                           <div class="navbar-footer-content">
                              <div class="row">
                                 <div class="mbm mtm col-md-offset-5 col-xs-offset-5"><a href="javascript:void(0);" class="btn btn-green btn-sm">Close</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </li>
            <li class=" dropdown" ng-show="$ctrl.isokf() && $ctrl.showTimeout()">
               <div class="panel panel-warning" style="margin-top: -18px;">
                  <div class="panel-heading" >Timeout!</div>
                  <div class="pandel-body" idle-countdown="countdown" ng-show="$ctrl.showTimeout()">
                     You have {{minutes}} minutes and {{seconds}} seconds until your session expires!
                  </div>
               </div>
            </li>
            <!--            </ul> -->
         </ul>
         <ul class="mtm nav navbar-nav navbar-top-links navbar-right mrxxl">
            <!--            <ul class="nav mtm"> -->
            <li class="dropdown" uib-dropdown auto-close="disabled" on-toggle="toggled(open)" ng-show="$ctrl.isokf()">
               <!--            <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle" id="simple-dropdown"> -->
               <a href="javascript:void(0);" class="dropdown-toggle" id="simple-dropdown">
         <span class="img-responsive img-circle" ng-switch on="$ctrl.userdta.pictureurl">
         <img ng-switch-when="missing" ng-src='../images/students/missingstudentpicture.png'/>
         <img ng-switch-when="" ng-src='../images/students/missingstudentpicture.png'/>
         <img ng-switch-default   ng-src="../images/avatar/{{$ctrl.picurl}}"/>
         </span>
         <span>&nbsp;{{$ctrl.userdta.username}}&nbsp;</span><span class="caret"></span>
         </a>
               <ul class="dropdown-menu dropdown-user dropdowncolor" aria-labelledby="simple-dropdown">
                  <li>
                     <div class="navbar-content">
                        <div class="row">
                           <div class="col-md-7 col-xs-5">
                              <span>{{$ctrl.userdta.firstname}} {{$ctrl.userdta.lastname}}</span>
                              <p class="text-muted small">{{$ctrl.userdta.email}}</p>
                           </div>
                        </div>
                          <div class="row">
                            <div class="col-md-12 col-xs-12"><a ng-click="$ctrl.openPhoto()" class="btn  btn-sm btn-green">Manage Photo</a></div>
                          </div>
                     </div>
                  </li>
                  <li>
                     <div class="row">
                        <div class="mtm mlm mbm col-md-12 col-xs-12"><a ng-click="$ctrl.openSettings()" class="btn btn-sm btn-green">Edit Settings</a></div>
                     </div>
                  </li>
                  <li>
                     <div class="navbar-footer">
                        <div class="navbar-footer-content">
                           <div class="row">
                              <div class="col-md-6 col-xs-6"><a href="/#/change-pwd" class="btn btn-green btn-sm">Change Password</a></div>
                              <div class="col-md-6 col-xs-6"><a href="/#/page-lock-screen?pictureurl=/images/avatar/{{$ctrl.userdta.pictureurl}}" class="btn btn-green btn-sm pull-right">Sign Out</a></div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </li>
            <!--            </ul> -->
         </ul>
         <!--      </ul> -->
      </div>
   </div>
   </div>
</nav>
