<!DOCTYPE html>
<h2>Help Information</h2>

<div class="note note-info">
<h4 class="block-heading">Instructions for using this site</h4>
              <p>Click on the headings below for instructions</p>
            </div>

  <uib-accordion class="col-md-6">
    <uib-accordion-group heading="Login and User Accounts - For Help click here" class="panel panel-blue">
          <div class="panel-body">
          In order to register for a tournament you must create a user account.  Click on left navigation menu to create a user and then login.  You can return to this site and use the participants you create now for future events.  Each time you re-enter this site you will need to login.  On the top right of the site you can signout.  If you forget your password, please contact mailto:mark@natickmartialarts.com .
          </div>
    </uib-accordion-group>
    <uib-accordion-group heading="Adding participants - For Help click here" class="panel panel-blue">
          <div class="panel-body">
          Click on Register new to add each person.  Fill in the details on the form and proceed to the registration tab.  If you re-enter the site you can go straight to the registration tab to see your entries.  If you want to edit, click on the edit button and return to the participants tab to edit the details.  
          </div>
    
    </uib-accordion-group>
    <uib-accordion-group heading="Registration - For Help click here" class="panel panel-green">
          <div class="panel-body">
          Click on registration tab or use a button to move to the tab.  Click the checkboxes for which events you want to register in (Kata, Sparring or Weapons).  You will need to register for 2 events.  You will see a register button appear.  Click on that to complete registration.  If you add another participant later, you can register the new person.  Proceed to the payment tab when finished registration.  You will get an email for each person you have registered.
          </div>
      
    </uib-accordion-group>
    <uib-accordion-group heading="Payment - For Help click here" class="panel panel-orange">
          <div class="panel-body">
          Click on the payment tab after you have completed registration.  For each registered participant you click on add to cart.  The cart will appear as a another tab or window.  When you have finished adding all of the registrants to the shopping cart, then switch to the paypal window to checkout.  You will receive notification from paypal when you have finished paying.  If you have any issues or questions, please contact Mark Lehman at mailto:mark@natickmartialarts.com or call 508-653-2137
          </div>
      
    </uib-accordion-group>
  </uib-accordion>
