<!DOCTYPE html>
<h1>Welcome to your New England Regional Events site</h1>
<h2>Stay tuned here for future regional activities</h2>



<div class="portlet portlet-green">
      <div class="portlet-header">
        <div class="caption">Registration </div>
      </div>    
      <div class="portlet-body">

        <div class="panel panel-success">
              <div class="panel-heading">Sign Up!</div>
              <div class="panel-body">
                <div ng-hide="vm.islogin()" class="row col-md-12">
                    <div class="col-md-4 col-md-offset-1">
                        <a  class="btn btn-green btn-outlined tournamentlarge"
                        href="#/page-signup">Create User</a>
                    </div>
                    <div class="col-md-4">
                       <a class="btn btn-green btn-outlined tournamentlarge" href="#/page-signin">Login</a>
                    </div>
                </div>
                <div ng-show="vm.islogin()" class="row col-md-12">
                    <div class="col-md-4 col-md-offset-1">
                      <a class="btn btn-green btn-outlined tournamentlarge"
                         href="#/tournament">Let's Register</a>
                    </div>
                </div>
             </div>
        </div>      

    </div>
</div>
<div class="portlet portlet-pink" ng-hide="true">

      <div class="portlet-header">
        <div class="caption">2016 Medway Classic  - Tournament </div>
      </div>    
        <div class="row" ng-hide="true">
        <h2>
         <a href="images/medway.pdf"> Click here to download pdf of schedule
             
        <img src="images/2016MedwaySchedule.png" alt="tournament schedule" class="img-responsive">	
         </a>
        </h2>

        </div>
      </div>
      <div class="portlet-body" ng-hide="true">

        <div class="row" >

        <div class="col-sm-12 col-md-6 col-xs-12" id="wide_widgetsSeating">
        <img src="images/Medway.jpg" alt="tournament picture" class="img-responsive">	
        
        				
                <div id="description"><div class="widget"><h2 style="display:none;"></h2><div class="widget-content widget-content-ntitle"><table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFF99" style="font-family: 'Times New Roman';">
                  <tbody>
                    <tr>
                      <td width="600" valign="top" height="147">
                        <p align="left">
                          <font color="#FF0000" face="Tahoma" size="5">
                            <b>Don't Miss This Chance to Improve Your Skills!</b>
                          </font>
                        </p>
                        <p align="left">
                          <font face="Tahoma" size="3">Tournament participation is a great way to learn more about yourself and to develop
                          your martial arts skills.</font>
                        </p>
                        <p align="left">
                          <font face="Tahoma" size="3">Get
                  more information for this upcoming event from your instructors and
                          register here on this site to compete.</font>
                        </p>
                        <p align="left">
                          <font face="Tahoma" size="3">Please be sure to register early to take advantage of the early bird rates.</font>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td width="600" valign="top" height="21">
                        <font face="Tahoma" size="3">
                        <br>See you there!
                        <br>
                        <img border="0" src="http://www.natickmartialarts.com/region/images/MasterJulie.jpg">
                        <br>Master Julie Guido
                        <br>Tournament Director</font>
                      </td>
                    </tr>
                  </tbody>
                </table>
        <div style="clear:both"></div></div><!--widget-content close --><div style="clear:both"></div></div></div>
        </div>
        <div class=" col-sm-12 col-md-4 col-xs-12">

<!--
            <div class="panel panel-info">
              <div class="panel-heading">Sign up early!</div>
              <div class="panel-body">
               <table width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr>
                        <td>
                        <div>Early bird 2/18 - 3/6 - $55 for two events $10 more for the third.</div>
                        <div>Regular 3/7 - 3/27 - $65 for two, $75 for three</div>
                        <div>Late 3/28 - 4/3 - $75 for two, $85 for three</div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               </div>
            </div>
-->
            <div class="panel panel-info">
              <div class="panel-heading">Tournament Schedule</div>
              <div class="panel-body">
               <table width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr>
                        <td>
                        <div>See details above</div>
                        <div>Ages 10 and under (Kata and Sparring) - 10 to Noon</div>  
                        <div>Weapons -  Noon to 1pm </div>
                        <div>11 and up (Kata and Sparring) - 1pm to 3pm</div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               </div>
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">When</div>
              <div class="panel-body">
               <table width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr>
                        <td>
                           <div>Sun Apr 10 2016 09:00 AM <font size="1">Start</font></div>
                           <div>Sun Apr 10 2016 06:00 PM <font size="1">End</font></div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               </div>
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">Where</div>
              <div class="panel-body">
                 <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                       <tr>
                          <td>
                             St. Joseph's Church Hall , 145 Holliston Street, Medway, USA<br>
                             <div>
                             <a href="http://maps.google.com/maps?q=145 Holliston StreetMedwayUSA"> Map and driving directions</a></div>
                          </td>
                       </tr>
                       <tr>
                           <td>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2957.262748690189!2d-71.41322368454978!3d42.16606097920041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e470c190b1ff8b%3A0x3d926f1b1f373732!2s145+Holliston+St%2C+Medway%2C+MA+02053!5e0!3m2!1sen!2sus!4v1455069320270" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>                               
                           </td>
                       </tr>
                    </tbody>
                 </table>
              </div>
</div>
    
</div>

        </div>
      </div>
    
</div>

