
<div class="animated slideInLeft">
  <div id="lock-screen-content"><img id="lock-screen-avatar" src="images/avatar/128.jpg" alt="" class="img-responsive img-circle"/>
    <div id="lock-screen-info">
      <h1>John Doe</h1>
      <div class="email">example@email.com</div>
      <form action="" class="mbm">
        <div class="input-group">
          <input type="password" value="123456789" class="form-control"/><span class="input-group-btn"><a href="/#/" class="btn btn-primary">Unlock</a></span>
        </div>
      </form>
    </div>
  </div>
</div>