<!DOCTYPE html>
<div id="form-layouts-edittournament" class="row" 
        ng-controller="TournamentController as vmstudent"
        ng-init="active[vmstudent.getActiveTab()]= true"
        >

    <uib-tabset type="pills" >
      <uib-tab 
            id="tab-student" 
            heading="Enter Participant -->"
            active="active.info"
            select="vmstudent.setActiveTab('info')"
        >
        <div class="row">
          <div>
            <div class="col-lg-12">
              <div class="panel panel-blue">
                <div class="panel-heading">Tournament Participant</div>
                <div class="panel-body pan">

                  <div class="table-tools">
                    <div class="row">
              <div ng-controller="ModalNewStudentController as vmmodal">

                  <div class="col-lg-12 mbs">
                  <div class="col-md-6">
                    <button ng-if="!vmstudent.idpresent()" type="button" class="btn btn-red mrs" ng-click="vmmodal.openmodal()" ><i class="fa fa-plus"></i>&nbsp; Register New</button>
                    <button ng-if="vmstudent.idpresent()" type="button" class="btn btn-red mrs" ng-click="vmmodal.openmodal()" ><i class="fa fa-plus"></i>&nbsp; Register Another</button>
                    
                    </div>
                  <div class="col-md-6">
                    <button ng-if="vmstudent.idpresent()" type="button" class="btn btn-green mrs" ng-click="active['tournament']= true" >Next &nbsp; <i class="fa fa-arrow-right"></i></button>
                    </div>
                  </div>
                    <script id="newStudent.html" type="text/ng-template">
                        <div class="modal-header">
                          <h3 class="modal-title">Create New Student</h3>
                        </div>
                        <div class="modal-body">
<!--<pre>{{vmnew.message}}</pre> -->
                            <form action="" novalidate name="newstudent" class="form-horizontal">
                              <div class="form-body pal">
                               <div class="row">
                                 <div class="col-md-6">
                                  <div  class="form-group">
                                    <label for="inputFirstName" class="control-label">First Name </label>
                                      <input id="inputFirstName" type="text" placeholder="First Name" name="FirstName" 
                                      ng-model="vmnew.FirstName" 
                                      required
                                      minLength="2" maxLength="50"  class="form-control">
                                  </div>
                                 </div>
                                 <div class="col-md-6">
                                  <div  class="form-group">
                                    <label for="inputLastName" class="control-label">LastName </label>
                                      <input id="inputLastName" type="text" placeholder="Last Name" name="LastName" 
                                      ng-model="vmnew.LastName" 
                                      required
                                      minLength="2" maxLength="50" class="form-control">
                                  </div>
                                 </div>
                               </div>
                               <div class="row">
                                 <div class="col-md-12">
                                  <div  class="form-group">
                                    <label for="inputEmail" class="control-label">Email </label>
                                      <input id="inputEmail" type="text" placeholder="Email" name="Email" 
                                      ng-model="vmnew.Email" 
                                      required
                                      minLength="2" maxLength="255"  class="form-control">
                                  </div>
                                 </div>
                                </div>
                             </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary" type="button" ng-click="vmnew.submit()">Submit</button>
                          <button class="btn btn-warning" type="button" ng-click="vmnew.cancel()">Cancel</button>
                        </div>
                    </script>
                </div>    
            </div>
                  </div>
                
                  <form action="" novalidate name="editstudent" class="form-horizontal" ng-if="vmstudent.idpresent()">
                    <div class="form-body pal">
                      <h3 class="block-heading">Participant Information</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.FirstName.$invalid, 'has-success': !editstudent.FirstName.$invalid}" class="form-group">
                            <label for="inputFirstName" class="control-label">First Name </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-show="editstudent.FirstName.$dirty" ng-class="editstudent.FirstName.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputFirstName" type="text" placeholder="First Name" name="FirstName" ng-model="vmstudent.students.FirstName" ng-change="vmstudent.updateStudent()" minLength="2" maxLength="50" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control" required>
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.FirstName.$error" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.LastName.$invalid, 'has-success': !editstudent.LastName.$invalid}" class="form-group">
                            <label for="inputLastName" class="control-label">LastName </label>
                            <div class="input-icon right">
                            <i data-hover="tooltip" 
                                data-original-title="Correct" 
                                ng-show="editstudent.LastName.$dirty" 
                                ng-class="editstudent.LastName.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputLastName" 
                                type="text" placeholder="Last Name" 
                                name="LastName" 
                                ng-model="vmstudent.students.LastName" 
                                ng-change="vmstudent.updateStudent()" 
                                minLength="2" maxLength="50" 
                                ng-model-options=
                                "{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" 
                                class="form-control" required>
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.LastName.$error" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group" ng-class=
                          "{'has-error': editstudent.Email.$invalid, 'has-success': !editstudent.Email.$invalid}">
                          <label class="control-label" for="inputEmail">Email</label>

                            <div class="input-icon right">
                              <i class="glyphicon tooltips" 
                                data-hover="tooltip"
                                data-original-title="Correct" 
                                ng-class=
                              "editstudent.Email.$invalid ? 'glyphicon-remove' : 'glyphicon-ok'"
                                ng-show="editstudent.Email.$dirty"></i> 
                             <input class="form-control"
                                id="inputEmail" 
                                maxlength="255" 
                                name="Email" 
                                ng-change=
                                "vmstudent.updateStudent()" ng-model="vmstudent.students.Email"
                                ng-model-options=
                                "{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }"
                              placeholder="Email Address" type="email" required>
                            </div>


                            <div class="has-error" ng-messages="editstudent.Email.$error" role=
                            "alert" style="color:maroon">
                              <div ng-message="required">
                                You did not enter a field
                              </div>


                              <div ng-message="minlength">
                                Your field is too short
                              </div>


                              <div ng-message="maxlength">
                                Your field is too long
                              </div>


                              <div ng-message="email">
                                Your email is missing @ and/or a period
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group" ng-class=
                          "{'has-error': editstudent.Phone.$invalid, 'has-success': !editstudent.Phone.$invalid}">
                          <label class="control-label" for="inputPhone">Phone</label>

                            <div class="input-icon right">
                              <i class="glyphicon tooltips" data-hover="tooltip"
                              data-original-title="Correct" 
                              ng-class=
                              "editstudent.Phone.$invalid ? 'glyphicon-remove' : 'glyphicon-ok'"
                              ng-show="editstudent.Phone.$dirty"></i> 
                              <input class="form-control"
                              id="inputPhone" name="Phone" ng-change="vmstudent.updateStudent()"
                              ng-model="vmstudent.students.Phone" ng-model-options=
                              "{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }"
                              placeholder="" type="text" ui-mask="(999) 999-9999">
                            </div>
                            <div class="has-error" ng-messages="editstudent.Phone.$error" role=
                            "alert" style="color:maroon">
                              <div ng-message="required">
                                You did not enter a field
                              </div>
                              <div ng-message="minlength">
                                Your field is too short
                              </div>
                              <div ng-message="maxlength">
                                Your field is too long
                              </div>
                              <div ng-message="email">
                                Your email is missing @ and/or a period
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>

                      <div class="row">
                        <div class="col-md-6">
                          <label for="inputBirthday" class="control-label">Birthday </label>
                          <div ng-class="{'has-error': editstudent.Birthday.$invalid, 'has-success': !editstudent.Birthday.$invalid}" class="form-group">
                            <div class="col-md-8">
                              <div class="input-icon right">
                                <i ng-click="vmstudent.dateopen($event)" 
                                    data-hover="tooltip" data-original-title="Correct" 
                                    ng-show="editstudent.Birthday.$dirty" 
                                    ng-class="editstudent.Birthday.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " 
                                    class="glyphicon tooltips"></i>
                                <input id="inputBirthday" 
                                    type="text" placeholder="mm/dd/yyyy" 
                                    name="Birthday" 
                                    ng-model="vmstudent.students.Birthday" 
                                    ng-change="vmstudent.updateStudent()" 
                                    is-open="vmstudent.status.opened" 
                                    uib-datepicker-popup="{{vmstudent.bdateformat}}" 
                                    ng-model-options=
                                    "{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" 
                                    class="form-control" required>
                              </div>
                            </div>
                            <div class="col-md-1">
                              <button type="button" class="btn btn-default" ng-click="vmstudent.dateopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                            <div class="col-md-3 has-error" 
                                    style="color:maroon" role="alert" 
                                    ng-messages="editstudent.Birthday.$error" >
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.sex.$invalid, 'has-success': !editstudent.sex.$invalid}" class="form-group">
                            <label for="inputsex" class="control-label">Gender </label>
                            <div class="input-icon right">
                              <i data-hover="tooltip" data-original-title="Correct" ng-show="editstudent.sex.$dirty" ng-class="editstudent.sex.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <select id="inputsex" type="text" name="sex" 
                              ng-model="vmstudent.students.sex" 
                              ng-change="vmstudent.updateStudent()" 
                              minLength="" maxLength="" 
                              ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" 
                              class="form-control" required>
                                <option ng-repeat="iter in vmstudent.genders.availableOptions" 
                                ng-selected="{{iter.name==vmstudent.students.sex}}" 
                                placeholder="Select" 
                                value="{{iter.id}}">{{iter.name}}</option>
                              </select>
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.sex.$error" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        
                      
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.Parent.$invalid, 'has-success': !editstudent.Parent.$invalid}" class="form-group">
                            <label for="inputParent" class="control-label">Parent </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-show="editstudent.Parent.$dirty" ng-class="editstudent.Parent.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputParent" type="text" placeholder="Parent Name" name="Parent" ng-model="vmstudent.students.Parent" ng-change="vmstudent.updateStudent()" minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.Parent.$error" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.EmergencyContact.$invalid, 'has-success': !editstudent.EmergencyContact.$invalid}" class="form-group">
                            <label for="inputEmergencyContact" class="control-label">Emergency Contact </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-show="editstudent.EmergencyContact.$dirty" ng-class="editstudent.EmergencyContact.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputEmergencyContact" type="text" placeholder="Name if different then parent" name="EmergencyContact" ng-model="vmstudent.students.EmergencyContact" ng-change="vmstudent.updateStudent()" minLength="2" maxLength="80" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.EmergencyContact.$error" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div ng-class="{'has-error': editstudent.medicalConcerns.$invalid, 'has-success': !editstudent.medicalConcerns.$invalid}" class="form-group">
                            <label for="inputmedicalConcerns" class="control-label">Medical Concerns </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-show="editstudent.medicalConcerns.$dirty" ng-class="editstudent.medicalConcerns.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <textarea id="inputmedicalConcerns" type="text" placeholder="Enter Medical concerns" name="medicalConcerns" ng-model="vmstudent.students.medicalConcerns" ng-change="vmstudent.updateStudent()" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control"></textarea>
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.medicalConcerns.$error" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <h3 class="block-heading">Karate Information</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.CurrentRank.$invalid, 'has-success': !editstudent.CurrentRank.$invalid}" class="form-group">
                            <label for="inputCurrentRank" class="control-label">Rank </label>
                            <div class="input-icon right">
                              <i data-hover="tooltip" data-original-title="Correct" ng-show="editstudent.CurrentRank.$dirty" ng-class="editstudent.CurrentRank.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <select id="inputCurrentRank" type="text" name="CurrentRank" ng-model="vmstudent.students.CurrentRank" ng-change="vmstudent.updateStudent()" minLength="" maxLength="" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control" required>
                                <option ng-repeat="iter in vmstudent.RankList.rankList" ng-selected="{{iter.ranklist==vmstudent.students.CurrentRank}}" placeholder="Select" value="{{iter.ranklist}}">{{iter.ranklist}}</option>
                              </select>
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.CurrentRank.$error" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.StudentSchool.$invalid, 'has-success': !editstudent.StudentSchool.$invalid}" class="form-group">
                            <label for="inputStudentSchool" class="control-label">School </label>
                            <div class="input-icon right">
                              <i data-hover="tooltip" data-original-title="Correct" ng-show="editstudent.StudentSchool.$dirty" ng-class="editstudent.StudentSchool.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <select id="inputStudentSchool" 
                              type="text" name="StudentSchool" 
                              ng-model="vmstudent.students.StudentSchool" 
                              ng-change="vmstudent.updateStudent()" 
                              minLength="" maxLength="" 
                              ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" 
                              class="form-control" required>
                                <option ng-repeat="iter in vmstudent.StudentList.StudentSchoolList" 
                                ng-selected="{{iter.listkey==vmstudent.students.StudentSchool}}" 
                                placeholder="Select" 
                                value="{{iter.listkey}}">{{iter.listvalue}}</option>
                              </select>
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.StudentSchool.$error" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="createdby" class="control-label">Created By </label>
                            <div class="input-icon right">
                            <p>{{vmstudent.students.createdby}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                      </div>

                    </div>
                  </form>
                  <div class="col-lg-12 mbs">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    <button ng-if="vmstudent.idpresent()" type="button" class="btn btn-green mrs" ng-click="active['tournament']= true" >Next &nbsp; <i class="fa fa-arrow-right"></i></button>
                    
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab> 
      <uib-tab 
            id="tab-student" 
            heading="Register for Tournament -->" 
            active="active.tournament"
            select="vmstudent.setActiveTab('tournament');vmstudent.activate();tournamenttabShown = !tournamenttabShown" deselect="tournamenttabShown = !tournamenttabShown" >

  <div class="col-lg-12">
    <div class="row" ng-controller="EventController as vm">
  
      <form action="" novalidate name="edittournament" class="form-horizontal" ng-if="vmstudent.idpresent()">
        <div class="form-body pal">
          <h3 class="block-heading">Select Tournament</h3>
          <div class=row>
                  <div class="col-md-3">
                    <label for="query" class="control-label">Pick Event</label>
                    <ui-select  ng-model="vm.eventSelected" 
                                theme="select2" 
                                ng-disabled="disabled" 
                                on-select="vm.setEventInfo($item)"
                                style="width: 300px;" 
                                title="Choose an event"
                                required>
                      <ui-select-match placeholder="Filter the events...">{{$select.selected.event}}</ui-select-match>
                      <ui-select-choices 
                      repeat="event in vm.eventlist | filter: $select.search track by $index"
                      refresh="vm.getEventNames($select.search)"
                      refresh-delay="0">
                        <small>
                    <span ng-bind-html="event.event | highlight: $select.search"></span>
                        </small>
                      </ui-select-choices>
                    </ui-select>

                  </div>
                  <div class="col-md-2">
                      EventDate:{{vm.EventInfo.EventDate}}
                  </div>
                  <div class="col-md-2">
                      <div class="row">
                      EventStart:{{vm.EventInfo.EventStart}}
                      </div>
                      <div class="row">
                      EventEnd:{{vm.EventInfo.EventEnd}}
                      </div>
                  </div>
                  <div class="col-md-5">
                      Location:{{vm.EventInfo.Location}}
                  </div>
          </div>
        </div>  
      </form>
          
    </div>
  </div>            
        <div class="row" ><!-- add conroller here -->
          <div class="col-lg-12">
            <div class="panel panel-green">
              <div class="panel-heading">Tournament</div>
              <div class="panel-body pan">
                  <div class="col-lg-12 mbs">
                      <div class="col-md-6">
                        <button ng-if="vmstudent.idpresent()" type="button" 
                            class="btn btn-blue mrs" 
                            ng-click="active['info']= true" >
                            <i class="fa fa-arrow-left"></i> &nbsp; Back 
                            </button>
                        </div>
                      <div class="col-md-6">
                        <button ng-if="vmstudent.idpresent()" type="button" 
                            class="btn btn-orange mrs" 
                            ng-click="active['payment']= true" >Next &nbsp; 
                            <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                  </div>
                  <form action="" novalidate name="editstudentclass" class="form-horizontal">
                      <div class="form-body pal">
                        <h3 class="block-heading">Select</h3>
                        <div class="row">
                        </div>
                      </div>
                  </form>
                  <div class="col-lg-12 mbs">
                      <div class="col-md-6">
                        <button ng-if="vmstudent.idpresent()" type="button" class="btn btn-blue mrs" ng-click="active['info']= true" ><i class="fa fa-arrow-left"></i> &nbsp; Back </button>
                        </div>
                      <div class="col-md-6">
                        <button ng-if="vmstudent.idpresent()" type="button" class="btn btn-orange mrs" ng-click="active['payment']= true" >Next &nbsp; <i class="fa fa-arrow-right"></i></button>
                        </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
                        
        </uib-tab>      
      <uib-tab 
             id="tab-student" 
             heading="Pay for Tournament"
             active="active.payment"
             select="vmstudent.setActiveTab('payment')"
             >
        <div class="row" >
          <div class="col-lg-12">
            <div class="panel panel-orange">
              <div class="panel-heading">Payment</div>
              <div class="panel-body pan">
                  <div class="col-md-6">
                    <form action="" novalidate name="editstudentpayment" class="form-horizontal">
                      <div class="form-body pal">
                        <h3 class="block-heading">Payment Information</h3>
                        <div class="row">
                        </div>
                      </div>
                    </form>
                  </div>
               <hr/>  
              </div>
            </div>
          </div>
        </div>
                        
        </uib-tab>      
    </uib-tabset>


</div>
