<!DOCTYPE html>
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title V Dojo
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,700")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Oswald:400,700,300")
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css')
    //CSS FOR PLUGIN
    link(rel='stylesheet', href='vendors/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')
    link(rel='stylesheet', href='vendors/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendors/simple-line-icons/simple-line-icons.css')
    link(rel='stylesheet', href='vendors/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendors/jquery-nestable/nestable.css')
    link(rel='stylesheet', href='vendors/bootstrap-colorpicker/css/colorpicker.css')
    link(rel='stylesheet', href='vendors/bootstrap-datepicker/css/datepicker.css')
    link(rel='stylesheet', href='vendors/bootstrap-daterangepicker/daterangepicker-bs3.css')
    link(rel='stylesheet', href='vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='vendors/bootstrap-timepicker/css/bootstrap-timepicker.min.css')
    link(rel='stylesheet', href='vendors/bootstrap-clockface/css/clockface.css')
    link(rel='stylesheet', href='vendors/bootstrap-switch/css/bootstrap-switch.css')
    link(rel='stylesheet', href='vendors/jquery-file-upload/css/jquery.fileupload.css')
    link(rel='stylesheet', href='vendors/jquery-file-upload/css/jquery.fileupload-ui.css')
    link(rel='stylesheet', href='vendors/jquery-file-upload/css/blueimp-gallery.min.css')
    link(rel='stylesheet', href='vendors/fullcalendar/fullcalendar.css')
    link(rel='stylesheet', href='vendors/fullcalendar/fullcalendar.print.css')
    link(rel='stylesheet', href='vendors/dropzone/css/dropzone.css')
    link(rel='stylesheet', href='vendors/datatables/css/dataTables.bootstrap.css')
    link(rel='stylesheet', href='vendors/jquery-bootstrap-wizard/custom.css')
    link(rel='stylesheet', href='vendors/jquery-news-ticker/jquery.news-ticker.css')
    link(rel='stylesheet', href='vendors/jquery-jvectormap/jquery-jvectormap-1.2.2.css')
    link(rel='stylesheet', href='vendors/animate.css/animate.css')
    link(rel='stylesheet', href='vendors/jquery-pace/pace.css')
    link(rel='stylesheet', href='vendors/select2/select2-madmin.css')
    link(rel='stylesheet', href='vendors/bootstrap-select/bootstrap-select.min.css')
    link(rel='stylesheet', href='vendors/multi-select/css/multi-select-madmin.css')
    link(rel='stylesheet', href='vendors/jquery-notific8/jquery.notific8.min.css')
    link(rel='stylesheet', href='vendors/jquery-toastr/toastr.min.css')
    link(rel='stylesheet', href='vendors/calendar/zabuto_calendar.min.css')

    //CORE CSS 
    link(type="text/css", rel="stylesheet", href="css/bootstrap-custom.css")
    link(type="text/css", rel="stylesheet", href="css/themes/default.css")
    link(type="text/css", rel="stylesheet", href="css/themes/blue.css", id="color-style")
    link(type="text/css", rel="stylesheet", href="css/style.css")
    //CORE JS 
    script(src='vendors/jquery.sparkline.js')
    script(src='js/lib.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js')
    script (src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js')
    script (src='http://ui-grid.info/docs/grunt-scripts/csv.js')
    script (src='http://ui-grid.info/docs/grunt-scripts/pdfmake.js')
    script (src='http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js')
    script (src="vendors/angular-ui-grid/ui-grid-unstable.js')
    link(rel='stylesheet' href='vendors/angular-ui-grid/ui-grid-unstable.css')    
    script(src='js/main.js')
    //V JS

  body.topbar-fixed.sidebar-fixed(ng-app='ng-admin', ng-class="[header.header_topbar, header.boxed]")
    .default-page(ng-controller="AppController")

      //BEGIN TEMPLATE SETTING
      #temp-setting(ng-include="'templates/states/_includes/template-setting.html'", onload="loadtempsetting()")
      //END TEMPLATE SETTING

      //BEGIN TO TOP
      a#totop(href='#')
          i.fa.fa-angle-up
      //END BACK TO TOP

      #wrapper(ng-class="header.layout_menu")
          //BEGIN TOPBAR
          #topbar.navbar.navbar-default.navbar-static-top(role='navigation', ng-include="'templates/states/_includes/topbar.html'", style='margin-bottom: 0;', onload="loadTopbar()")
          //END TOPBAR

          //BEGIN SIDEBAR MENU
          #sidebar-wrapper(ng-include="'templates/states/_includes/sidebar.html'", ng-menu="", onload="loadSidebar()")
          //END SIDEBAR MENU

          //BEGIN PAGE WRAPPER
          #page-wrapper(ng-class="header.animation" , class="animated")

              //BEGIN PAGE HEADER & BREADCRUMB
              .page-header-breadcrumb(ng-include="'templates/states/_includes/header-breadcrumb.html'", onload="loadPageHeader()")
              //END PAGE HEADER & BREADCRUMB

              //BEGIN CONTENT
              .page-content(ng-view='')
              //END CONTENT

              //BEGIN FOOTER
              .page-footer
                  .copyright 2015 © V - Dojo Dashboard.
              //END FOOTER
          //END PAGE WRAPPER
    .extra-page(hide)
//BEGIN MODAL CONFIG PORTLET
.modal.fade#modal-config
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title Modal title
            .modal-body
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend et nisl eget porta. Curabitur elementum sem molestie nisl varius, eget tempus odio molestie. Nunc vehicula sem arcu, eu pulvinar neque cursus ac. Aliquam ultricies lobortis magna et aliquam. Vestibulum egestas eu urna sed ultricies. Nullam pulvinar dolor vitae quam dictum condimentum. Integer a sodales elit, eu pulvinar leo. Nunc nec aliquam nisi, a mollis neque. Ut vel felis quis tellus hendrerit placerat. Vivamus vel nisl non magna feugiat dignissim sed ut nibh. Nulla elementum, est a pretium hendrerit, arcu risus luctus augue, mattis aliquet orci ligula eget massa. Sed ut ultricies felis.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
//END MODAL CONFIG PORTLET