<!DOCTYPE html>
 <div class="photo">
    <a href="" data-ng-click="card.showIndex = !card.showIndex;mother.vm.selectItem(card.studentID,card.showIndex, card, true)">

        <div class="photo-index" data-ng-if="card.showIndex">
            <p style='font-size: large;' 
                data-ng-if="mother.vm.hasSelected(card.studentID)">{{card.name}} here!</p>
            <p style='font-size: small;' 
                data-ng-if="mother.vm.hasSelected(card.studentID)">{{card.rank}}</p>

            <p class="balloon-wrapper">
<!--                    <span class="balloon">{{card.$index}}</span> -->
                <span class="balloon">{{mother.vm.getAttendingCount()}}</span>
            </p>
            <p style='font-size: small;' 
                data-ng-if="mother.vm.hasSelected(card.studentID)">{{card.daynum}}</p>
            <p style='font-size: small;' 
                data-ng-if="mother.vm.hasSelected(card.studentID)">{{card.attended}}</p>
            <p style='font-size: small;' 
                data-ng-if="mother.vm.hasSelected(card.studentID)">{{card.class}}</p>
            <p style='font-size: small;' 
                data-ng-if="mother.vm.hasSelected(card.studentID)">{{card.MondayDOW}}</p>
            <p style='font-size: small;' 
                data-ng-if="mother.vm.hasSelected(card.studentID)">{{card.readynextrank}}</p>
            
        </div>

        <div class="photo-wrapper">
            <img src="" style='height:auto; max-width:100%;' data-ng-src="{{card.src}}" class="animation-fade" data-imageloaded data-loadedclass="animation-faded">
        </div>
        <div class="photo-description">
            <h3>{{card.name}}</h3>
        </div>
    </a>
 </div>
<div>
  <button type="button" 
    data-ng-click="mother.vm.setStudentReadyNextRank(card.studentID,card.readynextrank = !card.readynextrank)" 
    class="btn btn-default btn-sm">Ready?</button>

</div>        
