<!DOCTYPE html>
<div class="col-md-12">
  <div class="photo" style='min-height: 300px;'>
        <a href="" data-ng-click="card.showIndex = !card.showIndex;mother.vm.selectItem(card.studentID,card.showIndex, card, true)">

            <div class="mls photo-index" data-ng-if="card.showIndex" style='text-align: left; font-size: small;'>
                <p class="mls" data-ng-if="mother.vm.hasSelected(card.studentID)">{{card.firstname}}</p>
                <p class="mls" data-ng-if="mother.vm.hasSelected(card.studentID)">{{card.rank}}</p>

                <p class="balloon-wrapper">
                    <span ng-style="(card.readyness === true ) && {'background':'lightgreen','color':'black'}  || (card.readyness === false ) && {'background':'yellow','color':'black'}" class="balloon">{{mother.vm.getAttendingCount()}}</span>
                </p>
                <p class="mls" data-ng-if="mother.vm.hasSelected(card.studentID)">Time In?: {{card.daysSince}}</p>
                <p class="mls" data-ng-if="mother.vm.hasSelected(card.studentID)">Attend: {{card.daysAttended}}</p>
                <p class="mls" data-ng-if="mother.vm.hasSelected(card.studentID)">As of: {{card.MondayDOW}}</p>

            </div>

            <div class="mls photo-wrapper">
<!--                <img src="" style='height:auto; max-width:100%;' data-ng-src="{{card.src}}" class="animation-fade" data-imageloaded data-loadedclass="animation-faded">
-->
                <img src="" style='min-height:200px; max-width:100%;' data-ng-src="{{card.src}}" class="animation-fade" data-imageloaded data-loadedclass="animation-faded">

            </div>
            <div class="photo-description" style='text-align: center; font-size: large;'>
                {{card.firstname}}<br>{{card.lastname}}
            </div>
        </a>
    </div>
    <div style='text-align: center;'>
        <button type="button" data-ng-click="mother.vm.setStudentReadyNextRank(card.studentID,card.readyness = !card.readyness)" class="mbm btn btn-green btn-sm">Ready?</button>
        <button type="button" data-ng-click="mother.vm.checkAttendanceStats(card.studentID)" class="mbm btn btn-green btn-sm">Stats?</button>
        <div ng-show="mother.vm.hasStats(card.studentID)">
            <p class="mls" data-ng-if="mother.vm.hasStats(card.studentID)">Time In?: {{mother.vm.daysSince}}</p>
            <p class="mls" data-ng-if="mother.vm.hasStats(card.studentID)">Attend: {{mother.vm.daysAttended}}</p>
            <p class="mls" data-ng-if="mother.vm.hasStats(card.studentID)">Ready?: {{card.readyness}}</p>
        </div>
    </div>
</div>
