.row
    .col-lg-12
        .panel.panel-blue
            .panel-heading Form Register
            .panel-body
                form#form-register(method='post')
                    .row
                        .col-md-6
                            .form-group
                                label.control-label
                                    | First Name
                                    | &nbsp;
                                    span.required *
                                input.form-control(type='text', name='firstname')
                            .form-group
                                label.control-label
                                    | Last Name
                                    | &nbsp;
                                    span.required *
                                input.form-control(type='text', name='lastname')
                            .form-group
                                label.control-label
                                    | Email Address
                                    | &nbsp;
                                    span.required *
                                input.form-control(type='text', name='email')
                            .form-group
                                label.control-label
                                    | Password
                                    | &nbsp;
                                    span.required *
                                input#password.form-control(type='password', name='password')
                            .form-group
                                label.control-label
                                    | Confirm Password
                                    | &nbsp;
                                    span.required *
                                input#confirmpassword.form-control(type='password', name='confirmPassword')
                        .col-md-6
                            .form-group
                                label.control-label Gender
                                .radio-list
                                    label.radio-inline
                                        input(type='radio', name='gender', value='0', checked='checked')
                                        | &nbsp;
                                        | Male
                                    label.radio-inline
                                        input(type='radio', name='gender', value='1')
                                        | &nbsp;
                                        | Female
                            .row(style='margin-bottom:0;')
                                .col-md-4
                                    .form-group
                                        label.control-label
                                            | Zip Code
                                            | &nbsp;
                                            span.required *
                                        input.form-control(type='text', name='zipcode')
                                .col-md-8
                                    .form-group
                                        label.control-label
                                            | City
                                            | &nbsp;
                                            span.required *
                                        input.form-control(type='text', name='city')
                            .form-group
                                label.control-label Phone Number
                                input.form-control(type='text', name='phone')
                            hr
                            .form-group
                                label.control-label Would you like to review ng-admin emails?
                                .radio-list
                                    label.radio-inline
                                        input(type='radio', name='newsletter', value='0')
                                        | &nbsp;
                                        | Yes
                                    label.radio-inline
                                        input(type='radio', name='newsletter', value='1', checked='checked')
                                        | &nbsp;
                                        | No
                    .row
                        .col-md-12
                            div
                                span.required *
                                | &nbsp;
                                | Required fields
                    hr
                    .row
                        .col-md-8
                            label
                                input(type='checkbox')
                                | &nbsp;
                                | Please agree to our policy
                        .col-md-4
                            button.btn.btn-primary.btn-block(type='submit') Register
    .col-lg-6
        .panel.panel-green
            .panel-heading Validation Text & Icons
            .panel-body.pan
                form.form-horizontal.form-seperated(action='#')
                    .form-body
                        .form-group.has-success
                            label.col-md-3.control-label(for='inputFullName') Full Name <span class='require'>*</span>
                            .col-md-9
                                .input-icon.right
                                    i.fa.fa-check
                                    input#inputFullName.form-control(type='text', placeholder='Full Name')
                        .form-group.has-error
                            label.col-md-3.control-label(for='inputPassword') Password <span class='require'>*</span>
                            .col-md-9
                                .input-icon.right
                                    i.fa.fa-times
                                    input#inputPassword.form-control(type="password")
                                span.help-block.text-danger Sorry, wrong password!
                        .form-group.has-error
                            label.col-md-3.control-label(for='inputEmail') Email <span class='require'>*</span>
                            .col-md-9
                                .input-icon.right
                                    i.fa.fa-warning
                                    input.form-control(type="text", placeholder="Email Address")
                                span.help-block.text-danger Email is empty!
                    .form-actions.text-right.pal
                        button.btn.btn-primary.btn-outlined(type='button') Submit
                        | &nbsp;
                        button.btn.btn-green.btn-outlined(type='button') Cancel
    .col-lg-6
        .panel.panel-pink
            .panel-heading Validation Popover
            .panel-body.pan
                form.form-horizontal.form-seperated(action='#')
                    .form-body
                        .form-group.has-error
                            label.col-md-3.control-label(for='inputFullName') Full Name <span class='require'>*</span>
                            .col-md-5
                                .input-icon.right
                                    i.fa.fa-times
                                    input#inputFullName.form-control(type='text', placeholder='Full Name')
                            .col-md-4
                                .popover.popover-validator.right
                                    .arrow
                                    .popover-content
                                        p.mbn Full name is empty!
                        .form-group.has-error
                            label.col-md-3.control-label(for='inputPassword') Password <span class='require'>*</span>
                            .col-md-5
                                .input-icon.right
                                    i.fa.fa-times
                                    input#inputPassword.form-control(type="password")
                            .col-md-4
                                .popover.popover-validator.right
                                    .arrow
                                    .popover-content
                                        p.mbn Sorry, wrong password!
                        .form-group.has-error
                            label.col-md-3.control-label(for='inputEmail') Email <span class='require'>*</span>
                            .col-md-5
                                .input-icon.right
                                    i.fa.fa-warning
                                    input.form-control(type="text", placeholder="Email Address")
                            .col-md-4
                                .popover.popover-validator.right
                                    .arrow
                                    .popover-content
                                        p.mbn Email is empty!
                    .form-actions.text-right.pal
                        button.btn.btn-primary.btn-outlined(type='button') Submit
                        | &nbsp;
                        button.btn.btn-green.btn-outlined(type='button') Cancel    
    .col-lg-12
        .panel.panel-violet
            .panel-heading Advance Form Validation
            .panel-body
                h4.block-heading 
                form#advance-form.form-horizontal(method='post')
                    .form-group
                        label.col-lg-3.control-label Username
                        .col-lg-5
                            input.form-control(type='text', name='username')
                    .form-group
                        label.col-lg-3.control-label Country
                        .col-lg-5
                            select.form-control(name='country')
                                option(value='') -- Select a country --
                                option(value='fr') France
                                option(value='de') Germany
                                option(value='it') Italy
                                option(value='jp') Japan
                                option(value='ru') Russia
                                option(value='gb') United Kingdom
                                option(value='us') United State
                    .form-group
                        label.col-lg-3.control-label Email address
                        .col-lg-5
                            input.form-control(type='text', name='email')
                    .form-group
                        label.col-lg-3.control-label Website
                        .col-lg-5
                            input.form-control(type='text', name='website', placeholder='http://')
                    .form-group
                        label.col-lg-3.control-label Phone number
                        .col-lg-5
                            input.form-control(type='text', name='phoneNumber')
                    .form-group
                        label.col-lg-3.control-label Zip code
                        .col-lg-3
                            input.form-control(type='text', name='zipCode')
                    .form-group
                        label.col-lg-3.control-label Password
                        .col-lg-5
                            input#password1.form-control(type='password', name='password')
                    .form-group
                        label.col-lg-3.control-label Retype password
                        .col-lg-5
                            input#confirmpassword1.form-control(type='password', name='confirmPassword')
                    .form-group
                        label.col-lg-3.control-label Ages
                        .col-lg-3
                            input.form-control(type='text', name='ages')
                    .form-group
                        .col-lg-9.col-lg-offset-3
                            button.btn.btn-primary(type='submit') Submit



