.row#form-layouts-editstudent
    .col-lg-12(ng-tab="")
        ul.nav.nav-pills
            li.active
                a(href='#tab-two-columns', data-toggle='tab') Student Information
            li
                a(href='#tab-form-actions', data-toggle='tab') Class
            li
                a(href='#tab-form-seperated', data-toggle='tab') Payment
            li
                a(href='#tab-form-bordered', data-toggle='tab') Student History
        .tab-content.pan.mtl.mbn(style='background: transparent; border: 0;')
            #tab-two-columns.tab-pane.fade.in.active
                .row
                    div(ng-controller="FormLayoutsControllerEditStudent as vm")
                        .col-lg-12
                            .panel.panel-blue
                                .panel-heading Student
                                .panel-body.pan
                                    form.horizontal-form(action='')
                                        .form-body.pal
                                            h3.block-heading Personal
                                            .row
                                                .col-md-6
                                                    .form-group.has-success
                                                        label.control-label(for='inputFirstName') First Name <span class='require'>*</span>
                                                        .input-icon.right
                                                            i.glyphicon.glyphicon-ok.tooltips(data-hover='tooltip', data-original-title='Correct')
                                                            input#inputFirstName.form-control(type='text', placeholder='First Name' ng-model='vm.students.FirstName')
                                                .col-md-6
                                                    .form-group.has-error
                                                        label.control-label(for='inputLastName') Last Name <span class='require'>*</span>
                                                        .input-icon.right
                                                            i.glyphicon.glyphicon-remove.tooltips(data-hover='tooltip', data-original-title='Last Name is empty')
                                                            input#inputLastName.form-control(type="text", placeholder="Last Name" ng-model='vm.students.LastName')
                                            .row
                                                .col-md-6
                                                    .form-group
                                                        label.control-label(for='inputEmail') Email <span class='require'>*</span>
                                                        .input-icon
                                                            i.fa.fa-envelope
                                                            input.form-control(type="text", placeholder="Email Address" ng-model='vm.students.Email')
                                                .col-md-6
                                                    .form-group
                                                        label.control-label(for='selGender' ) Gender <span class='require'>*</span>
                                                           //<select ng-model="vm.students.sex">
                                                                <option ng-repeat="g in vm.genders" ng-selected="{{g==vm.students.sex}}" value="{{g}}">{{g}}</option>
                                                                </select>
                                                        pre {{vm.students.sex}}
                                                        select#selGender.form-control(ng-model='vm.students.sex')
                                                            option(ng-repeat='g in vm.genders', ng-selected='{{g==vm.students.sex}}' value='{{g}}') {{g}}
                                                            //option(value='' ng-if='vm.students.sex') Select gender
                                            .row
                                                .col-md-6
                                                    .form-group
                                                        label.control-label(for='inputBirthday') Birthday
                                                        input#inputBirthday.form-control(type="text", placeholder="dd/mm/yyyy")
                                                .col-md-6
                                                    .form-group
                                                        label.control-label(for='inputPhone') Phone
                                                        input#inputPhone.form-control(type="text", placeholder="" ng-model='vm.students.Phone')
                                            h3.block-heading Address
                                            .row
                                                .col-md-12
                                                    .form-group
                                                        label.control-label(for='inputStreet') Street <span class='require'>*</span>
                                                        input#inputStreet.form-control(type='text', placeholder='' ng-model='vm.students.Street')
                                            .row
                                                .col-md-6
                                                    .form-group
                                                        label.control-label(for='inputFirstName') District
                                                        input#inputDistrict.form-control(type='text', placeholder='')
                                                .col-md-6
                                                    .form-group
                                                        label.control-label(for='inputCity') City <span class='require'>*</span>
                                                        input#inputCity.form-control(type="text", placeholder="" ng-model='vm.students.City')
                                            .row
                                                .col-md-6
                                                    .form-group
                                                        label.control-label(for='inputPostCode') Post Code
                                                        input#inputPostCode.form-control(type='text', placeholder='' ng-model='vm.students.Zip')
                                                .col-md-6
                                                    .form-group
                                                        label.control-label(for='selCountry') Country
                                                        select#selCountry.form-control
                                                            option(value='') Select a Country
                                                            option(value='') United States
                                                            option(value='') England
                                                            option(value='') France
                                                            option(value='') Spain
                                        .form-actions.text-right.pal
                                            button.btn.btn-primary.btn-outlined(type='submit') Submit
                                            | &nbsp;
                                            button.btn.btn-green.btn-outlined(type='button') Cancel
                    .col-lg-12
                        .panel.panel-orange
                            .panel-heading Class
                            .panel-body.pan
                                form.form-horizontal(action='')
                                    .form-body.pal
                                        h3.block-heading Class Name
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='selClass') Class
                                                    .col-md-4
                                                        select#selCountry.form-control
                                                            option(value='') Select a Class
                                                            option(value='') Basic
                                                            option(value='') BBT1
                                                            option(value='') BBT2
                                                            option(value='') Black Belt
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='selClass') Class Type
                                                    .col-md-4
                                                        select#selCountry.form-control
                                                            option(value='') Select a Class Type
                                                            option(value='') a
                                                            option(value='') bb
                                                            option(value='') ccc
                                                            option(value='') dd
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='selGender') Gender <span class='require'>*</span>
                                                    .col-md-9
                                                        select#selGender.form-control
                                                            option(value='') Male
                                                            option(value='') Female
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='inputBirthday') Birthday
                                                    .col-md-9
                                                        input#inputBirthday.form-control(type="text", placeholder="dd/mm/yyyy")
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='inputPhone') Phone
                                                    .col-md-9
                                                        input#inputPhone.form-control(type="text", placeholder="")
                                        h3.block-heading Address
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='inputAddress1') Address 1 <span class='require'>*</span>
                                                    .col-md-9
                                                        input#inputAddress1.form-control(type='text', placeholder='')
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='inputAddress2') Address 2
                                                    .col-md-9
                                                        input#inputAddress2.form-control(type='text', placeholder='')
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='inputStates') States
                                                    .col-md-9
                                                        input#inputStates.form-control(type='text', placeholder='')
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='inputCity') City <span class='require'>*</span>
                                                    .col-md-9
                                                        input#inputCity.form-control(type="text", placeholder="")
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='inputPostCode') Post Code
                                                    .col-md-9
                                                        input#inputPostCode.form-control(type='text', placeholder='')
                                            .col-md-6
                                                .form-group
                                                    label.col-md-3.control-label(for='selCountry') Country
                                                    .col-md-9
                                                        select#selCountry.form-control
                                                            option(value='') Select a Country
                                                            option(value='') United States
                                                            option(value='') England
                                                            option(value='') France
                                                            option(value='') Spain
                                    .form-actions.text-right.pal
                                        button.btn.btn-primary.btn-outlined(type='submit') Submit
                                        | &nbsp;
                                        button.btn.btn-green.btn-outlined(type='button') Cancel
            #tab-form-actions.tab-pane.fade
                .row
                    .col-lg-6
                        .panel.panel-violet
                            .panel-heading Class Information
                            .panel-body.pan
                                form.form-horizontal(action='')
                                    .form-actions.top
                                        .col-md-offset-3.col-md-9
                                            button.btn.btn-primary.btn-outlined(type='submit') Send
                                            | &nbsp;
                                            button.btn.btn-green.btn-outlined(type='button') Cancel
                                    .form-body.pal
                                        .form-group
                                            label.col-md-3.control-label(for='selClass') Class
                                            .col-md-4
                                                select#selCountry.form-control
                                                    option(value='') Select a Class
                                                    option(value='') Basic
                                                    option(value='') BBT1
                                                    option(value='') BBT2
                                                    option(value='') Black Belt
                                        .form-group
                                            label.col-md-3.control-label(for='selClass') Class Type
                                            .col-md-4
                                                select#selCountry.form-control
                                                    option(value='') Select a Class Type
                                                    option(value='') a
                                                    option(value='') bb
                                                    option(value='') ccc
                                                    option(value='') dd
                                        .form-group
                                            label.col-md-3.control-label(for='inputAddress') Address <span class='require'>*</span>
                                            .col-md-9
                                                .input-icon.right
                                                    i.fa.fa-location-arrow
                                                    input.form-control(type="text", placeholder="Address")
                                        .form-group.mbn
                                            label.col-md-3.control-label(for='inputContent') Content
                                            .col-md-9
                                                textarea#inputContent.form-control(rows="3")

            #tab-form-seperated.tab-pane.fade
                .row
                    .col-lg-12
                        .panel.panel-yellow
                            .panel-heading Payment Information
                            .panel-body.pan
                                form.form-horizontal.form-seperated(action='')
                                    .form-body
                                        .form-group
                                            label.col-md-3.control-label(for='inputFirstName') First Name <span class='require'>*</span>
                                            .col-md-4
                                                input#inputFirstName.form-control(type='text', placeholder='First Name')
                                                span.help-block This is help text
                                        .form-group.has-error
                                            label.col-md-3.control-label(for='inputLastName') Last Name <span class='require'>*</span>
                                            .col-md-4
                                                .input-icon.right
                                                    i.glyphicon.glyphicon-remove
                                                    input#inputLastName.form-control(type="text", placeholder="Last Name")
                                                span.help-block.text-danger Please enter your Last Name!
                                        .form-group
                                            label.col-md-3.control-label(for='inputEmail') Email <span class='require'>*</span>
                                            .col-md-4
                                                .input-icon
                                                    i.fa.fa-envelope
                                                    input.form-control(type="text", placeholder="Email Address")
                                        .form-group
                                            label.col-md-3.control-label(for='selGender') Gender <span class='require'>*</span>
                                            .col-md-9
                                                .radio-list
                                                    label.radio-inline
                                                        input(type='radio', value='0', name='gender')
                                                        | &nbsp;
                                                        | Male
                                                    label.radio-inline
                                                        input(type='radio', value='1', name='gender')
                                                        | &nbsp;
                                                        | Female
                                        .form-group
                                            label.col-md-3.control-label(for='inputBirthday') Birthday
                                            .col-md-6
                                                .row
                                                    .col-md-2.col-xs-4
                                                        input#inputDay.form-control(type="text", placeholder="dd")
                                                    .col-md-2.col-xs-4
                                                        input#inputMonth.form-control(type="text", placeholder="mm")
                                                    .col-md-2.col-xs-4
                                                        input#inputYear.form-control(type="text", placeholder="yyyy")
                                        .form-group
                                            label.col-md-3.control-label(for='inputPhone') Phone
                                            .col-md-4
                                                .input-icon.right
                                                    i.fa.fa-mobile-phone
                                                    input#inputPhone.form-control(type="text", placeholder="")
                                        .form-group
                                            label.col-md-3.control-label(for='inputAddress1') Address 1 <span class='require'>*</span>
                                            .col-md-9
                                                input#inputAddress1.form-control(type='text', placeholder='')
                                        .form-group
                                            label.col-md-3.control-label(for='inputAddress2') Address 2
                                            .col-md-9
                                                input#inputAddress2.form-control(type='text', placeholder='')
                                        .form-group
                                            label.col-md-3.control-label(for='inputFirstName') District
                                            .col-md-4
                                                input#inputDistrict.form-control(type='text', placeholder='')
                                        .form-group
                                            label.col-md-3.control-label(for='inputCity') City <span class='require'>*</span>
                                            .col-md-4
                                                .input-icon.right
                                                    i.fa.fa-map-marker
                                                    input#inputCity.form-control(type="text", placeholder="")
                                        .form-group
                                            label.col-md-3.control-label(for='inputPostCode') Post Code <span class='require'>*</span>
                                            .col-md-6
                                                .row
                                                    .col-md-2.col-xs-4
                                                        input#inputPostCode.form-control(type='text', placeholder='')
                                                    .col-md-2.col-xs-4
                                                        input#inputPostCode.form-control(type='text', placeholder='')
                                        .form-group
                                            label.col-md-3.control-label(for='selCountry') Country
                                            .col-md-4
                                                select#selCountry.form-control
                                                    option(value='') Select a Country
                                                    option(value='') United States
                                                    option(value='') England
                                                    option(value='') France
                                                    option(value='') Spain
                                    .form-actions.text-right.pal
                                        button.btn.btn-primary.btn-outlined(type='submit') Submit
                                        | &nbsp;
                                        button.btn.btn-green.btn-outlined(type='button') Cancel

            #tab-form-bordered.tab-pane.fade
                .row
                    .col-lg-12
                        .panel.panel-blue
                            .panel-heading Student History
                            .panel-body.pan
                                form.form-horizontal.form-bordered(action='')
                                    .form-body
                                        .form-group
                                            label.col-md-3.control-label(for='inputFirstName') First Name <span class='require'>*</span>
                                            .col-md-4
                                                input#inputFirstName.form-control(type='text', placeholder='First Name')
                                                span.help-block This is help text
                                        .form-group.has-error
                                            label.col-md-3.control-label(for='inputLastName') Last Name <span class='require'>*</span>
                                            .col-md-4
                                                .input-icon.right
                                                    i.glyphicon.glyphicon-ok
                                                    input#inputLastName.form-control(type="text", placeholder="Last Name")
                                                span.help-block.text-danger Please enter your Last Name!
                                        .form-group
                                            label.col-md-3.control-label(for='inputEmail') Email <span class='require'>*</span>
                                            .col-md-4
                                                .input-icon
                                                    i.fa.fa-envelope
                                                    input.form-control(type="text", placeholder="Email Address")
                                        .form-group
                                            label.col-md-3.control-label(for='selGender') Gender <span class='require'>*</span>
                                            .col-md-9
                                                .radio-list
                                                    label.radio-inline
                                                        input(type='radio', value='0', name='gender')
                                                        | &nbsp;
                                                        | Male
                                                    label.radio-inline
                                                        input(type='radio', value='1', name='gender')
                                                        | &nbsp;
                                                        | Female
                                        .form-group
                                            label.col-md-3.control-label(for='inputBirthday') Birthday
                                            .col-md-6
                                                .row
                                                    .col-md-2.col-xs-4
                                                        input#inputDay.form-control(type="text", placeholder="dd")
                                                    .col-md-2.col-xs-4
                                                        input#inputMonth.form-control(type="text", placeholder="mm")
                                                    .col-md-2.col-xs-4
                                                        input#inputYear.form-control(type="text", placeholder="yyyy")
                                        .form-group
                                            label.col-md-3.control-label(for='inputPhone') Phone
                                            .col-md-4
                                                .input-icon.right
                                                    i.fa.fa-mobile-phone
                                                    input#inputPhone.form-control(type="text", placeholder="")
                                        .form-group
                                            label.col-md-3.control-label(for='inputAddress1') Address 1 <span class='require'>*</span>
                                            .col-md-9
                                                input#inputAddress1.form-control(type='text', placeholder='')
                                        .form-group
                                            label.col-md-3.control-label(for='inputAddress2') Address 2
                                            .col-md-9
                                                input#inputAddress2.form-control(type='text', placeholder='')
                                        .form-group
                                            label.col-md-3.control-label(for='inputFirstName') District
                                            .col-md-4
                                                input#inputDistrict.form-control(type='text', placeholder='')
                                        .form-group
                                            label.col-md-3.control-label(for='inputCity') City <span class='require'>*</span>
                                            .col-md-4
                                                .input-icon.right
                                                    i.fa.fa-map-marker
                                                    input#inputCity.form-control(type="text", placeholder="")
                                        .form-group
                                            label.col-md-3.control-label(for='inputPostCode') Post Code <span class='require'>*</span>
                                            .col-md-6
                                                .row
                                                    .col-md-2.col-xs-4
                                                        input#inputPostCode.form-control(type='text', placeholder='')
                                                    .col-md-2.col-xs-4
                                                        input#inputPostCode.form-control(type='text', placeholder='')
                                        .form-group
                                            label.col-md-3.control-label(for='selCountry') Country
                                            .col-md-4
                                                select#selCountry.form-control
                                                    option(value='') Select a Country
                                                    option(value='') United States
                                                    option(value='') England
                                                    option(value='') France
                                                    option(value='') Spain
                                    .form-actions.text-right.pal
                                        button.btn.btn-primary.btn-outlined(type='submit') Submit
                                        | &nbsp;
                                        button.btn.btn-green.btn-outlined(type='button') Cancel
