doctype html
- var stu_str = '{"fields":[{"type":"input","id":"FirstName","desc":"First Name","placeholder":"First Name","ngmodel":"vm.students.FirstName","ngchange":"vm.updateStudent","required":"TRUE","minLength":2,"maxLength":30,"format":"string","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"input","id":"LastName","desc":"LastName","placeholder":"Last Name","ngmodel":"vm.students.LastName","ngchange":"vm.updateStudent","required":"TRUE","minLength":2,"maxLength":30,"format":"string","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"input","id":"Email","desc":"Email","placeholder":"Email Address","ngmodel":"vm.students.Email","ngchange":"vm.updateStudent","required":"TRUE","minLength":null,"maxLength":80,"format":"email","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"input","id":"Email2","desc":"Email2","placeholder":"Alternate Email","ngmodel":"vm.students.Email2","ngchange":"vm.updateStudent","required":"FALSE","minLength":null,"maxLength":80,"format":"email","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"input","id":"Phone","desc":"Phone","placeholder":"","ngmodel":"vm.students.Phone","ngchange":"vm.updateStudent","required":"TRUE","minLength":null,"maxLength":null,"format":"phone","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"input","id":"AltPhone","desc":"AltPhone","placeholder":"","ngmodel":"vm.students.AltPhone","ngchange":"vm.updateStudent","required":"FALSE","minLength":null,"maxLength":null,"format":"phone","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"input","id":"phoneExt","desc":"PhoneExt","placeholder":"9999","ngmodel":"vm.students.phoneExt","ngchange":"vm.updateStudent","required":"FALSE","minLength":null,"maxLength":5,"format":"number","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"input","id":"altPhoneExt","desc":"AltPhoneExt","placeholder":"9999","ngmodel":"vm.students.altPhoneExt","ngchange":"vm.updateStudent","required":"FALSE","minLength":null,"maxLength":5,"format":"number","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"input","id":"Birthday","desc":"Birthday","placeholder":"mm/dd/yyyy","ngmodel":"vm.students.Birthday","ngchange":"vm.updateStudent","required":"FALSE","minLength":null,"maxLength":null,"format":"date","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"select","id":"sex","desc":"Gender","placeholder":"Select","ngmodel":"vm.students.sex","ngchange":"vm.updateStudent","required":"","minLength":null,"maxLength":null,"format":"","ngrepeat":"g in vm.genders","ngselected":"g==vm.students.sex","selvalue":"g","seldisplay":"g"},{"type":"input","id":"Parent","desc":"Parent","placeholder":"Parent Name","ngmodel":"vm.students.Parent","ngchange":"vm.updateStudent","required":"TRUE","minLength":2,"maxLength":30,"format":"string","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"input","id":"EmergencyContact","desc":"Emergency Contact","placeholder":"Emergency Contact Name","ngmodel":"vm.students.EmergencyContact","ngchange":"vm.updateStudent","required":"FALSE","minLength":2,"maxLength":80,"format":"string","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"textarea","id":"Notes","desc":"Notes","placeholder":"Enter notes","ngmodel":"vm.students.Notes","ngchange":"vm.updateStudent","required":"FALSE","minLength":null,"maxLength":null,"format":"string","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"textarea","id":"medicalConcerns","desc":"Medical Concerns","placeholder":"Enter Medical concerns","ngmodel":"vm.students.medicalConcerns","ngchange":"vm.updateStudent","required":"FALSE","minLength":null,"maxLength":null,"format":"string","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""}]}'
- var stu_formObj = JSON.parse(stu_str) 
- var addr_str = '{"fields":[{"type":"input","id":"Address","desc":"Address","placeholder":"999 Street Address","ngmodel":"vm.students.Address","ngchange":"vm.updateStudent","required":"TRUE","minLength":5,"maxLength":120,"format":"string","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"input","id":"City","desc":"City","placeholder":"City","ngmodel":"vm.students.City","ngchange":"vm.updateStudent","required":"TRUE","minLength":2,"maxLength":30,"format":"string","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"select","id":"ZIP","desc":"Zip/Postal Code","placeholder":"Select","ngmodel":"vm.students.ZIP","ngchange":"vm.updateStudent","required":"TRUE","minLength":null,"maxLength":null,"format":"","ngrepeat":"z in vm.zipList.zips","ngselected":"z==vm.students.ZIP","selvalue":"z.zip","seldisplay":"z.zip}} - {{z.city"}]}'
- var addr_formObj = JSON.parse(addr_str) 
- var dojo_str = '{"fields":[{"type":"select","id":"ContactType","desc":"Contact Type","placeholder":"Select","ngmodel":"vm.students.ContactType","ngchange":"vm.updateStudent","required":"FALSE","minLength":"","maxLength":"","format":"","ngrepeat":"iter in vm.StudentList.ContactTypeList","ngselected":"iter.listkey==vm.students.ContactType","selvalue":"iter.listkey","seldisplay":"iter.listvalue"},{"type":"select","id":"CurrentRank","desc":"Rank","placeholder":"Select","ngmodel":"vm.students.CurrentRank","ngchange":"vm.updateStudent","required":"TRUE","minLength":"","maxLength":"","format":"","ngrepeat":"iter in vm.RankList.rankList","ngselected":"iter.ranklist==vm.students.CurrentRank","selvalue":"iter.ranklist","seldisplay":"iter.ranklist"},{"type":"select","id":"CurrentReikiRank","desc":"Reiki Rank","placeholder":"Select","ngmodel":"vm.students.CurrentReikiRank","ngchange":"vm.updateStudent","required":"FALSE","minLength":"","maxLength":"","format":"","ngrepeat":"iter in vm.CurrentReikiRankList","ngselected":"iter==vm.students.CurrentReikiRank","selvalue":"iter","seldisplay":"iter"},{"type":"input","id":"quickbooklink","desc":"Quickbook Link","placeholder":"Quickbook","ngmodel":"vm.students.quickbooklink","ngchange":"vm.updateStudent","required":"FALSE","minLength":"","maxLength":"","format":"string","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"select","id":"StudentSchool","desc":"School","placeholder":"Select","ngmodel":"vm.students.StudentSchool","ngchange":"vm.updateStudent","required":"TRUE","minLength":"","maxLength":"","format":"","ngrepeat":"iter in vm.StudentList.StudentSchoolList","ngselected":"iter.listkey==vm.students.StudentSchool","selvalue":"iter.listkey","seldisplay":"iter.listvalue"},{"type":"select","id":"GuiSize","desc":"Gi Size","placeholder":"Size","ngmodel":"vm.students.GuiSize","ngchange":"vm.updateStudent","required":"FALSE","minLength":"","maxLength":"","format":"","ngrepeat":"iter in vm.StudentList.GuiSizeList","ngselected":"iter.listkey==vm.students.GuiSize","selvalue":"iter.listkey","seldisplay":"iter.listvalue"},{"type":"select","id":"ShirtSize","desc":"Shirt Size","placeholder":"Size","ngmodel":"vm.students.ShirtSize","ngchange":"vm.updateStudent","required":"FALSE","minLength":"","maxLength":"","format":"","ngrepeat":"iter in vm.StudentList.ShirtSizeList","ngselected":"iter.listkey==vm.students.ShirtSize","selvalue":"iter.listkey","seldisplay":"iter.listvalue"},{"type":"select","id":"BeltSize","desc":"Belt Size","placeholder":"Size","ngmodel":"vm.students.BeltSize","ngchange":"vm.updateStudent","required":"FALSE","minLength":"","maxLength":"","format":"","ngrepeat":"iter in vm.StudentList.BeltSizeList","ngselected":"iter.listkey==vm.students.BeltSize","selvalue":"iter.listkey","seldisplay":"iter.listvalue"},{"type":"checkbox","id":"InstructorPaymentFree","desc":"Instr. Payment Free","placeholder":"","ngmodel":"vm.students.InstructorPaymentFree","ngchange":"vm.updateStudent","required":"FALSE","minLength":"","maxLength":"","format":"checkbox","ngrepeat":"","ngselected":"","selvalue":"","seldisplay":""},{"type":"select","id":"instructorTitle","desc":"Title","placeholder":"Select","ngmodel":"vm.students.instructorTitle","ngchange":"vm.updateStudent","required":"FALSE","minLength":"","maxLength":"","format":"","ngrepeat":"iter in vm.StudentList.instructorTitleList","ngselected":"iter.listkey==vm.students.instructorTitle","selvalue":"iter.listkey","seldisplay":"iter.listvalue"}]}'
- var dojo_formObj = JSON.parse(dojo_str)
include ../mixins/formerr.jade
include ../mixins/formgen.jade

        
.row#form-layouts-editstudent
    .col-lg-12
        tabset(type='pills')
            tab#tab-student(heading='Student Information')
                .row
                    div(ng-controller="FormLayoutsControllerEditStudent as vm")
                        .col-lg-12
                            .panel.panel-blue
                                .panel-heading Student
                                .panel-body.pan
                                  -var formnm="editstudent"
                                   form.horizontal-form(action='', novalidate, name='#{formnm}')
                                    .form-body.pal
                                      | <h3 class="block-heading">Student Information</h3>
                                      - var columns=2
                                      +formgen(stu_formObj,columns)
                                                        
                                      | <h3 class="block-heading">Address Information</h3>
                                      - var acolumns=2
                                      +formgen(addr_formObj,acolumns)
                                                                
                                      | <h3 class="block-heading">Dojo Information</h3>
                                      - var bcolumns=2
                                      +formgen(dojo_formObj,bcolumns)
                                                                
            tab#tab-student(heading='Class')
                .row
                    .col-lg-12
                        .portlet.box.portlet-orange
                            .portlet-header
                                .caption Media Gallery
                                .tools
                                    i.fa.fa-chevron-up
                                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                                    i.fa.fa-refresh
                                    i.fa.fa-times
                            .portlet-body
                                .gallery-pages
                                        ul.list-filter.list-unstyled(style="float: left;")
                                            li.filter.active(data-filter='all') All
                                            li.filter(data-filter='.adult') Adult
                                            li.filter(data-filter='.children') Children
                                            li.filter(data-filter='.special') Special
                                            li.filter(data-filter='.blackbelt') Blackbelt
                                        .action-group.btn-group.pull-right.mtm.mbm
                                            button.btn.btn-primary 
                                                i.fa.fa-upload.mrs
                                                | Add new
                                            button.btn.btn-primary 
                                                i.fa.fa-edit.mrs
                                                | Edit 
                                            button.btn.btn-primary 
                                                i.fa.fa-trash-o.mrs
                                                | Delete
                                        .clearfix
                                        .row.mix-grid
                                            .col-md-3.mix.adult
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/adult.jpg', alt='')
                                                    .info
                                                        h3 Adult
                                                        a.mix-link(href='#')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/adult.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.adult.blackbelt
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/adultblackbelt.jpg', alt='')
                                                    .info
                                                        h3 Blackbelt Adult
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/adultblackbelt.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.children.special
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/afterschool.jpg', alt='')
                                                    .info
                                                        h3 After School
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/afterschool.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.children
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/basicdragon.jpg', alt='')
                                                    .info
                                                        h3 Basic Dragon
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/basicdragon.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-12
                                            .col-md-3.mix.children
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/bbt1purple.jpg', alt='')
                                                    .info
                                                        h3 BBT1 - Purple - B/G
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/bbt1purple.jpg')
                                                            i.glyphicon.glyphicon-search
                                            
                                            .col-md-3.mix.children
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/bbt1leopard.jpg', alt='')
                                                    .info
                                                        h3 BBT1 Leopard
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/bbt1leopard.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.children
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/bbt2.jpg', alt='')
                                                    .info
                                                        h3 BBT2 - Green
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/bbt2.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.children
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/bbt3.jpg', alt='')
                                                    .info
                                                        h3 BBT3 - Brown
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/bbt3.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-12
                                            .col-md-3.mix.special
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/inactive.jpg', alt='')
                                                    .info
                                                        h3 Inactive
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/inactive.jpg')
                                                            i.glyphicon.glyphicon-search
                                            
                                            .col-md-3.mix.special
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/injured.jpg', alt='')
                                                    .info
                                                        h3 Injured
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/injured.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.blackbelt.children
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/jrblackbelt.jpg', alt='')
                                                    .info
                                                        h3 Blackbelt Jr
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/jrblackbelt.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.adult.special
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/kickbox.jpg', alt='')
                                                    .info
                                                        h3 Kickboxing
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/kickbox.jpg')
                                                            i.glyphicon.glyphicon-search            
                                            .col-md-12
                                            .col-md-3.mix.children
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/leopards.jpg', alt='')
                                                    .info
                                                        h3 Basic Leopard
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/leopards.jpg')
                                                            i.glyphicon.glyphicon-search
                                            
                                            .col-md-3.mix.children
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/multiclass.jpg', alt='')
                                                    .info
                                                        h3 BBT - Multiclasses
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/multiclass.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.adult.special
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/private.jpg', alt='')
                                                    .info
                                                        h3 Privates Adult
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/private.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.children.special
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/privatechild.jpg', alt='')
                                                    .info
                                                        h3 Privates Children
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/privatechild.jpg')
                                                            i.glyphicon.glyphicon-search            
                                            .col-md-12
                                            .col-md-3.mix.special
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/saturday.png', alt='')
                                                    .info
                                                        h3 Saturday Only
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/saturday.png')
                                                            i.glyphicon.glyphicon-search
                                            
                                            .col-md-3.mix.special.adult
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/selfdefence.jpg', alt='')
                                                    .info
                                                        h3 Self Defense
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/selfdefence.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.special
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/specialneeds.jpg', alt='')
                                                    .info
                                                        h3 Special Needs
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/specialneeds.jpg')
                                                            i.glyphicon.glyphicon-search
                                            .col-md-3.mix.adult.special
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/taichi.jpg', alt='')
                                                    .info
                                                        h3 TaiChi
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/taichi.jpg')
                                                            i.glyphicon.glyphicon-search            
                                            .col-md-12
                                            .col-md-3.mix.special
                                                .hover-effect
                                                    .img
                                                        img.img-responsive(src='images/classes/zumba.jpg', alt='')
                                                    .info
                                                        h3 Zoomba
                                                        a.mix-link(href='javascript:void(0);')
                                                            i.glyphicon.glyphicon-link
                                                        a.mix-zoom(href='images/classes/zumba.jpg')
                                                            i.glyphicon.glyphicon-search
            tab#tab-student(heading='Payment')
            tab#tab-student(heading='Student History')
