.row
    .col-md-12
        .panel
            .panel-body
                .invoice-title
                    h2.text-primary Invoice
                    h3.pull-right Order 
                        span.text-orange #12345
                hr
                .well
                    .row
                        .col-md-6
                            address
                                strong Billed To:
                                br
                                | John Smith
                                br
                                | 1234 Main
                                br
                                | Apt. 4B
                                br
                                | Springfield, ST 54321
                        .col-md-6
                            address
                                strong Shipped To:
                                br
                                | Jane Smith
                                br
                                | 1234 Main
                                br
                                | Apt. 4B
                                br
                                | Springfield, ST 54321
                    .row
                        .col-md-6
                            address
                                strong Payment Method:
                                br
                                | Visa ending **** 4242
                                br
                                | example@email.com
                        .col-md-6
                            address
                                strong Order Date:
                                | March 7, 2014
                                br
                                strong Order Status:
                                <span class="label label-success">Success</span>
                                br
                h4.block-heading Order summary
                .table-responsive
                    table.table.table-condensed
                        thead
                            tr
                                td
                                    strong Item
                                td.text-center
                                    strong Price
                                td.text-center
                                    strong Quantity
                                td.text-right
                                    strong Totals
                        tbody
                            tr
                                td BS-200
                                td.text-center $10.99
                                td.text-center 1
                                td.text-right $10.99
                            tr
                                td BS-400
                                td.text-center $20.00
                                td.text-center 3
                                td.text-right $60.00
                            tr
                                td BS-1000
                                td.text-center $600.00
                                td.text-center 1
                                td.text-right $600.00
                            tr
                                td.thick-line
                                td.thick-line
                                td.thick-line.text-center
                                    strong Subtotal
                                td.thick-line.text-right $670.99
                            tr
                                td.no-line
                                td.no-line
                                td.no-line.text-center
                                    strong Shipping
                                td.no-line.text-right $15
                            tr
                                td.no-line
                                td.no-line
                                td.no-line.text-center
                                    strong Total
                                td.no-line.text-right $685.99

