.row.mbxxl
    .col-md-12
        .pricing-table.pricing-static
            .plan
                h3 Basic
                .price-box
                    .price-number $30/<span>m</span>
                ul.list-unstyled
                    li
                        p Number of Download
                        span
                            i.fa.fa-download
                            | &nbsp;
                            | 30
                    li
                        p Video Support
                        span
                            i.fa.fa-video-camera
                            | &nbsp;
                            | Yes
                    li
                        p Operating System
                        span
                            i.fa.fa-android
                            | &nbsp;
                            | Android
                a.btn.btn-block.btn-primary.btn-lg.mtxl(href='javascript:void(0);') Sign Up
            .plan.active
                h3 Professional
                .price-box
                    .price-number $60/<span>m</span>
                ul.list-unstyled
                    li
                        p Number of Download
                        span
                            i.fa.fa-download
                            | &nbsp;
                            | 80
                    li
                        p Video Support
                        span
                            i.fa.fa-video-camera
                            | &nbsp;
                            | Yes
                    li
                        p Operating System
                        span
                            i.fa.fa-android
                            | &nbsp;
                            | Android
                a.btn.btn-block.btn-white.btn-lg.mtxl(href='javascript:void(0);') Sign Up
            .plan
                h3 Premium
                .price-box
                    .price-number $90/<span>m</span>
                ul.list-unstyled
                    li
                        p Number of Download
                        span
                            i.fa.fa-download
                            | &nbsp;
                            | 99
                    li
                        p Video Support
                        span
                            i.fa.fa-video-camera
                            | &nbsp;
                            | Yes
                    li
                        p Operating System
                        span
                            i.fa.fa-android
                            | &nbsp;
                            | Android
                a.btn.btn-block.btn-primary.btn-lg.mtxl(href='javascript:void(0);') Sign Up
.row
    .col-md-12
        .pricing-table.pricing-dynamic
            .col-md-3
                .plan
                    h3 Basic
                    .price-box
                        .price-number Free
                    ul.list-unstyled
                        li
                            p Number of Download
                            span
                                i.fa.fa-download
                                | &nbsp;
                                | 10
                        li
                            p Video Support
                            span
                                i.fa.fa-video-camera
                                | &nbsp;
                                | No
                        li
                            p Operating System
                            span
                                i.fa.fa-android
                                | &nbsp;
                                | Android
                    a.btn.btn-block.btn-lg.mtxl(href='javascript:void(0);') Sign Up
            .col-md-3
                .plan
                    h3 Standard
                    .price-box
                        .price-number $30/<span>m</span>
                    ul.list-unstyled
                        li
                            p Number of Download
                            span
                                i.fa.fa-download
                                | &nbsp;
                                | 60
                        li
                            p Video Support
                            span
                                i.fa.fa-video-camera
                                | &nbsp;
                                | Yes
                        li
                            p Operating System
                            span
                                i.fa.fa-android
                                | &nbsp;
                                | Android
                    a.btn.btn-block.btn-lg.mtxl(href='javascript:void(0);') Sign Up
            .col-md-3
                .plan
                    h3 Bussiness
                    .price-box
                        .price-number $60/<span>m</span>
                    ul.list-unstyled
                        li
                            p Number of Download
                            span
                                i.fa.fa-download
                                | &nbsp;
                                | 80
                        li
                            p Video Support
                            span
                                i.fa.fa-video-camera
                                | &nbsp;
                                | Yes
                        li
                            p Operating System
                            span
                                i.fa.fa-android
                                | &nbsp;
                                | Android
                    a.btn.btn-block.btn-lg.mtxl(href='javascript:void(0);') Sign Up
            .col-md-3
                .plan
                    h3 Advanced
                    .price-box
                        .price-number $90/<span>m</span>
                    ul.list-unstyled
                        li
                            p Number of Download
                            span
                                i.fa.fa-download
                                | &nbsp;
                                | 99
                        li
                            p Video Support
                            span
                                i.fa.fa-video-camera
                                | &nbsp;
                                | Yes
                        li
                            p Operating System
                            span
                                i.fa.fa-android
                                | &nbsp;
                                | Android
                    a.btn.btn-block.btn-lg.mtxl(href='javascript:void(0);') Sign Up

