<!DOCTYPE html>

<div ng-controller="AttendanceTableBasicController as vm">
  <div class="row">
    <div class="col-lg-12">
      <div class="portlet box portlet-green">
        <div class="portlet-header">
          <div class="row">
            <div class="caption">Attenance List</div>
          </div>
        </div>
        <div class="portlet-body">
          <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-cellNav ui-grid-edit class="mygrid"></div>
        </div>
      </div>
    </div>
  </div>
</div>

