.row
    .col-lg-6
        .portlet.portlet-green
            .portlet-header
                .caption Contextual Row
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th #
                            th Column
                            th Column
                            th Column
                    tbody
                        tr.active
                            td 1
                            td active
                            td active
                            td active
                        tr.success
                            td 2
                            td success
                            td success
                            td success
                        tr.warning
                            td 3
                            td warning
                            td warning
                            td warning
                        tr.danger
                            td 4
                            td danger
                            td danger
                            td danger
                        tr.danger
                            td 4
                            td danger
                            td danger
                            td danger
        .portlet.portlet-orange
            .portlet-header
                .caption Simple Table
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                table.table.table-hover
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked
        .portlet.portlet-yellow
            .portlet-header
                .caption Condensed Table
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                table.table.table-hover.table-condensed
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked
    .col-lg-6
        .portlet.portlet-pink
            .portlet-header
                .caption Contextual Column
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th #
                            th Column
                            th Column
                            th Column
                            th Column
                    tbody
                        tr
                            td 1
                            td.active active
                            td.success success
                            td.warning warning
                            td.danger danger
                        tr
                            td 2
                            td.active active
                            td.success success
                            td.warning warning
                            td.danger danger
                        tr
                            td 3
                            td.active active
                            td.success success
                            td.warning warning
                            td.danger danger
                        tr
                            td 4
                            td.active active
                            td.success success
                            td.warning warning
                            td.danger danger
                        tr
                            td 5
                            td.active active
                            td.success success
                            td.warning warning
                            td.danger danger
        .portlet.portlet-primary
            .portlet-header
                .caption Striped Table
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                table.table.table-hover.table-striped
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked
        .portlet.portlet-violet
            .portlet-header
                .caption Bordered Table
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th #
                            th Username
                            th Age
                            th Status
                    tbody
                        tr
                            td 1
                            td Henry
                            td 23
                            td
                                span.label.label-sm.label-success Approved
                        tr
                            td 2
                            td John
                            td 45
                            td
                                span.label.label-sm.label-info Pending
                        tr
                            td 3
                            td Larry
                            td 30
                            td
                                span.label.label-sm.label-warning Suspended
                        tr
                            td 4
                            td Lahm
                            td 15
                            td
                                span.label.label-sm.label-danger Blocked
    .col-lg-12
        .portlet.portlet-green
            .portlet-header
                .caption Datatable with tools
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .table-tools
                    .row
                        .col-lg-5.mbs
                            button.btn.btn-red(type='button').mrs
                                i.fa.fa-plus
                                | &nbsp; Add New
                            button.btn.btn-primary(type='button').mrs
                                i.fa.fa-print
                                | &nbsp; Print
                            button.btn.btn-primary(type='button').mrs
                                i.fa.fa-file-text-o
                                | &nbsp; PDF
                            button.btn.btn-primary(type='button').mrs
                                i.fa.fa-copy
                                | &nbsp; Excel
                        .col-lg-3
                            .form-inline
                                .form-group
                                    select.form-control
                                        option 10
                                        option 15
                                        option 20
                                        option 30
                                    | &nbsp;
                                    label.control-label Records per page
                        .col-lg-4
                            .form-inline.text-right
                                .form-group
                                    | &nbsp;
                                    input.form-control(type='text')
                                    label.control-label Search
                .table-responsive.mtl
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th Rendering engine
                                th Browser
                                th Platform(s)
                                th Engine version
                                th CSS grade
                                th(width='3%') Edit
                                th(width='4%') Delete
                        tbody

                            tr.odd.gradeA
                                td Trident
                                td
                                    | Internet
                                    | Explorer 5.5
                                td Win 95+
                                td.center 5.5
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.even.gradeA
                                td Trident
                                td
                                    | Internet
                                    | Explorer 6
                                td Win 98+
                                td.center 6
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.odd.gradeA
                                td Trident
                                td Internet Explorer 7
                                td Win XP SP2+
                                td.center 7
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.even.gradeA
                                td Trident
                                td AOL browser (AOL desktop)
                                td Win XP
                                td.center 6
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Firefox 1.0
                                td Win 98+ / OSX.2+
                                td.center 1.7
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete

                            tr.gradeA
                                td Gecko
                                td Firefox 3.0
                                td Win 2k+ / OSX.3+
                                td.center 1.9
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                .tool-footer.text-right
                    p.pull-left Showing 1 to 10 of 57 entries
                    ul.pagination
                        li
                            a(href="#") &laquo;
                        li
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                        li
                            a(href="#") 4
                        li
                            a(href="#") &raquo;      
    .col-lg-12
        .portlet.portlet-orange
            .portlet-header
                .caption DATATABLE FILTERING USING "INPUT"
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .table-tools
                    .row
                        .col-lg-9
                            .form-inline
                                .form-group
                                    select.form-control
                                        option 10
                                        option 15
                                        option 20
                                        option 30
                                    | &nbsp;
                                    label.control-label Records per page
                        .col-lg-3
                            .form-inline.text-right
                                .form-group
                                    | &nbsp;
                                    input.form-control(type='text')
                                    label.control-label Search
                .table-responsive.mtl
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th Rendering engine
                                th Browser
                                th Platform(s)
                                th Engine version
                                th CSS grade
                                th(width='3%') Edit
                                th(width='4%') Delete
                            tr
                                th
                                    input.form-control(placeholder='Search Rendering')
                                th
                                    input.form-control(placeholder='Search Browser')
                                th
                                    input.form-control(placeholder='Search Platform')
                                th
                                    input.form-control(placeholder='Search Engine')
                                th
                                    input.form-control(placeholder='Search CSS grade')
                                th

                                th

                        tbody

                            tr.odd.gradeA
                                td Trident
                                td
                                    | Internet
                                    | Explorer 5.5
                                td Win 95+
                                td.center 5.5
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.even.gradeA
                                td Trident
                                td
                                    | Internet
                                    | Explorer 6
                                td Win 98+
                                td.center 6
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.odd.gradeA
                                td Trident
                                td Internet Explorer 7
                                td Win XP SP2+
                                td.center 7
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.even.gradeA
                                td Trident
                                td AOL browser (AOL desktop)
                                td Win XP
                                td.center 6
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Firefox 1.0
                                td Win 98+ / OSX.2+
                                td.center 1.7
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete

                            tr.gradeA
                                td Gecko
                                td Firefox 3.0
                                td Win 2k+ / OSX.3+
                                td.center 1.9
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr
                                th
                                    input.form-control(placeholder='Search Rendering')
                                th
                                    input.form-control(placeholder='Search Browser')
                                th
                                    input.form-control(placeholder='Search Platform')
                                th
                                    input.form-control(placeholder='Search Engine')
                                th
                                    input.form-control(placeholder='Search CSS grade')
                                th

                                th
                .tool-footer.text-right
                    p.pull-left Showing 1 to 10 of 57 entries
                    ul.pagination
                        li
                            a(href="#") &laquo;
                        li
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                        li
                            a(href="#") 4
                        li
                            a(href="#") &raquo;
    .col-lg-12
        .portlet.portlet-violet
            .portlet-header
                .caption DATATABLE FILTERING USING "SELECT" ELEMENTS 
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .table-tools
                    .row
                        .col-lg-9
                            .form-inline
                                .form-group
                                    select.form-control
                                        option 10
                                        option 15
                                        option 20
                                        option 30
                                    | &nbsp;
                                    label.control-label Records per page
                        .col-lg-3
                            .form-inline.text-right
                                .form-group
                                    | &nbsp;
                                    input.form-control(type='text')
                                    label.control-label Search
                .table-responsive.mtl
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th Rendering engine
                                th Browser
                                th Platform(s)
                                th Engine version
                                th CSS grade
                                th(width='3%') Edit
                                th(width='4%') Delete
                            tr
                                th
                                    select.form-control
                                        option All
                                        option Trident
                                        option Gecko

                                th
                                    select.form-control
                                        option All
                                        option Internet Explorer 4.0
                                        option AOL browser
                                        option Firefox 1.0
                                        option Firefox 1.5
                                        option Firefox 2.0
                                        option Firefox 3.0
                                th
                                    select.form-control
                                        option All
                                        option Win 95+
                                        option Win 98+
                                        option Win XP
                                        option Win XP SP2+
                                        option Win 98+ / OSX.2+
                                        option Win 2k+ / OSX.3+
                                th
                                    select.form-control
                                        option All
                                        option 4
                                        option 5
                                        option 6
                                        option 1.8
                                        option 1.9
                                        option 3.0
                                th
                                    select.form-control
                                        option All
                                        option X
                                        option C
                                        option A
                                th
                                th
                        tbody
                            tr.odd.gradeA
                                td Trident
                                td
                                    | Internet
                                    | Explorer 5.5
                                td Win 95+
                                td.center 5.5
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.even.gradeA
                                td Trident
                                td
                                    | Internet
                                    | Explorer 6
                                td Win 98+
                                td.center 6
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.odd.gradeA
                                td Trident
                                td Internet Explorer 7
                                td Win XP SP2+
                                td.center 7
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.even.gradeA
                                td Trident
                                td AOL browser (AOL desktop)
                                td Win XP
                                td.center 6
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.gradeA
                                td Gecko
                                td Firefox 1.0
                                td Win 98+ / OSX.2+
                                td.center 1.7
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete

                            tr.gradeA
                                td Gecko
                                td Firefox 3.0
                                td Win 2k+ / OSX.3+
                                td.center 1.9
                                td.center A
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr
                                th
                                    select.form-control
                                        option All
                                        option Trident
                                        option Gecko

                                th
                                    select.form-control
                                        option All
                                        option Internet Explorer 4.0
                                        option AOL browser
                                        option Firefox 1.0
                                        option Firefox 1.5
                                        option Firefox 2.0
                                        option Firefox 3.0
                                th
                                    select.form-control
                                        option All
                                        option Win 95+
                                        option Win 98+
                                        option Win XP
                                        option Win XP SP2+
                                        option Win 98+ / OSX.2+
                                        option Win 2k+ / OSX.3+
                                th
                                    select.form-control
                                        option All
                                        option 4
                                        option 5
                                        option 6
                                        option 1.8
                                        option 1.9
                                        option 3.0
                                th
                                    select.form-control
                                        option All
                                        option X
                                        option C
                                        option A
                                th
                                th
                .tool-footer.text-right
                    p.pull-left Showing 1 to 10 of 57 entries
                    ul.pagination
                        li
                            a(href="#") &laquo;
                        li
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                        li
                            a(href="#") 4
                        li
                            a(href="#") &raquo;