<!DOCTYPE html>

<div ng-controller="TestCandidateTableBasicController as vm"
        ng-init="active[vm.getActiveTab()]= true">

      <div class="panel panel-orange">
        <div class="panel-heading">Test Candidates</div>
      </div>

    <uib-tabset type="pills" >
      <uib-tab 
            id="tab-test" 
            heading="Select Candidates"
            active="active.TestCandidate"
      >
        
      <div class="panel panel-green">
        <div class="panel-heading">Filters</div>
        <div class="panel-body ">

          <div class="col-lg-12">
            <div class="row col-md-12" style="height: 70px;">
                <div class="select-box ">
                  <div class="col-md-7">
                  <ui-select  ng-model="vm.TestCandidateSelected" 
                              theme="bootstrap" 
                              reset-search-input="false"
                              on-select="vm.getTestDates($item);"
                              style="width: 300px;" 
                              title="Filter for a Test"
                              append-to-body="false">
                    <ui-select-match placeholder="Filter the TestCandidates...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices 
                    repeat="TestCandidate in vm.testcandidatenames | filter: $select.search track by $index"
                    refresh="vm.gettestcandidateNames($select.search)"
                    refresh-delay="0">
                      <div id="candidatepicklist" ng-bind-html="TestCandidate.name | highlight: $select.search"></div>
                    </ui-select-choices>
                    <ui-select-no-choice>
                      Dang!  We couldn't find any choices...
                    </ui-select-no-choice>                    
                  </ui-select>
                  </div>
                </div>
                <div class="col-md-5">
                  <button ng-click="vm.gettestcandidateDetails(vm.TestCandidateSelected)" class="btn btn-green btn-default TestCandidateCreation">Refresh List</button>
                </div>
              </div>     
          </div>

          <div class="col-lg-12 row">
          <form action="" novalidate name="edittest" class="form-horizontal">
            <div class="form-body pal">
              <h3 class="block-heading"> {{vm.testdatelist.eventtype}} from: {{vm.testdatelist.starttime |amDateFormat:'h:mm a'}} to: {{vm.testdatelist.endtime |amDateFormat:'h:mm a'}}</h3>
              <div class="row">
                <div class="col-md-3">
                  <div ng-class="{'has-error': edittest.tester1.$invalid, 'has-success': !edittest.tester1.$invalid}" class="form-group">
                    <label for="inputtester1" class="control-label">Tester </label>
                    <div class="input-icon right">
                      <i data-hover="tooltip" data-original-title="Correct" ng-show="edittest.tester1.$dirty" ng-class="edittest.tester1.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                      <select id="inputtester1" type="text" name="tester1" 
                        ng-model="vm.testdatelist.tester1" 
                        ng-change="vm.updateTest()" 
                      required
                      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                        <option ng-repeat="instructor in vm.instructorlist" ng-selected="{{instructor.name==vm.testdatelist.tester1}}" placeholder="Select" value="{{instructor.name}}">{{instructor.name}}</option>
                      </select>
                    </div>
                    <div style="color:maroon" role="alert" ng-messages="edittest.tester1.$error" class="has-error">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="email">Your email is missing @ and/or a period</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div ng-class="{'has-error': edittest.tester2.$invalid, 'has-success': !edittest.tester2.$invalid}" class="form-group">
                    <label for="inputtester2" class="control-label">Tester </label>
                    <div class="input-icon right">
                      <i data-hover="tooltip" data-original-title="Correct" ng-show="edittest.tester2.$dirty" ng-class="edittest.tester2.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                      <select id="inputtester2" type="text" name="tester2" 
                        ng-model="vm.testdatelist.tester2" 
                        ng-change="vm.updateTest()" 
                      required
                      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                        <option ng-repeat="instructor in vm.instructorlist" ng-selected="{{instructor.name==vm.testdatelist.tester2}}" placeholder="Select" value="{{instructor.name}}">{{instructor.name}}</option>
                      </select>
                    </div>
                    <div style="color:maroon" role="alert" ng-messages="edittest.tester2.$error" class="has-error">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="email">Your email is missing @ and/or a period</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div ng-class="{'has-error': edittest.tester3.$invalid, 'has-success': !edittest.tester3.$invalid}" class="form-group">
                    <label for="inputtester3" class="control-label">Tester </label>
                    <div class="input-icon right">
                      <i data-hover="tooltip" data-original-title="Correct" ng-show="edittest.tester3.$dirty" ng-class="edittest.tester3.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                      <select id="inputtester3" type="text" name="tester3" 
                        ng-model="vm.testdatelist.tester3" 
                        ng-change="vm.updateTest()" 
                      required
                      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                        <option ng-repeat="instructor in vm.instructorlist" ng-selected="{{instructor.name==vm.testdatelist.tester3}}" placeholder="Select" value="{{instructor.name}}">{{instructor.name}}</option>
                      </select>
                    </div>
                    <div style="color:maroon" role="alert" ng-messages="edittest.tester3.$error" class="has-error">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="email">Your email is missing @ and/or a period</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div ng-class="{'has-error': edittest.tester4.$invalid, 'has-success': !edittest.tester4.$invalid}" class="form-group">
                    <label for="inputtester4" class="control-label">Tester </label>
                    <div class="input-icon right">
                      <i data-hover="tooltip" data-original-title="Correct" ng-show="edittest.tester4.$dirty" ng-class="edittest.tester4.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                      <select id="inputtester4" type="text" name="tester4" 
                        ng-model="vm.testdatelist.tester4" 
                        ng-change="vm.updateTest()" 
                      required
                      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                        <option ng-repeat="instructor in vm.instructorlist" ng-selected="{{instructor.name==vm.testdatelist.tester4}}" placeholder="Select" value="{{instructor.name}}">{{instructor.name}}</option>
                      </select>
                    </div>
                    <div style="color:maroon" role="alert" ng-messages="edittest.tester4.$error" class="has-error">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="email">Your email is missing @ and/or a period</div>
                    </div>
                  </div>
                </div>
              </div>

           </div>
          </form>
          </div>
          <div class="row">          
            <div class="col-md-12 text-center"><h3>Test Candidate Pick List</h3></div>
            <div class="row col-md-5">
                 <div ui-grid="vm.gridOptions" ng-style="{height: (30*11)+140+'px'}"
                      ui-grid-pagination ui-grid-cellNav ui-grid-auto-resize 
                      ui-grid-resize-columns ui-grid-pinning ui-grid-edit
                      ui-grid-selection ui-grid-move-columns  
                      ui-grid-exporter
                      class="mygrid" >
                    <div class="watermark" ng-show="!vm.gridOptions.data.length">No data available</div>
                 </div>
            </div>
            <div class="col-md-2 v-center text-center">
              <div class="btn-group">
                <button title="Drop from test" class="btn btn-default" ng-click="vm.removeFromTest(vm.testdatelist.testingid)" id="btnA"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button title="Add to test" class="btn btn-default" ng-click="vm.addToTest(vm.testdatelist.testingid)" id="btnB"><i class="glyphicon glyphicon-chevron-right"></i></button>
              </div>
              <h6 class="text-center">move from list-to-list</h6>
            </div>          
            <div class="row col-md-5">
                 <div ui-grid="vm.resgridOptions" ng-style="{height: (30*11)+140+'px'}"
                      ui-grid-pagination ui-grid-cellNav ui-grid-auto-resize 
                      ui-grid-resize-columns ui-grid-pinning ui-grid-edit
                      ui-grid-selection ui-grid-move-columns  
                      ui-grid-exporter
                      class="mygrid" >
                      <div class="watermark" ng-show="!vm.resgridOptions.data.length">No data available</div>
                 </div>
              
            </div>
          </div>  

          </div>
        <div class="panel-footer"></div>
      </div>


      </uib-tab>
      <uib-tab 
            id="tab-testmanage" 
            heading="Manage Test"
            active="active.ManageTest"
      >
      <div class="panel panel-green">
        <div class="panel-heading">Test Attendees</div>
        <div class="panel-body ">
<button type="button" ng-click="vm.createCertificate()">Click Me!</button>
          <div class="col-lg-12">
            <div class="row col-md-12" style="height: 70px;">
                <div class="select-box ">
                  <div class="col-md-3">
                  <ui-select  ng-model="vm.TestCandidateSelected" 
                              theme="bootstrap" 
                              reset-search-input="false"
                              on-select="vm.getTestDates($item);"
                              style="width: 300px;" 
                              title="Filter for a Test"
                              append-to-body="false">
                    <ui-select-match placeholder="Filter the TestCandidates...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices 
                    repeat="TestCandidate in vm.testcandidatenames | filter: $select.search track by $index"
                    refresh="vm.gettestcandidateNames($select.search)"
                    refresh-delay="0">
                      <div id="testerpicklist" ng-bind-html="TestCandidate.name | highlight: $select.search"></div>
                    </ui-select-choices>
                    <ui-select-no-choice>
                      Dang!  We couldn't find any choices...
                    </ui-select-no-choice>                    
                  </ui-select>
                  </div>
                  <div class="col-md-8">
                    before test-> Checklist, Intent Promote, e-Reminder, Certificate, Belt Labels <br/>
                    after test-> To Test history, Promote, PostCard List <br/>
                    Remove Candidate
                    
                    open contact, contact name, rank Ach'd Test, Test status, Testdate/time, Testers, TestType, Promodate, Attendence, Test name
                  </div>
                </div>
              </div>     
          </div>          
            <div class="row col-md-12">
                 <div ui-grid="vm.resgridOptions" ng-style="{height: (30*11)+140+'px'}"
                      ui-grid-pagination ui-grid-cellNav ui-grid-auto-resize 
                      ui-grid-resize-columns ui-grid-pinning ui-grid-edit
                      ui-grid-selection ui-grid-move-columns  
                      ui-grid-exporter
                      class="mygrid" >
                      <div class="watermark" ng-show="!vm.resgridOptions.data.length">No data available</div>
                 </div>
            </div>
            <div>
<!--              
<div class="item" ng-show="false"><img src="images/reports/dragon.jpg" alt="" class="img-responsive"/></div>
<div class="item" ng-show="false"><img src="images/logos/vlogo.gif" alt="" class="img-responsive"/></div>
<div class="item" ng-show="false"><img src="images/logos/dragonlogo.png" alt="" class="img-responsive"/></div>
<div class="item" ng-show="false"><img src="images/classes/adult.jpg" alt="" class="img-responsive"/></div>
-->
<div class="item" ng-show="false"><img src="images/logos/StudioDiplomaTemplate.png" alt="" class="img-responsive"/></div>


            </div>
        </div>
      </div>
      <div class="panel-footer"></div>

      </uib-tab>
      <uib-tab 
            id="tab-testmaterial" 
            heading="Test Document Setup"
            active="active.ManageTestmaterial"
      >
      <div class="panel panel-green">
        <div class="panel-heading">Test Documents</div>
        <div class="panel-body ">

            <div class="col-md-12">
              <h1>Editor</h1>
              <div text-angular-toolbar name="htmlcontenttools"></div>
              <button ng-click="vm.htmlcontentcanEdit = !vm.htmlcontentcanEdit">Can Edit</button>
              <button type="button" ta-button ng-click="vm.htmlcontentreset()">Reset</button>
              <button type="button" ta-button ng-click="vm.htmlcontentclear()">clear</button>
              <button type="button" ta-button ng-click="vm.doPDF()">Download PDF</button>
                   
              <form name="validationForm" ng-submit="vm.htmlcontentsubmit()">
                  <label for="name">Name:</label>
                  <input type="text" tabindex="1" id="name" ng-model="vm.htmlcontentname">
                  <label for="website">Website:</label>
                  <input type="url" tabindex="2" id="website" ng-model="vm.htmlcontentwebsite"> 
                      formValid: pristine {{validationForm.testValidation.$pristine}} 
                      valid {{validationForm.testValidation.$valid}} 
                      dirty {{validationForm.testValidation.$dirty}} 
                      invalid {{validationForm.testValidation.$invalid}} Bio:
                  <text-angular  class="convert" name="testValidation" 
                    ta-paste="vm.testPaste($html)" 
                    ng-if="vm.htmlcontentcanEdit" 
                    ng-model="vm.htmlcontentdata.htmlcontent" 
                    tabindex="3" 
                    placeholder="test placeholder" 
                    required 
                    ta-default-wrap="p" 
                    ta-target-toolbars='htmlcontenttools' 
                    ng-model-options="{debounce: 10}">
                  </text-angular>
                  <div id="convertthis" class="convert" ta-bind name="testValidation" ng-model="vm.htmlcontentdata.htmlcontent" placeholder="test placeholder" required ng-model-options="{debounce: 10}"></div>
                      </text-angular>
              </form>
              
<!--              <input id="inputFileToLoad" type="file" ng-change="vm.encodeImageFileAsURL('inputFileToLoad','imgTest');" />
              <div id="imgTest"></div>
-->              
  <form novalidate>
    Pick an image-file: <input type="file" ng-model="vm.images" accept="image/*" multiple app-filereader /><br />
    <img ng-repeat="image in vm.images" ng-src="{{image}}" width="300" /><br />
    <button ng-click="vm.images = null" ng-show="!!vm.images">Remove {{vm.images.length}} images</button><br />
  </form>
  
  <pre>
  {{ vm.images }}
  </pre>              
            </div>
        </div>
        <div class="panel-footer"></div>
        
      </uib-tab>
        
    </uib-tabset>
</div>
