div(ng-controller="StudentsTableBasicController")
    .row
        .col-lg-12     
            .portlet.box.portlet-green
                .portlet-header
                    .row
                        .caption Student List
                        .tools
                            i.fa.fa-chevron-up
                            i.fa.fa-cog(data-toggle="modal", data-target="#modal-config-student-fields")
                            i.fa.fa-refresh
                            i.fa.fa-times
                .portlet-body
                    .table-tools
                        .row
                            .col-lg-12.mbs
                                button.btn.btn-red(type='button').mrs
                                    i.fa.fa-plus
                                    | &nbsp; Add New
                                button.btn.btn-primary(type='button').mrs
                                    i.fa.fa-print
                                    | &nbsp; Print
                                button.btn.btn-primary(type='button').mrs
                                    i.fa.fa-file-text-o
                                    | &nbsp; PDF
                                button.btn.btn-primary(type='button').mrs
                                    i.fa.fa-copy
                                    | &nbsp; Excel
   
                    .row
                        .col-lg-12
                        .panel.panel-orange
                            .panel-heading Student Filter     
                            .panel-body.pan
                                form.form-horizontal.form-bordered(role="form")
                                    .form-body
                                        .form-group
                                            label.control-label.col-md-2 Student Filter
                                            .col-md-2
                                                input(ng-model="studentquery")
                                            label.control-label.col-md-2 No. Rows
                                            //.col-md-2
                                                select.selectpicker.form-control(data-style='btn-yellow' ng-model='quantity' ng-change='updateQuantity(quantity)' ng-options='quantity as limit.quantity for limit in limitlist')
                                            .col-md-2
                                                select.select2picker.form-control(data-style='btn-yellow'  ng-model='quantity' ng-change='updateQuantity(quantity)' )
                                                    option 10
                                                    option 100
                                                    option 1000
                    .table-responsive.mtl
                        table#table_id.table.table-hover.table-striped.table-bordered
                            thead
                                tr
                                    th(width='20%') Name
                                    th(width='15%') Rank
                                    th(width='15%') Status
                                    th(width='20%') Parent
                                    th(width='10%') Phone
                                    th(width='20%') Edit/Delete
                                tr
                                    th(ng-repeat="field in students.fields") {{field.prefcolumn}}  
                            tbody
                                tr(ng-repeat="student in students.students | filter : studentquery | limitTo : quantity" )
                                    td {{student.FirstName}} {{student.LastName}}
                                    td {{student.CurrentRank}}
                                    td {{student.ContactType}}
                                    td.center {{student.Parent}}
                                    td.center {{student.Phone}}
                                    td
                                        .action-group.btn-group.pull-right.mtm.mbm
                                            button.btn.btn-primary
                                                i.fa.fa-edit.mrs
                                                | Edit
                                            button.btn.btn-primary
                                                i.fa.fa-trash-o.mrs
                                                | Delete
                                        .clearfix
#modal-config-student-fields.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-default-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-default-label.modal-title Modal Default
            .modal-body
                | Modal body goes here
                .panel-body.pan
                    form.form-horizontal.form-bordered(role="form")
                        .form-body
                            .form-group
                                label.control-label.col-md-3 Pre-selected Options
                                .col-md-6
                                    select#pre-selected-options(multiple='multiple')
                                        option(value='ID')  ID
                                        option(value='LastName' selected='selected')  LastName
                                        option(value='FirstName' selected='selected')  FirstName
                                        option(value='Email' selected='selected')  Email
                                        option(value='Email2')  Email2
                                        option(value='Parent' selected='selected')  Parent
                                        option(value='Phone' selected='selected')  Phone
                                        option(value='AltPhone')  AltPhone
                                        option(value='Address')  Address
                                        option(value='City')  City
                                        option(value='State')  State
                                        option(value='ZIP')  ZIP
                                        option(value='Notes')  Notes
                                        option(value='Birthday')  Birthday
                                        option(value='StartDate')  StartDate
                                        option(value='NewRank')  NewRank
                                        option(value='BeltSize')  BeltSize
                                        option(value='CurrentRank') CurrentRank
                                        option(value='LastPromoted')  LastPromoted
                                        option(value='ReferredBy')  ReferredBy
                                        option(value='ConsentToPublicPictures')  ConsentToPublicPictures
                                        option(value='InstructorPaymentFree')  InstructorPaymentFree
                                        option(value='ContactType')  ContactType
                                        option(value='include')  include
                                        option(value='InstructorFlag')  InstructorFlag
                                        option(value='quickbooklink')  quickbooklink
                                        option(value='instructorTitle')  instructorTitle
                                        option(value='testDate') testDate
                                        option(value='testTime')  testTime
                                        option(value='bdayinclude')  bdayinclude
                                        option(value='signupDate')  signupDate
                                        option(value='sex')  sex
                                        option(value='medicalConcerns')  medicalConcerns
                                        option(value='GuiSize') GuiSize
                                        option(value='ShirtSize')  ShirtSize
                                        option(value='phoneExt')  phoneExt
                                        option(value='altPhoneExt')  altPhoneExt
                                        option(value='CurrentReikiRank')  CurrentReikiRank
                                        option(value='StudentSchool')  StudentSchool
                                        option(value='EmergencyContact')  EmergencyContact
                                        option(value='sendWelcomeCard')  sendWelcomeCard
                                        option(value='dateEntered')  dateEntered
                                        option(value='dateInactive')  dateInactive
                                        option(value='CurrentIARank')  CurrentIARank
                                        option(value='ReadyForNextRank')  ReadyForNextRank
                                        option(value='nextScheduledTest')  nextScheduledTest
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes