<!DOCTYPE html>

<div ng-controller="EventTableBasicController as vm"
        ng-init="active[vm.getActiveTab()]= true">

      <div class="panel panel-blue">
        <div class="panel-heading">EventCreation Settings</div>
        <div class="panel-body pan">
          <div class="col-md-12">
          <form action="" novalidate name="editevent" class="form-horizontal">
            <div class="form-body pal">

            <div class="row">
                <div class="col-md-4">

                  <div  class="form-group">
                        <div class="row">
                              <div ng-class="{'has-error': editevent.inputevent.$invalid, 'has-success': !editevent.inputevent.$invalid}" class="">
                                <label for="input_event" class="control-label">Event</label>
                                <div class="input-icon right">
                                    <i data-hover="tooltip" 
                                        data-original-title="Correct" 
                                        ng-show="editevent.inputevent.$dirty" 
                                        ng-class="editevent.inputevent.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " 
                                        class="glyphicon tooltips"></i>
                                  <input id="input_event" type="text" 
                                    placeholder="Event" 
                                    name="inputevent" 
                                    ng-model="vm.colsubkey" 
                                    ng-change="vm.changeColDef(vm.colsubkey)" 
                                    minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2500, 'blur': 0 } }" class="">
                                </div>
                                <div style="color:maroon" role="alert" ng-messages="editevent.inputevent.$error" class="has-error">
                                  <div ng-message="required">You did not enter a field</div>
                                  <div ng-message="minlength">Your field is too short</div>
                                  <div ng-message="maxlength">Your field is too long</div>
                                </div>
                              </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <ui-select tagging tagging-label="(custom 'new' label)" 
                                ng-model="vm.colsubkey" 
                                on-select="vm.changeColDef($item)"
                                theme="select2" 
                                ng-disabled="disabled" 
                                style="width: 300px;" 
                                title="Choose an event">
                  <ui-select-match allow-clear placeholder="Select the event...">{{$select.selected.col}}</ui-select-match>
                              <ui-select-choices 
                repeat="colkeyitem.col as colkeyitem in vm.colsubkeys| filter: $select.search ">
                                <small>
                        Name: <span ng-bind-html="colkeyitem.col | highlight: $select.search"></span>                    <hr style="margin-top: 0.2em; margin-bottom: 0.2em; border-top-color: #ef6c00"/>
                                </small>
                              </ui-select-choices>
                            </ui-select>
                          </div>
                          <div class="col-md-6">
                            <button type="button" ng-click="vm.saveState()" class="btn btn-default btn-sm mix-link">Save grid settings for: {{vm.colsubkey}}</button>
                          </div>
                        </div>


                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="inputlimit" class="control-label">Limit</label>
                    <div class="input-icon right">
                      <select id="inputlimit" type="text" name="limit" ng-model="vm.limit" ng-change="vm.setLimit(vm.limit)" class="form-control EventCreation">
                        <option ng-repeat="lim in vm.limits" ng-selected="lim == vm.limit"  
                            value="{{lim}}">{{lim}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <!-- event extras 
        $Event, $EventDate, $EventStart, $EventEnd, $ContactID, $EventType,
        $Location

            -->
            
            <div class="row">
                <div class="col-md-3">
                          <label for="inputeventdate" class="control-label">Event Date </label>
                          <div ng-class="{'has-error': editevent.eventdate.$invalid, 
                                'has-success': !editevent.eventdate.$invalid}" class="form-group">
                            <div class="col-md-9">
                              <div class="input-icon right">
                                <i ng-click="vm.dateopen($event)" 
                                    data-hover="tooltip" 
                                    data-original-title="Correct" 
                                    ng-show="editevent.eventdate.$dirty" 
                                    ng-class="editevent.eventdate.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " 
                                    class="glyphicon tooltips"></i>
                                <input id="inputeventdate" 
                                    type="text" 
                                    placeholder="mm/dd/yyyy" 
                                    name="eventdate" 
                                    ng-model="vm.EventDate" 
                                    is-open="vm.status.opened" 
                                    uib-datepicker-popup="{{vm.bdateformat}}" 
                                    ng-model-options="{ updateOn: 'default blur', 
                                        debounce: { 'default': 1500, 'blur': 0 } }" 
                                    class="form-control">
                              </div>
                            </div>
                            <div style="color:maroon" 
                                    role="alert" 
                                    ng-messages="editevent.eventdate.$error" 
                                    class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                            </div>
                            <div class="">
                              <button type="button" 
                                class="btn btn-default" 
                                ng-click="vm.dateopen($event)">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                            </div>

                </div>
                
               </div>
               <div class="col-md-2">
                  <div ng-class="{'has-error': editevent.EventType.$invalid, 'has-success': !editevent.EventType.$invalid}" class="form-group">
                    <label for="inputEventType" class="control-label">Event Type </label>
                    <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-show="editevent.EventType.$dirty" ng-class="editevent.EventType.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                      <input id="inputEventType" type="text" placeholder="Event Type" name="EventType" ng-model="vm.EventType" ng-change="vm.updateStudent()" minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                    </div>
                    <div style="color:maroon" role="alert" ng-messages="editevent.EventType.$error" class="has-error">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="email">Your email is missing @ and/or a period</div>
                    </div>
                  </div>
                   
               </div>
               

               <div class="col-md-2">
                  <div ng-class="{'has-error': editevent.EventStart.$invalid, 'has-success': !editevent.EventStart.$invalid}" class="form-group">
                    <label for="inputEventStart" class="control-label">Event Start </label>
                    <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-show="editevent.EventStart.$dirty" ng-class="editevent.EventStart.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                      <input id="inputEventStart" type="time" step="60" placeholder="Event Start" name="EventStart" ng-model="vm.EventStart" ng-change="vm.updateStudent()" minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                    </div>
                    <div style="color:maroon" role="alert" ng-messages="editevent.EventStart.$error" class="has-error">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="email">Your email is missing @ and/or a period</div>
                    </div>
                  </div>
                   
               </div>
               <div class="col-md-2">
                  <div ng-class="{'has-error': editevent.EventEnd.$invalid, 'has-success': !editevent.EventEnd.$invalid}" class="form-group">
                    <label for="inputEventEnd" class="control-label">Event End </label>
                    <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-show="editevent.EventEnd.$dirty" ng-class="editevent.EventEnd.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                      <input id="inputEventEnd" type="time" step="60" placeholder="Event End" name="EventEnd" ng-model="vm.EventEnd" ng-change="vm.updateStudent()" minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                    </div>
                    <div style="color:maroon" role="alert" ng-messages="editevent.EventEnd.$error" class="has-error">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="email">Your email is missing @ and/or a period</div>
                    </div>
                  </div>
                   
               </div>
               <div class="col-md-2">
                  <div ng-class="{'has-error': editevent.Location.$invalid, 'has-success': !editevent.Location.$invalid}" class="form-group">
                    <label for="inputLocation" class="control-label">Location </label>
                    <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-show="editevent.Location.$dirty" ng-class="editevent.Location.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                      <input id="inputLocation" type="text" placeholder="Location" name="Location" ng-model="vm.Location" ng-change="vm.updateStudent()" minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                    </div>
                    <div style="color:maroon" role="alert" ng-messages="editevent.Location.$error" class="has-error">
                      <div ng-message="required">You did not enter a field</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                      <div ng-message="email">Your email is missing @ and/or a period</div>
                    </div>
                  </div>
                   
               </div>
            
                
            </div>

            <div>
                  <div class="col-md-6">
                    <button type="button" ng-click="vm.createEvent(vm.colsubkey)" 
                        class="btn btn-default btn-sm mix-link"
                        >Create Event for: {{vm.colsubkey}}</button>
                  </div>

            </div>
           </div>
          </form>
          </div>
        </div>
        <div class="panel-footer"></div>
      </div>

    <uib-tabset type="pills" >
      <uib-tab 
            id="tab-event" 
            heading="Event Creation"
            active="active.event"
             select="vm.setActiveTab('event'); eventtabShown = !eventtabShown" deselect="eventtabShown = !eventtabShown"
            >

       <div class="panel panel-blue">
        <div class="panel-heading">Settings</div>
        <div class="panel-body pan">

              <div class="row" >
                  <div class="col-md-12">
                   <div ui-grid="vm.gridOptions" ng-style="{height: (30*11)+140+'px'}"
                        ui-grid-pagination ui-grid-cellNav ui-grid-auto-resize 
                        ui-grid-resize-columns ui-grid-pinning 
                        ui-grid-selection ui-grid-move-columns  
                        ui-grid-exporter ui-grid-grouping
                        ui-grid-save-state 
                        class="mygrid" ng-if="eventtabShown">
                   </div>
                </div>
                </div>
        </div>
        <div class="panel-footer"></div>
      </div>
        
      </uib-tab>
      <uib-tab 
            id="tab-attendhist" 
            heading="Event History"
            active="active.eventhistory"
            select="vm.setActiveTab('eventhistory');vm.getEventCreationHistory()">
       <div class="panel panel-blue">
        <div class="panel-heading">HistorySettings</div>
        <div class="panel-body pan">
          <div class="col-lg-12">
              <div class="row">
                <button ng-click="vm.getEventCreationHistory()" class="btn btn-blue btn-default EventCreation">Refresh List</button>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="col-md-1">MondayOfWeek</div>
                    <div class="col-md-1">Name</div>
                    <div class="col-md-1">Rank</div>
                </div>

<!--                <div class="col-md-12" ng-repeat="student in vm.data.EventCreationhistory">
                    <div class="col-md-1">{{student.MondayOfWeek}}</div>
                    <div class="col-md-1">{{student.firstname}} {{student.lastname}}</div>
                    <div class="col-md-1">{{student.rank}}</div>
                </div>
-->                  
              </div>
          </div>
        </div>
        <div class="panel-footer"></div>
      </div>


      </uib-tab>
    </uib-tabset>
</div>
