.row
    .col-lg-12
        .portlet.portlet-green
            .portlet-header
                .caption Student List
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .table-tools
                    .row
                        .col-lg-5.mbs
                            button.btn.btn-red(type='button').mrs
                                i.fa.fa-plus
                                | &nbsp; Add New
                            button.btn.btn-primary(type='button').mrs
                                i.fa.fa-print
                                | &nbsp; Print
                            button.btn.btn-primary(type='button').mrs
                                i.fa.fa-file-text-o
                                | &nbsp; PDF
                            button.btn.btn-primary(type='button').mrs
                                i.fa.fa-copy
                                | &nbsp; Excel
                        .col-lg-3
                            .form-inline
                                .form-group
                                    select.form-control
                                        option 10
                                        option 15
                                        option 20
                                        option 30
                                    | &nbsp;
                                    label.control-label Records per page
                        .col-lg-4
                            .form-inline.text-right
                                .form-group
                                    | &nbsp;
                                    input.form-control(type='text')
                                    label.control-label Search
                .table-responsive.mtl
                    table.table.table-striped.table-bordered.table-hover
                        thead
                            tr
                                th Name
                                th Rank
                                th Class
                                th Parent
                                th Phone
                                th(width='3%') Edit
                                th(width='4%') Delete
                        tbody

                            tr.odd.gradeA
                                td Trident Jonwa
                                td
                                    | Green
                                    | w/ Stripe
                                td Leopard
                                td.center Mama Jonwa
                                td.center 508-666-1111
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.even.gradeA
                                td jimmy jones
                                td Brown 3rd
                                td BBT3
                                td.center Daddy jones
                                td.center 655-454-6655
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.odd.gradeA
                                td Some Sonny
                                td White Belt
                                td Leopard
                                td.center Sr. Sonny
                                td.center 555-345-3456
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
                            tr.odd.gradeA
                                td Some Sonny
                                td White Belt
                                td Leopard
                                td.center Sr. Sonny
                                td.center 555-345-3456
                                td
                                    a.edit(href='javascript:;') Edit
                                td
                                    a.delete(href='javascript:;') Delete
            .tool-footer.text-right
                    p.pull-left Showing 1 to 10 of 57 entries
                    ul.pagination
                        li
                            a(href="#") &laquo;
                        li
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                        li
                            a(href="#") 4
                        li
                            a(href="#") &raquo;      
