<!DOCTYPE html>
<div id="form-layouts-editstudent" class="row">
  <div class="col-lg-12">
    <tabset type="pills">
      <tab id="tab-student" heading="Student Information">
        <div class="row">
          <div ng-controller="FormLayoutsControllerEditStudent as vm">
            <div class="col-lg-12">
              <div class="panel panel-blue">
                <div class="panel-heading">Student</div>
                <div class="panel-body pan">
                  <form action="" novalidate name="editstudent" class="horizontal-form">
                    <div class="form-body pal"><h3 class="block-heading">Personal</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.FirstName.$invalid, 'has-success': !editstudent.FirstName.$invalid}" class="form-group">
                            <label for="inputFirstName" class="control-label">First Name <span class='require'>*</span></label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.FirstName.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputFirstName" type="text" placeholder="First Name" name="FirstName" ng-model="vm.students.FirstName" ng-change="vm.updateStudent()" required="true" minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.FirstName.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.LastName.$invalid, 'has-success': !editstudent.LastName.$invalid}" class="form-group">
                            <label for="inputLastName" class="control-label">LastName <span class='require'>*</span></label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.LastName.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputLastName" type="text" placeholder="Last Name" name="LastName" ng-model="vm.students.LastName" ng-change="vm.updateStudent()" required="true" minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.LastName.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.Email.$invalid, 'has-success': !editstudent.Email.$invalid}" class="form-group">
                            <label for="inputEmail" class="control-label">Email <span class='require'>*</span></label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.Email.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputEmail" type="email" placeholder="Email Address" name="Email" ng-model="vm.students.Email" ng-change="vm.updateStudent()" required="true" maxLength="80" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.Email.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.Email2.$invalid, 'has-success': !editstudent.Email2.$invalid}" class="form-group">
                            <label for="inputEmail2" class="control-label">Email2 </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.Email2.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputEmail2" type="email" placeholder="Alternate Email" name="Email2" ng-model="vm.students.Email2" ng-change="vm.updateStudent()" required="false" maxLength="80" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.Email2.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.Phone.$invalid, 'has-success': !editstudent.Phone.$invalid}" class="form-group">
                            <label for="inputPhone" class="control-label">Phone <span class='require'>*</span></label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.Phone.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputPhone" type="text" name="Phone" ng-model="vm.students.Phone" ng-change="vm.updateStudent()" required="true" ui-mask="(999) 999-9999" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.Phone.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.AltPhone.$invalid, 'has-success': !editstudent.AltPhone.$invalid}" class="form-group">
                            <label for="inputAltPhone" class="control-label">AltPhone </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.AltPhone.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputAltPhone" type="text" name="AltPhone" ng-model="vm.students.AltPhone" ng-change="vm.updateStudent()" required="false" ui-mask="(999) 999-9999" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.AltPhone.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.phoneExt.$invalid, 'has-success': !editstudent.phoneExt.$invalid}" class="form-group">
                            <label for="inputphoneExt" class="control-label">PhoneExt </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.phoneExt.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputphoneExt" type="text" placeholder="9999" name="phoneExt" ng-model="vm.students.phoneExt" ng-change="vm.updateStudent()" required="false" maxLength="5" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.phoneExt.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.altPhoneExt.$invalid, 'has-success': !editstudent.altPhoneExt.$invalid}" class="form-group">
                            <label for="inputaltPhoneExt" class="control-label">AltPhoneExt </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.altPhoneExt.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputaltPhoneExt" type="text" placeholder="9999" name="altPhoneExt" ng-model="vm.students.altPhoneExt" ng-change="vm.updateStudent()" required="false" maxLength="5" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.altPhoneExt.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.Birthday.$invalid, 'has-success': !editstudent.Birthday.$invalid}" class="form-group">
                            <label for="inputBirthday" class="control-label">Birthday </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.Birthday.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputBirthday" type="date" placeholder="mm/dd/yyyy" name="Birthday" ng-model="vm.students.Birthday" ng-change="vm.updateStudent()" required="false" is-open="opened" datepicker-popup ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.Birthday.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.sex.$invalid, 'has-success': !editstudent.sex.$invalid}" class="form-group">
                            <label for="inputsex" class="control-label">Gender </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.sex.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <select id="inputsex" type="text" name="sex" ng-model="vm.students.sex" ng-change="vm.updateStudent()" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                                <option ng-repeat="g in vm.genders" ng-selected="{{g==vm.students.sex}}" placeholder="Select" value="{{g}}">{{g}}</option>
                              </select>
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.sex.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.Parent.$invalid, 'has-success': !editstudent.Parent.$invalid}" class="form-group">
                            <label for="inputParent" class="control-label">Parent <span class='require'>*</span></label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.Parent.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputParent" type="text" placeholder="Parent Name" name="Parent" ng-model="vm.students.Parent" ng-change="vm.updateStudent()" required="true" minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.Parent.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.EmergencyContact.$invalid, 'has-success': !editstudent.EmergencyContact.$invalid}" class="form-group">
                            <label for="inputEmergencyContact" class="control-label">Emergency Contact </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.EmergencyContact.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputEmergencyContact" type="text" placeholder="Emergency Contact Name" name="EmergencyContact" ng-model="vm.students.EmergencyContact" ng-change="vm.updateStudent()" required="false" minLength="2" maxLength="80" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.EmergencyContact.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.Notes.$invalid, 'has-success': !editstudent.Notes.$invalid}" class="form-group">
                            <label for="inputNotes" class="control-label">Notes </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.Notes.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <textarea id="inputNotes" type="text" placeholder="Enter notes" name="Notes" ng-model="vm.students.Notes" ng-change="vm.updateStudent()" rows="3" required="false" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control"></textarea>
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.Notes.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.medicalConcerns.$invalid, 'has-success': !editstudent.medicalConcerns.$invalid}" class="form-group">
                            <label for="inputmedicalConcerns" class="control-label">Medical Concerns </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.medicalConcerns.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <textarea id="inputmedicalConcerns" type="text" placeholder="Enter Medical concerns" name="medicalConcerns" ng-model="vm.students.medicalConcerns" ng-change="vm.updateStudent()" rows="3" required="false" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control"></textarea>
                            </div>
                            <div style="color:maroon" role="alert" ng-messages="editstudent.medicalConcerns.$invalid" class="has-error">
                              <div ng-message="required">You did not enter a field</div>
                              <div ng-message="minlength">Your field is too short</div>
                              <div ng-message="maxlength">Your field is too long</div>
                              <div ng-message="email">Your email is missing @ and/or a period</div>
                            </div>
                          </div>
                        </div>
                      </div><h3 class="block-heading">Address</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.Address.$invalid, 'has-success': !editstudent.Address.$invalid}" class="form-group">
                            <label for="inputAddress" class="control-label">Address <span class='require'>*</span></label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.Address.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputAddress" type="text" placeholder="Address" name="Address" ng-model="vm.students.Address" ng-change="vm.updateStudent()" required="true" minLength="5" maxLength="120" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.City.$invalid, 'has-success': !editstudent.City.$invalid}" class="form-group">
                            <label for="inputCity" class="control-label">City <span class='require'>*</span></label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.City.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <input id="inputCity" type="text" placeholder="City" name="City" ng-model="vm.students.City" ng-change="vm.updateStudent()" required="true" minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div ng-class="{'has-error': editstudent.ZIP.$invalid, 'has-success': !editstudent.ZIP.$invalid}" class="form-group">
                            <label for="inputZIP" class="control-label">Zip/Postal Code </label>
                            <div class="input-icon right"><i data-hover="tooltip" data-original-title="Correct" ng-class="editstudent.ZIP.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                              <select id="inputEmail" type="text" name="Email" ng-model="vm.students.Email" ng-change="vm.updateStudent()" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" class="form-control">
                                <option ng-repeat="z in vm.zipList.zips" ng-selected="{{z==vm.students.ZIP}}" placeholder="Email" value="{{z.zip}}">{{z.zip}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions text-right pal">
                      <button type="submit" ng-click="vm.updateStudent()" class="btn btn-primary btn-outlined">Submit</button>&nbsp;
                      <button type="button" class="btn btn-green btn-outlined">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab id="tab-student" heading="Class"></tab>
      <tab id="tab-student" heading="Payment"></tab>
      <tab id="tab-student" heading="Student History"></tab>
    </tabset>
  </div>
</div>