.row
    .col-lg-12
        .panel
            .panel-body
                .row.mbl
                    .col-md-3
                        button.btn.btn-primary.btn-block(type='button', data-target='#modal-default', data-toggle="modal") Default
                    .col-md-3
                        button.btn.btn-yellow.btn-block(type='button', data-target='#modal-responsive', data-toggle="modal") Responsive
                    .col-md-3
                        button.btn.btn-green.btn-block(type='button', data-target='#modal-stackable', data-toggle="modal") Stackable
                    .col-md-3
                        button.btn.btn-blue.btn-block(type='button', data-target='#modal-full-width', data-toggle="modal") Full Width
                .row.mbl
                    .col-md-3
                        button.btn.btn-primary.btn-block(type='button', data-target='#modal-wide-width', data-toggle="modal") Wide Width
                    .col-md-3
                        button.btn.btn-yellow.btn-block(type='button', data-target='#modal-static', data-toggle="modal") Static Background
                    .col-md-3
                        button.btn.btn-green.btn-block(type='button', data-target='#modal-long', data-toggle="modal") Long Modals
                    .col-md-3
                        button.btn.btn-blue.btn-block(type='button', data-target='#modal-alert', data-toggle="modal") Alert
                .row
                    .col-md-3
                        button.btn.btn-primary.btn-block(type='button', data-target='#modal-confirm', data-toggle="modal") Confirm
                    .col-md-3
                        button.btn.btn-yellow.btn-block(type='button', data-target='#modal-custom-dialog', data-toggle="modal") Custom Dialog
                    .col-md-3
                        button.btn.btn-green.btn-block(type='button', data-target='#modal-login', data-toggle="modal") Login
                    .col-md-3
                        button.btn.btn-blue.btn-block(type='button', data-target='#modal-prompt', data-toggle="modal") Prompt

//Modal Default
#modal-default.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-default-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-default-label.modal-title Modal Default
            .modal-body
                | Modal body goes here
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
//Modal Responsive
#modal-responsive.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-responsive-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-responsive-label.modal-title Modal Responsive
            .modal-body
                .row
                    .col-md-6
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                    .col-md-6
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
                        .mbm
                            input.form-control(type='text')
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
//Modal Stackable
#modal-stackable.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-stackable-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-stackable-label.modal-title Modal Stackable
            .modal-body
                p One fine body…
                p One fine body…
                p One fine body…
                input.form-control.mbm(type='text', data-tabindex='1')
                input.form-control.mbm(type='text', data-tabindex='2')
                a.btn.btn-primary(data-toggle='modal', data-target='#stack2') Launch modal
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
#stack2.modal.fade(tabindex='-1', data-focus-on='input:first')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4 Stack Two
            .modal-body
                p One fine body…
                p One fine body…
                input.form-control.mbm(type='text', data-tabindex='1')
                input.form-control.mbm(type='text', data-tabindex='2')
                a.btn.btn-secondary(data-toggle='modal', href='#stack3') Launch modal
            .modal-footer
                button.btn(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Ok
#stack3.modal.fade(tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4 Stack Three
            .modal-body
                p One fine body…
                input.form-control.mbm(type='text', data-tabindex='1')
                input.form-control.mbm(type='text', data-tabindex='2')
            .modal-footer
                button.btn(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Ok
//Modal Full Width
#modal-full-width.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-full-width-label', aria-hidden='true')
    .modal-dialog.modal-full-width
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-full-width-label.modal-title Modal Full Width
            .modal-body
                | Modal body goes here
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
//Modal Wide Width
#modal-wide-width.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-wide-width-label', aria-hidden='true')
    .modal-dialog.modal-wide-width
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-wide-width-label.modal-title Modal Wide Width
            .modal-body
                | Modal body goes here
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
//Modal Static
#modal-static.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false')
    .modal-dialog
        .modal-content
            .modal-body
                p Would you like to continue with some arbitrary task?
            .modal-footer
                button.btn(type='button', data-dismiss='modal') Cancel
                button.btn.btn-primary(type='button', data-dismiss='modal') Continue Task
//Modal Long
#modal-long.modal.fade(tabindex='-1', data-replace='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4 A Fairly Long Modal
            .modal-body
                a.btn.btn-primary(data-toggle='modal', data-target='#modal-notlong', style="position: absolute; top: 50%; right: 12px") Not So Long Modal
                img(style='height: 800px;', src='http://i.imgur.com/KwPYo.jpg')
            .modal-footer
                button.btn(type='button', data-dismiss='modal') Close
#modal-notlong.modal.fade(tabindex='-1', data-replace='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4 Not That Long
            .modal-body
                img(style='height: 300px;', src='http://i.imgur.com/KwPYo.jpg')
            .modal-footer
                button.btn(type='button', data-dismiss='modal') Close
//Modal Alert
#modal-alert.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-body
                | Hello world !
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Ok
//Modal Confirm
#modal-confirm.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-body
                | Are you sure?
            .modal-footer
                button.btn(type='button', data-dismiss='modal') Cancel
                button.btn.btn-primary(type='button', data-dismiss='modal') Ok
//Modal Custom Dialog
#modal-custom-dialog.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title Custom Dialog
            .modal-body
                | I am a custom dialog
            .modal-footer
                button.btn.btn-success(type='button', data-dismiss='modal') Success !
                button.btn.btn-info(type='button', data-dismiss='modal') Information !
                button.btn.btn-danger(type='button', data-dismiss='modal') Danger !
//Modal Login
#modal-login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-login-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-login-label.modal-title Login
            .modal-body
                .form
                    form.form-horizontal
                        .form-group
                            label.control-label.col-md-3(for='username') Username
                            .col-md-9
                                input#username.form-control(type='text')
                        .form-group
                            label.control-label.col-md-3(for='password') Password
                            .col-md-9
                                input#password.form-control(type='password')
                        .form-group
                            .col-md-9.col-md-offset-3
                                button.btn.btn-primary(type='submit') Login
//Modal Prompt
#modal-prompt.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-prompt-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-prompt-label.modal-title What is your name?
            .modal-body
                input#fullname.form-control(type='text')
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') OK