.remove-all-margin-padding {
    margin: 0 ! important;
    padding: 0 ! important;
}

.picturesicon {
    font-size: 2em;
    color: #379f37;
}

.show {
    display: block;
}

.noshow {
    display: none !important;
}

.yesPrint {
    display: none;
}


[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x- ng-cloak {
    display: none !important;
}

@media print {
    body>*:not(#printSection) {
        display: none;
    }

    body {
        font-size: 0.9rem !important;
        font-family: "Times New Roman" !important;
        line-height: .8 !important;
    }

    .portlet>.portlet-header .caption {
        font-size: 0.9rem !important;
        font-family: "Times New Roman" !important;
        padding: 0.4rem !important;
    }

    .like-tablesmaller.row>[class*=col-] {
        min-height: 20px !important;
        max-width: 75px !important;
        padding: 0 !important;
    }
    
    .block-heading {
        font-size: 1.1rem !important;
    }
    .panel .panel-heading {
        font-size: 1.2rem !important;
        padding: 0px !important;
    }
    .calsize {
        width: 100px;
        float: left;
    }

    .pagebreak {
        page-break-before: always;
    }
    .yesPrint {
        display: block;
    }

    #printSection,
    #printSection * {
        display: inline-block;

    }
    .noPrint,
    Button {
        display: none !important;
    }
    .form-control,
    select,
    input {
        border: 0;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .table>tbody>tr>.no-line {
        border-top: none;
    }
    .table>thead>tr>.no-line {
        border-bottom: none;
    }
    .table>tbody>tr>.thick-line {
        border-top: 2px solid;
    }
    table {
        table-layout: auto;
    }
    td {
        width: 160px;
        height: auto;
    }
    th {
        width: 160px;
        height: auto;
    }
    th:nth-child(2) {
        width: 210px;
        height: auto;
    }
    /*    .col-md-6 {
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 300px;
    }
 */
    .row {
        //        margin-right: -15px;
        //        margin-left: -15px;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        box-shadow: none;
    }
    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 720px;
    }
    .col-md-11 {
        width: 660px;
    }
    .col-md-10 {
        width: 600px;
    }
    .col-md-9 {
        width: 540px;
    }
    .col-md-8 {
        width: 480px;
    }
    .col-md-7 {
        width: 420px;
    }
    .col-md-6 {
        width: 360px;
    }
    .col-md-5 {
        width: 300px;
    }
    .col-md-4 {
        width: 240px;
    }
    .col-md-3 {
        width: 180px;
    }
    .col-md-2 {
        width: 120px;
    }
    .col-md-1 {
        width: 60px;
    }
    .panel.panel-blue {
        border: 0px solid black !important;
    }
    .portlet.portlet-primary {
        border: 0px solid black !important;
        border-top-width: thin !important;
        border-top-style: solid !important;
        border-top-color: black !important;
    }

}
