<div>
    <form action="" novalidate name="form" class="form-horizontal">
        <div class="form-body">
            <div class="col-md-6">
                <ranktype-component on-update="$ctrl.updateRankType($ctrl.ranktypepick, prop, value)">
                </ranktype-component>
            </div>
            <div class="col-md-6" ng-show="$ctrl.isOk()">
                <label for="inputpRank" class="control-label">Rank </label>
                <div class="input-icon right">
                    <select id="inputpRank" type="text" name="pRank" ng-disabled="form.pRankType.$invalid" ng-model="$ctrl.rankpickparent.rankpick" required field-value="$ctrl.rankpickparent.rankpick" required ng-change="$ctrl.update('rank', $ctrl.rankpickparent.rankpick)"
                        class="form-control">
                        <option 
                          ng-repeat="r in $ctrl.ranklist.ranklist track by r.rankid" 
                          placeholder="Select" 
                          ng-selected="{{iter.ranklist==$ctrl.rankpickparent.rankpick}}" 
                          value="{{r.ranklist}}">{{r.ranklist}}</option>
                    
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
