<!DOCTYPE html>
<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
  <div class="sidebar-collapse menu-scroll">
    <ul id="side-menu" ng-menu="" class="nav">
      <li class="sidebar-heading">
        <h4>Events</h4>
      </li>
      <li><a href="#/"><i class="icon-speedometer"></i><span class="menu-title">Main</span></a></li>
      <li><a href="javascript:void(0);"><i class="icon-screen-desktop"></i><span class="menu-title">Tournaments</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li><a href="#/page-signin">Login</a></li>
          <li><a href="#/page-signup">Create User</a></li>
          <li ng-show="vm.islogin()"><a href="#/tournament">Medway Registration</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>