<div ng-controller="BasicTableBasicController as vm">

    <div class="portlet box portlet-green">
        <div class="portlet-header">
                <div class="caption">Maintain Basic</div>
                <div class="tools"><i class="fa fa-chevron-up"></i></div>
        </div>
      <div class="portlet-body pbn ptl" style="display: block;   background-color: grey;">
            <div class="panel panel-blue">
                <div class="panel-heading">Basic</div>
                <div class="panel-body pan">
                    <div class="table-tools">
                        <div class="row col-md-offset-11 mbs">
                            <button type="button" class="btn btn-blue mrs" ng-click="vm.isCollapsed = !vm.isCollapsed">New</button>
                        </div>
                    </div>
                  	<div uib-collapse="vm.isCollapsed">
                		<div class="well well-lg">
                            <div class="container-fluid"> 
                                <div class="container-xl" >
                                    <div class="col-md-12" style="height: 88px;">
                                        <!-- listtype, listkey, listvalue, listorder -->
                                        <form action="" novalidate name="editschedule2" class="form-horizontal">
                                            <div class="col-md-3">
                                                
    <div ng-class="{'has-error': editschedule2.listtype.$invalid, 
                    'has-success': !editschedule2.listtype.$invalid}" class="form-group">
        <label for="listtype" class="control-label">List<br/>Type</label>
        <div class="input-icon right">
            <i data-hover="tooltip" data-original-title="Correct" 
            ng-show="editschedule2.listtype.$dirty" 
            ng-class="editschedule2.listtype.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " 
            class="glyphicon tooltips"></i>
            <select id="listtype" type="text" 
                name="listtype" 
                ng-model="vm.Basic.listtype" 
                                required 
                ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }" 
                class="form-control">
                <option 
                    ng-repeat="iter in vm.listTypes" 
                    ng-selected="{{iter.value==vm.Basic.listtype}}" 
                    placeholder="Select" 
                    value="{{ iter.value }}">{{ iter.value }}</option>
            </select>
        </div>
        <div style="color:maroon" role="alert" 
            ng-messages="editschedule2.listtype.$error" 
            class="has-error">
            <div ng-message="required">You did not enter a field</div>
        </div>
    </div>
    
                                                </div>
                                            <div class="col-md-3">
                                                
    <div class="form-group">
        <label for="listkey" class="control-label">Key<br/>&nbsp;</label>

        <div>
            <input  id="listkey" 
                    type="text" 
                    placeholder="Enter Key" 
                    name="listkey" 
                    ng-model="vm.Basic.listkey" 
                    required 
                    class="form-control">
        </div>
    </div>

                                                </div>
                                            <div class="col-md-3">
                                                
    <div class="form-group">
        <label for="listvalue" class="control-label">Value<br/> &nbsp;</label>

        <div>
            <input  id="listvalue" 
                    type="text" 
                    placeholder="0" 
                    name="listvalue" 
                    ng-model="vm.Basic.listvalue" 
                    required 
                    class="form-control">
        </div>
    </div>

                                                </div>
                                            <div class="col-md-2">
                                                
    <div class="form-group">
        <label for="listorder" class="control-label">Order<br/> &nbsp;</label>

        <div>
            <input  id="listorder" 
                    type="number" 
                    placeholder="0" 
                    name="listorder" 
                    ng-model="vm.Basic.listorder" 
                    required 
                    class="form-control">
        </div>
    </div>

                                                </div>
                                        <div class="col-md-1 btn" style="margin-top: 18px;">
                                                    <label for="rankbtn" class="control-label">&nbsp; </label>
        <a role="button" class="btn btn-green form-control" 
            ng-click="vm.addBasic(vm.Basic)"><i class="fa fa-plus"></i>&nbsp; Add</a>
                                            </div>
                                        </form> 
                                    </div>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div ui-grid="vm.gridOptions"  
                        ui-if="vm.gridOptions.data.length>0"
                        ui-grid-pagination 
                        ui-grid-cellNav  
                        ui-grid-pinning  
                        ui-grid-move-columns 
                        ui-grid-exporter 
                        ui-grid-auto-resize
                        ui-grid-resize-columns
                        ui-grid-edit class="mygrid" ng-style="vm.getGridLength()" >
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>