
<div class="page-heading">
  <h1 class="page-title">{{data.title}}</h1>
  <h4 class="page-subtitle">Dojo Central - Natick Villaris</h4>
</div>
<div class="page-actions hidden-xs"><span class="value income">Income<strong class="mls">12.964$</strong></span><span class="page-actions-chart1 mrl"></span><span class="value visitor">Students<strong class="mls">1.870</strong></span><span class="page-actions-chart2"></span>
  <script>
    var chart1 = [25,16,17,22,13,26,12,34,16,19,8,23,20,21,14];
    var chart2 = [15,20,15,17,15,16,14,22,17,22,18,13,16,18,16];
    $(".page-actions-chart1").sparkline(chart1, {
        type: 'bar',
        height: '40px ',
        barWidth: 5,
        barColor: '#b33f93'
    });
    $(".page-actions-chart2").sparkline(chart2, {
        type: 'bar',
        height: '40px ',
        barWidth: 5,
        barColor: '#ffffff'
    });
  </script>
</div>
<div class="clearfix"></div>