nav#sidebar.navbar-default.navbar-static-side(role='navigation')
    .sidebar-collapse.menu-scroll
        ul#side-menu.nav(ng-menu="")
            li
                a.btn-search-collapsed(href='javascript:;')
                    i.icon-magnifier
                .search-form
                    .input-icon.right
                        i.btn-search.icon-magnifier
                        input.form-control(type='text', placeholder='Search...')
            li.sidebar-heading
                h4 General
            li
                a(href='/#/')
                    i.icon-speedometer
                    span.menu-title Dashboard
            li
                a(href='javascript:void(0);')
                    i.icon-screen-desktop
                    span.menu-title Layouts
                    span.fa.arrow
                    span.label.label-violet 5
                ul.nav.nav-second-level
                    li
                        a(href='/#/layout-left-sidebar') Left Sidebar
                    li
                        a(href='/#/layout-left-sidebar-collapsed')
                            | Left Sidebar Collapsed
                    li
                        a(href='/#/layout-right-sidebar') Right Sidebar
                    li
                        a(href='/#/layout-right-sidebar-collapsed')
                            | Right Sidebar Collapsed
                    li
                        a(href='/#/layout-boxed') Boxed Layout
            
            li.sidebar-heading
                h4 UI Components
            
            li
                a(href='javascript:void(0);')
                    i.icon-note
                    span.menu-title Forms
                    span.fa.arrow
                    span.badge.badge-green 7
                ul.nav.nav-second-level
                    li
                        a(href='/#/form-components') Form Components
                    li
                        a(href='/#/form-layouts') Form Layouts
                    li
                        a(href='/#/form-validation') Form Validation
                    li
                        a(href='/#/form-multiple-file-upload') Multiple File Upload
                    li
                        a(href='/#/form-dropzone-file-upload') Dropzone File Upload
            li
                a(href='javascript:void(0);')
                    i.icon-grid
                    span.menu-title Tables
                    span.fa.arrow
                ul.nav.nav-second-level
                    li
                        a(href='/#/table-basic') Table Layout
                    li
                        a(href='/#/table-editable') Editable Tables
                    li
                        a(href='/#/table-responsive') Responsive Tables
                    li
                        a(href='/#/table-datatables') Datatables
            li
                a(href='javascript:void(0);')
                    i.icon-paper-plane
                    span.menu-title UI Elements
                    span.fa.arrow
                ul.nav.nav-second-level
                    li
                        a(href='/#/ui-general') General
                    li
                        a(href='/#/ui-buttons') Buttons
                    li
                        a(href='/#/ui-typography') Typography
                    li
                        a(href='/#/ui-icons') Icons
                    li
                        a(href='/#/ui-portlets') Portlets
                    li
                        a(href='/#/ui-notific8') Notific8
                    li
                        a(href='/#/ui-toastr-notifications') Toastr Notifications
                    li
                        a(href='/#/ui-select-dropdown') Select 2 & Dropdown
                    li
                        a(href='/#/ui-modals') Modals
                    li
                        a(href='/#/ui-tabs-accordions-navs') Tabs, Accordions & Navs
                    li
                        a(href='/#/ui-sliders') Sliders
                    li
                        a(href='/#/ui-nestable-list') Nestable List
                
            li.sidebar-heading
                h4 Extras
            li
                a(href='javascript:void(0);')
                    i.icon-notebook
                    span.menu-title Pages

                    span.fa.arrow
                    span.label.label-warning 12
                ul.nav.nav-second-level
                    li
                        a(href='/#/page-portfolio') Portfolio
                    li
                        a(href='/#/page-invoice') Invoice
                    li
                        a(href='/#/page-pricing-table') Pricing Tables
                    li
                        a(href='/#/page-fullcalendar') Full Calendar
                    li
                        a(href='/#/page-signin') Sign In
                    li
                        a(href='/#/page-signup') Sign Up
                    li
                        a(href='/#/page-lock-screen') Lock Screen
                    li
                        a(href='/#/page-404') 404 Page
                    li
                        a(href='/#/page-500') 500 Page
                    li
                        a(href='/#/page-blank') Blank
                    li
                        a.btn-fullscreen(href='javascript:void(0)',title='FullScreen') Full Screen
            li
                a(href='/#/charts')
                    i.icon-pie-chart
                    span.menu-title Charts
            li
                a(href='/#/transitions')
                    i.icon-magic-wand
                    span.menu-title Transitions
            li
                a(href='javascript:void(0);')
                    i.icon-vector
                    span.menu-title Multi-Level Dropdown
                    span.fa.arrow
                ul.nav.nav-second-level
                    li
                        a(href='javascript:void(0);') Second Level Item
                    li
                        a(href='javascript:void(0);') Second Level Item
                    li
                        a(href='javascript:void(0);')
                            | Third Level
                            span.fa.arrow
                        ul.nav.nav-third-level
                            li
                                a(href='javascript:void(0);') Third Level Item
                            li
                                a(href='javascript:void(0);') Third Level Item
                            li
                                a(href='javascript:void(0);') Third Level Item
                            li
                                a(href='javascript:void(0);') Third Level Item