
<div id="template-setting"><a href="javascript:void(0);" data-toggle="dropdown" class="btn-template-setting"><i class="icon-settings icon-spin"></i></a>
  <div class="content-template-setting"><span>Layout</span>
    <select id="layout-setting" class="form-control">
      <option value="0">Fluid</option>
      <option value="1">Boxed</option>
    </select>
    <div class="line"></div><span>Header</span>
    <select id="header-setting" class="form-control">
      <option value="0">Default</option>
      <option value="1" selected="selected">Fixed</option>
    </select>
    <div class="line"></div><span>Sidebar</span>
    <select id="sidebar-setting" class="form-control">
      <option value="0">Default</option>
      <option value="1" selected="selected">Fixed</option>
    </select>
    <div class="line"></div><span>Theme Colors</span>
    <ul class="color-theme list-unstyled list-inline">
      <li data-style="default" data-hover="tooltip" title="Dark" class="dark-primary"></li>
      <li data-style="white" data-hover="tooltip" title="White" class="white-primary"></li>
      <li data-style="red" data-hover="tooltip" title="Red - Green" class="red-green"></li>
      <li data-style="orange" data-hover="tooltip" title="Orange - Yellow" class="orange-yellow"></li>
      <li data-style="green" data-hover="tooltip" title="Green - Pink" class="green-pink"></li>
      <li data-style="blue" data-hover="tooltip" title="Blue - Yellow" class="blue-yellow"></li>
      <li data-style="violet" data-hover="tooltip" title="Violet - Green" class="violet-green"></li>
      <li data-style="grey" data-hover="tooltip" title="Grey - Red" class="grey-red"></li>
    </ul>
  </div>
</div>