#template2-setting
    a.btn-template2-setting(href='javascript:void(0);', data-toggle='dropdown')
        i.icon-settings.icon-spin
    .content-template2-setting
        span Field Picker
            p put field picker here