<!DOCTYPE html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <style type="text/css">
      /*Dropdown Css*/

      .dropdown:hover>.dropdown-menu {
         display: block;
      }

      .dropdown-submenu {
         position: relative;
      }

      .dropdown-submenu>.dropdown-menu {
         top: 0;
         left: 100%;
         margin-top: -6px;
         margin-left: 1px;
         -webkit-border-radius: 0 6px 6px 6px;
         -moz-border-radius: 0 6px 6px;
         border-radius: 0 6px 6px 6px;
      }

      .dropdown-submenu:hover>.dropdown-menu {
         display: block;
      }

      .dropdown-submenu>a:after {
         display: block;
         content: " ";
         float: right;
         width: 0;
         height: 0;
         border-color: transparent;
         border-style: solid;
         border-width: 5px 0 5px 5px;
         border-left-color: #ccc;
         margin-top: 5px;
         margin-right: -10px;
      }

      .dropdown-submenu:hover>a:after {
         border-left-color: #fff;
      }

      .dropdown-submenu.pull-left {
         float: none;
      }

      .dropdown-submenu.pull-left>.dropdown-menu {
         left: -100%;
         margin-left: 10px;
         -webkit-border-radius: 6px 0 6px 6px;
         -moz-border-radius: 6px 0 6px 6px;
         border-radius: 6px 0 6px 6px;
      }

      /*./Dropdown Css*/
   </style>
</head>
<div ng-class="[vm.header.layout_topbar]" class="navbar-header">
   <a id="setting-toggle"><i class="icon-wrench"></i></a>
   <button type="button" data-toggle="offcanvas" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
   </button>
   <a id="logo" href="#/main" class="navbar-brand">
      <span class="icon-social-tumblr"></span>
      <span class="logo-text">V Dojo</span>
   </a>
</div>
<div id="top-menu" class="topbar-main" title>
   <ul class="nav navbar-top-links" style="margin-left: 130px;">
      <!--      <div class="container"> -->
<!--      <div class=""> -->
         <ul class="nav navbar-top-links navbar-left">
            <li class="mll mtl dropdown" ng-show="vm.isokf()">
               <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
               <i class="far fa-comments"></i>
               <span class="visible-xs-inline mlm">Msgs&nbsp;<span class="caret"></span></span>
               <span class="badge badge-yellow">{{vm.alertcount}}</span></a>
               <ul class="dropdown-menu dropdown-alerts">
                  <li class="dropdown-submenu">
                     <a class="test" ng-hide="!vm.newstudents.length" tabindex="-1" href="javascript:void(0);">
                        <span class="label label-green">
                           <i class="far fa-handshake fa-fw"></i></span>
                        <span class="menu-title">{{vm.newstudents.length}} New Students Last 2 weeks</span>
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li ng-repeat="stu in vm.newstudents">
                           <a tabindex="-1" href="#/form-layouts-editstudent/id/{{stu.contactid}}">
                           <span class="label label-green">
                              <i class="fas fa-user fa-fw"></i></span>                           
                           <span class=""> 
                              {{stu.firstname}} {{stu.lastname}}
                           </span>
                           </a></li>

                        <li><a tabindex="-1" ng-click="vm.clearNewStudents()">
                           <span class="label label-grey">
                              <i class="fas fa-eraser fa-fw"></i></span>                           
                           <span class="menu-title">Clear Alerts</span>
                        </a></li>
                     </ul>
                  </li>
                  <li class="dropdown-submenu">
                     <a class="test" ng-hide="!vm.teststudents.length" tabindex="-1" href="javascript:void(0);">
                        <span class="label label-violet"><i class="fas fa-flag-checkered fa-fw"></i></span>
                        <span class="menu-title">{{vm.teststudents.length}} Students ready to test</span>
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li ng-repeat="stu in vm.teststudents">
                           <a tabindex="-1" href="#/table-basic-testcandidate">
                           <span class="label label-green">
                              <i class="fas fa-user fa-fw"></i></span>                           
                           <span class=""> 
                              {{stu.firstname}} {{stu.lastname}}
                           </span>
                           </a></li>
                        <li><a tabindex="-1" ng-click="vm.clearTestStudents()">
                           <span class="label label-grey">
                              <i class="fas fa-eraser fa-fw"></i></span>                           
                           <span class="menu-title">Clear Alerts</span>
                        </a></li>
                     </ul>
                  </li>
                  <li class="dropdown-submenu">
                     <a class="test" ng-hide="!vm.overduestudents.overdue.length" tabindex="-1" href="javascript:void(0);"><span class="label label-red"><i class="fas fa-fire fa-fw"></i></span><span class="menu-title">{{vm.overduestudents.overdue.length}} Overdue Payments</span>
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li ng-repeat="stu in vm.overduestudents.overdue">
                           <a tabindex="-1" href="#/form-layouts-editstudent/id/{{stu.contactid}}">
                           <span class="label label-red">
                              <i class="fas fa-user fa-fw"></i></span>                           
                           <span class=""> 
                              {{stu.firstname}} {{stu.lastname}}
                           </span>
                           </a></li>
                        <li><a tabindex="-1" ng-click="vm.clearOverdueStudents()">
                           <span class="label label-grey">
                              <i class="fas fa-eraser fa-fw"></i></span>                           
                           <span class="menu-title">Clear Alert</span>
                        </a></li>

                     </ul>
                  </li>
                  <li class="dropdown-submenu">
                     <a class="test" ng-hide="!vm.noshowstudents.noshow.length" tabindex="-1" href="javascript:void(0);">
                        <span class="label label-blue"><i class="fas fa-coffee fa-fw"></i></span><span class="menu-title">{{vm.noshowstudents.noshow.length}} No show Students +2wk</span>
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li ng-repeat="stu in vm.noshowstudents.noshow">
                           <a tabindex="-1" href="#/form-layouts-editstudent/id/{{stu.contactid}}">
                           <span class="label label-blue">
                              <i class="fas fa-user fa-fw"></i></span>                           
                           <span class=""> 
                              {{stu.firstname}} {{stu.lastname}}
                           </span>
                           </a></li>
                        <li><a tabindex="-1" ng-click="vm.clearNoshowStudents()">
                           <span class="label label-grey">
                              <i class="fas fa-eraser fa-fw"></i></span>                           
                           <span class="menu-title">Clear Alert</span>
                        </a></li>

                     </ul>
                  </li>
                  <li class="dropdown-submenu">
                     <a class="test" ng-hide="!vm.thisTasknamelist.length" tabindex="-1" href="javascript:void(0);"><span class="label label-orange"><i class="fas fa-tasks fa-fw"></i></span><span class="menu-title">{{vm.thisTasknamelist.length}} Tasks outstanding</span>
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                        <li ng-repeat="task in vm.thisTasknamelist">
                           <a tabindex="-1" href="javascript:void(0);">
                           <span class="label label-orange">
                              <i class="fas fa-pencil-alt fa-fw"></i></span>                           
                           <span class=""> 
                              {{task.taskname}}
                           </span>
                           </a></li>
                        <li><a tabindex="-1" href="javascript:void(0);">
                           <span class="label label-grey">
                              <i class="fas fa-eraser fa-fw"></i></span>                           
                           <span class="menu-title">Clear Alert</span>
                        </a></li>

                     </ul>
                  </li>
                  <li><a tabindex="-1" href="javascript:void(0);">
                     <span class="label label-grey">
                        <i class="fas fa-eraser fa-fw"></i></span>                           
                     <span class="text-right">Clear All Alerts</span>
                     </a>
                     <span class="pull-right text-muted small">Last upd. 12min ago</span></li>
            </li>

            </ul>
            </li>
            <li class="mll mtl dropdown" ng-show="vm.isokf()">
               <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
               <i ng-class="vm.emailcount > 0 ? ' icon-envelope-open' : ' icon-envelope '"></i>
               <span class="visible-xs-inline mlm">Msgs&nbsp;<span class="caret"></span></span>
               <span class="badge badge-yellow">{{vm.emailcount}}</span></a>
               <ul class="dropdown-menu  pull-left" uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <li>
                     <div class="navbar-content">
                        <div class="row">
                           <div class="mll mtm col-md-12 col-xs-12"><a ng-click="vm.openEmail()" class="btn  btn-sm btn-green">Open Email</a></div>
                        </div>
                        <div class="row">
                           <div class="mll mtm col-md-12 col-xs-12"><a ng-click="vm.newEmail()" class="btn btn-sm btn-green">New Email</a></div>
                        </div>
                        <div class="navbar-footer">
                           <div class="navbar-footer-content">
                              <div class="row">
                                 <div class="mbm mtm col-md-offset-5 col-xs-offset-5"><a href="javascript:void(0);" class="btn btn-green btn-sm">Close</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </li>
            <li class="mll mtl dropdown" ng-show="vm.isokf()">
              <div class="panel panel-warning" style="margin-top: -18px;">
                 <div class="panel-heading" ng-show="vm.showTimeout()">Timeout!</div>
                  <div class="pandel-body" idle-countdown="countdown" ng-show="vm.showTimeout()">
                     You have {{minutes}} minutes and {{seconds}} seconds until your session expires!
                  </div>
               </div>
            </li>
         </ul>
         <ul class="nav navbar-top-links navbar-right mrxxl">
            <li class="dropdown" uib-dropdown auto-close="disabled" on-toggle="toggled(open)" ng-show="vm.isokf()">
               <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle" id="simple-dropdown">
         <span class="img-responsive img-circle" ng-switch on="vm.userdta.pictureurl">
         <img ng-switch-when="missing" ng-src='../images/students/missingstudentpicture.png'/>
         <img ng-switch-default   ng-src="{{vm.userdta.pictureurl}}"/>
         </span>
         <span>&nbsp;{{vm.userdta.username}}&nbsp;</span><span class="caret"></span>
         </a>
               <ul class="dropdown-menu dropdown-user pull-right" aria-labelledby="simple-dropdown">
                  <li>
                     <div class="navbar-content">
                        <div class="row">
                           <div class="col-md-7 col-xs-5">
                              <span>{{vm.userdta.firstname}} {{vm.userdta.lastname}}</span>
                              <p class="text-muted small">{{vm.userdta.email}}</p>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="row">
                        <div class="mtm mlm mbm col-md-12 col-xs-12"><a ng-click="vm.openSettings()" class="btn btn-sm btn-green">Edit Settings</a></div>
                     </div>
                  </li>
                  <li>
                     <div class="navbar-footer">
                        <div class="navbar-footer-content">
                           <div class="row">
                              <div class="col-md-6 col-xs-6"><a href="#/change-pwd" class="btn btn-green btn-sm">Change Password</a></div>
                              <div class="col-md-6 col-xs-6"><a href="#/page-lock-screen" class="btn btn-green btn-sm pull-right">Sign Out</a></div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </li>
         </ul>
<!--      </div> -->
   </ul>
</div>
