<!DOCTYPE html>
<div ng-class="[header.layout_topbar]" class="navbar-header">
   <a id="setting-toggle"><i class="icon-wrench"></i></a>
   <button type="button" data-toggle="offcanvas" class="navbar-toggle">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   </button>
   <a id="logo" href="#/main" class="navbar-brand">
   <span class="icon-social-tumblr"></span>
   <span class="logo-text">V Dojo</span></a>
</div>
<div id="top-menu" class="topbar-main">
   <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown" uib-dropdown on-toggle="toggled(open)" ng-show="vm.isokf()">
         <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle" id="simple-dropdown" uib-dropdown-toggle>
         <span class="img-responsive img-circle" ng-switch on="vm.userdta.pictureurl">
         <img ng-switch-when="missing" ng-src='../images/students/missingstudentpicture.png'/>
         <img ng-switch-default   ng-src="{{vm.userdta.pictureurl}}"/>
         </span>
         <span>&nbsp;{{vm.userdta.username}}&nbsp;</span><span class="caret"></span>
         </a>
         <ul class="dropdown-menu dropdown-user pull-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li>
               <div class="navbar-content">
                  <div class="row">
                     <div class="col-md-7 col-xs-5">
                        <span>{{vm.userdta.firstname}} {{vm.userdta.lastname}}</span>
                        <p class="text-muted small">{{vm.userdta.email}}</p>
                     </div>
                  </div>
                  <div class="navbar-footer">
                     <div class="navbar-footer-content">
                        <div class="row">
                           <div class="col-md-6 col-xs-6"><a href="#/change-pwd" class="btn btn-default btn-sm">Change Password</a></div>
                           <div class="col-md-6 col-xs-6"><a href="#/page-lock-screen" class="btn btn-default btn-sm pull-right">Sign Out</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </li>
   </ul>
   <ul class="nav navbar-top-links navbar-left">

      <div class="container">
         <div class="dropdown">
            <ul class="nav navbar-top-links navbar-left">
               <li class="mll mtl dropdown" ng-show="vm.isokf()">
                  <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-envelope-open"></i>
            <span class="visible-xs-inline mlm">Msgs&nbsp;<span class="caret"></span></span>
            <span class="badge badge-yellow">35</span></a>

                  <ul class="dropdown-menu dropdown-alerts">
                     <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="javascript:void(0);"><span class="label label-green"><i class="fa fa-handshake-o fa-fw"></i></span><span class="menu-title">12 New Students Last 2 weeks</span>
         <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a tabindex="-1" href="#/form-layouts-editstudent/id/8023">Arron Arzi</a></li>
                           <li><a tabindex="-1" href="#/form-layouts-editstudent/id/8023">Blah blah</a></li>
                           <li><a tabindex="-1" href="javascript:void(0);" class="text-right">Clear New Student alerts</a></li>
                        </ul>
                     </li>
                     <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="javascript:void(0);"><span class="label label-violet"><i class="fa fa-flag-checkered fa-fw"></i></span><span class="menu-title">3 Students ready to test</span>
         <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a tabindex="-1" href="#/table-basic-testcandidates">Arron Arzi</a></li>
                           <li><a tabindex="-1" href="#/table-basic-testcandidates">Blah blah</a></li>
                           <li><a tabindex="-1" href="javascript:void(0);" class="text-right">Clear Test alerts</a></li>
                        </ul>
                     </li>
                     <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="javascript:void(0);"><span class="label label-red"><i class="fa fa-fire fa-fw"></i></span><span class="menu-title">4 Overdue Payments</span>
         <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a tabindex="-1" href="#/form-layouts-editstudent/id/8023">Arron Arzi</a></li>
                           <li><a tabindex="-1" href="#/form-layouts-editstudent/id/8023">Blah blah</a></li>
                           <li><a tabindex="-1" href="javascript:void(0);" class="text-right">Clear Payment alerts</a></li>
                        </ul>
                     </li>
                     <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="javascript:void(0);"><span class="label label-blue"><i class="fa fa-coffee fa-fw"></i></span><span class="menu-title">3 No show Students +2wk</span>
         <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a tabindex="-1" href="#/form-layouts-editstudent/id/8023">Arron Arzi</a></li>
                           <li><a tabindex="-1" href="#/form-layouts-editstudent/id/8023">Blah blah</a></li>
                           <li><a tabindex="-1" href="javascript:void(0);" class="text-right">Clear No Show alerts</a></li>
                        </ul>
                     </li>
                     <li><a tabindex="-1" href="javascript:void(0);"><span class="label label-orange"><i class="fa fa-tasks fa-fw"></i></span><span class="menu-title">13 Tasks outstanding</span></a>
                     </li>
                     <li><a tabindex="-1" href="javascript:void(0);" class="text-right">Clear all alerts</a><span class="pull-right text-muted small">Last upd. 12min ago</span></li>


                  </ul>
               </li>
            </ul>
         </div>
      </div>

   </ul>
</div>
