<!DOCTYPE html>
<div ng-class="[header.layout_topbar]" class="navbar-header">
   <a id="setting-toggle"><i class="icon-wrench"></i></a>
   <button type="button" data-toggle="offcanvas" class="navbar-toggle">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   </button>
   <a id="logo" href="#/main" class="navbar-brand">
   <span class="icon-social-tumblr"></span>
   <span class="logo-text">V Dojo</span></a>
</div>
<div class="topbar-main">
   <ul class="nav navbar-top-links navbar-left">
      <li class="mll mtl dropdown">
         <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle" aria-haspopup="true" aria-expanded="true"><i class="icon-envelope-open"></i><span class="visible-xs-inline mlm">Msgs&nbsp;<span class="caret"></span></span><span class="badge badge-yellow">35</span></a>
         <ul class="dropdown-menu dropdown-alerts">
            <li><a href="javascript:void(0);"><span class="label label-green"><i class="fa fa-handshake-o fa-fw"></i></span>12 New Students Last 2 weeks<span class="pull-right text-muted small">4 minutes ago</span></a></li>
            <li><a href="javascript:void(0);"><span class="label label-violet"><i class="fa fa-flag-checkered fa-fw"></i></span>3 Students ready to test<span class="pull-right text-muted small">12 minutes ago</span></a></li>
            <li><a href="javascript:void(0);"><span class="label label-red"><i class="fa fa-fire fa-fw"></i></span>4 Overdue Payments<span class="pull-right text-muted small">15 minutes ago</span></a></li>
            <li><a href="javascript:void(0);"><span class="label label-blue"><i class="fa fa-coffee fa-fw"></i></span>3 No show Students +2wk<span class="pull-right text-muted small">18 minutes ago</span></a></li>
            <li><a href="javascript:void(0);"><span class="label label-orange"><i class="fa fa-tasks fa-fw"></i></span>13 Tasks outstanding<span class="pull-right text-muted small">18 minutes ago</span></a></li>
            <li><a href="javascript:void(0);" class="text-right">See all alerts</a></li>
         </ul>
      </li>
   </ul>
   <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown" uib-dropdown on-toggle="toggled(open)" ng-show="vm.isokf()">
         <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle" id="simple-dropdown" uib-dropdown-toggle>
         <span class="img-responsive img-circle" ng-switch on="vm.userdta.pictureurl">
         <img ng-switch-when="missing" ng-src='../images/students/missingstudentpicture.png'/>
         <img ng-switch-default   ng-src="{{vm.userdta.pictureurl}}"/>
         </span>
         <span>&nbsp;{{vm.userdta.username}}&nbsp;</span><span class="caret"></span>
         </a>
         <ul class="dropdown-menu dropdown-user pull-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li>
               <div class="navbar-content">
                  <div class="row">
                     <div class="col-md-7 col-xs-5">
                        <span>{{vm.userdta.firstname}} {{vm.userdta.lastname}}</span>
                        <p class="text-muted small">{{vm.userdta.email}}</p>
                     </div>
                  </div>
                  <div class="navbar-footer">
                     <div class="navbar-footer-content">
                        <div class="row">
                           <div class="col-md-6 col-xs-6"><a href="#/change-pwd" class="btn btn-default btn-sm">Change Password</a></div>
                           <div class="col-md-6 col-xs-6"><a href="#/page-lock-screen" class="btn btn-default btn-sm pull-right">Sign Out</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </li>
   </ul>
</div>
