
<div class="panel panel-green" ng-controller="RptBuilderController as $ctrl">
   <div class="panel-heading">Test Documents</div>
   <div class="panel-body ">
      <div class="col-md-12">
         <form action="" novalidate name="edittemplate" class="form-horizontal">
            <div class="form-body pal">
               <div class="row col-md-12" style="height: 70px;">
                  <div class="col-md-3">
                     <div class="select-box">
                        <ui-select ng-model="$ctrl.templatenameSelected" theme="bootstrap" reset-search-input="false" on-select="$ctrl.gettemplateDetails($item)" style="width: 300px;" title="Choose an existing test document" append-to-body="false">
                           <ui-select-match placeholder="Pick existing test document...">{{$select.selected.templatename}}</ui-select-match>
                           <ui-select-choices repeat="template in $ctrl.templatelist | filter: $select.search track by $index" refresh="$ctrl.getTemplateNames($select.search)" refresh-delay="0">
                              <div ng-bind-html="template.templatename | highlight: $select.search"></div>
                           </ui-select-choices>
                        </ui-select>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <button ng-click="$ctrl.updatetemplate($ctrl.templatename);" class="btn btn-green ">Save Changes for {{$ctrl.templatename}}</button>
                  </div>
                  <div class="col-md-3">
                     <button ng-click="$ctrl.removetemplate($ctrl.templatename);" class="btn btn-green ">Remove {{$ctrl.templatename}}</button>
                  </div>
                  <div class="col-md-3">
                     <button ng-click="$ctrl.gettemplateDetails($ctrl.templatename)" class="btn btn-green  ">Refresh Display</button>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div ng-class="{'has-error': edittemplate.inputtemplate.$invalid, 'has-success': !edittemplate.inputtemplate.$invalid}" class="">
                        <div class="input-icon right col-md-12">
                           <i data-hover="tooltip" data-original-title="New Test Doc" ng-show="edittemplate.inputtemplate.$dirty" ng-class="edittemplate.inputtemplate.$invalid ? 'glyphicon-remove' : 'glyphicon-ok' " class="glyphicon tooltips"></i>
                           <input id="input_template" type="text" placeholder="New Document Name" name="inputtemplate" ng-model="$ctrl.templatename" minLength="2" maxLength="30" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2500, 'blur': 0 } }" class="form-control">
                        </div>
                        <div style="color:maroon" role="alert" ng-messages="edittemplate.inputtemplate.$error" class="has-error">
                           <div ng-message="required">You did not enter a field</div>
                           <div ng-message="minlength">Your field is too short</div>
                           <div ng-message="maxlength">Your field is too long</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <button type="button" ng-click="$ctrl.createtemplate($ctrl.templatename);" class="btn btn-blue">Create template for: {{$ctrl.templatename}}</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div class="col-md-12">
         <h1>Editor</h1>
         <div class="col-md-12 row">
            <div class="col-md-4">
               <h2>Header Logo</h2>
               <form novalidate>
                  Pick an image-file: <input type="file" ng-model="$ctrl.headerimages" accept="image/*" multiple app-filereader /><br />
                  <img style="max-width:300px;" ng-repeat="image in $ctrl.headerimages" ng-src="{{image}}" /><br />
                  <button ng-click="$ctrl.headerimages = null" ng-show="!!$ctrl.headerimages">Remove {{$ctrl.headerimages.length}} images</button><br />
                  <button ng-click="$ctrl.setHeaderLogo();" ng-show="!!$ctrl.headerimages">Add to Header</button><br />
               </form>
            </div>
            <div class="col-md-4">
               <h2>Footer Logo</h2>
               <form novalidate>
                  Pick an image-file: <input type="file" ng-model="$ctrl.footerimages" accept="image/*" multiple app-filereader /><br />
                  <img style="max-width:300px;" ng-repeat="image in $ctrl.footerimages" ng-src="{{image}}" /><br />
                  <button ng-click="$ctrl.footerimages = null" ng-show="!!$ctrl.footerimages">Remove {{$ctrl.footerimages.length}} images</button><br />
                  <button ng-click="$ctrl.setFooterLogo();" ng-show="!!$ctrl.footerimages">Add to Footer</button><br />
               </form>
            </div>
            <div class="col-md-4">
               <h2>Background Images</h2>
               <form novalidate>
                  Pick an image-file: <input type="file" ng-model="$ctrl.backgroundimages" accept="image/*" multiple app-filereader /><br />
                  <img style="max-width:300px;" ng-repeat="image in $ctrl.backgroundimages" ng-src="{{image}}" /><br />
                  <button ng-click="$ctrl.backgroundimages = null" ng-show="!!$ctrl.backgroundimages">Remove {{$ctrl.backgroundimages.length}} images</button><br />
                  <button ng-click="$ctrl.setBackgroundImage();" ng-show="!!$ctrl.backgroundimages">Set as Background</button><br />
               </form>
            </div>
         </div>
         <div class="col-md-12 row">
            <div class="input-icon right col-md-2">
               <label for="maxHeaderHeight">Max Header Height</label>
               <input id="maxHeaderHeight" type="number" name="maxHeaderHeight" ng-model="$ctrl.maxHeaderHeight" class="form-control">
               </input>
            </div>
            <div class="input-icon right col-md-2">
               <label for="maxFooterHeight">Max Footer Height</label>
               <input id="maxFooterHeight" type="number" name="maxFooterHeight" ng-model="$ctrl.maxFooterHeight" class="form-control">
               </input>
            </div>
            <div class="input-icon right col-md-2">
               <label for="pageMarginL">Page Margin Left</label>
               <input id="pageMarginL" type="number" name="pageMarginL" ng-model="$ctrl.pageMarginL" class="form-control">
               </input>
            </div>
            <div class="input-icon right col-md-2">
               <label for="pageMarginT"> Top</label>
               <input id="pageMarginT" type="number" name="pageMarginT" ng-model="$ctrl.pageMarginT" class="form-control">
               </input>
            </div>
            <div class="input-icon right col-md-2">
               <label for="pageMarginR"> Right</label>
               <input id="pageMarginR" type="number" name="pageMarginR" ng-model="$ctrl.pageMarginR" class="form-control">
               </input>
            </div>
            <div class="input-icon right col-md-2">
               <label for="pageMarginB"> Bottom</label>
               <input id="pageMarginB" type="number" name="pageMarginB" ng-model="$ctrl.pageMarginB" class="form-control">
               </input>
            </div>
         </div>
         <div class="col-md-12 row">
            <div class="input-icon right col-md-3">
               <label for="pagesize">Pagesize</label>
               <select id="pagesize" type="text" name="pagesize" ng-model="$ctrl.pageSize" required ng-change($ctrl.calcsizes();) class="form-control">
                     <option ng-repeat="iter in $ctrl.pageSizes" ng-selected="{{iter==$ctrl.pageSize}}" placeholder="Select" value="{{iter}}">{{iter}}</option>
                     </select>
            </div>
            <div class="input-icon right col-md-3">
               <label for="orientation">Orientation</label>
               <select id="orientation" type="text" name="orientation" ng-model="$ctrl.pageOrientation" required ng-change($ctrl.calcsizes();) class="form-control">
                     <option ng-repeat="iter in $ctrl.pageOrientations" ng-selected="{{iter==$ctrl.pageOrientation}}" placeholder="Select" value="{{iter}}">{{iter}}</option>
                     </select>
            </div>
            <div class="input-icon right col-md-3">
               <label for="pagebreak">Page Break?</label>
               <select id="pagebreak" type="text" name="pagebreak" ng-model="$ctrl.pagebreak" required class="form-control">
                     <option ng-repeat="iter in $ctrl.pagebreaks" ng-selected="{{iter==$ctrl.pagebreak}}" placeholder="Select" value="{{iter}}">{{iter}}</option>
                     </select>
            </div>
         </div>
         <hr/>
         <div text-angular-toolbar name="htmlcontenttools"></div>
         <div class="col-md-12 row">
            <div class="col-md-1">
               <button type="button" ta-button ng-click="$ctrl.refresHtml()">Refresh</button>
            </div>
            <div class="col-md-1">
               <button type="button" ta-button ng-click="$ctrl.htmlcontentreset()">Reset</button>
            </div>
            <div class="col-md-1">
               <button type="button" ta-button ng-click="$ctrl.htmlcontentclear()">clear</button>
            </div>
            <div class="col-md-1">
               <button type="button" ta-button ng-click="$ctrl.doPDF()">Download PDF</button>
            </div>
         </div>
         <form name="validationForm" ng-submit="$ctrl.htmlcontentsubmit()">
            <div id="testValidationHeader">
               <text-angular class="convert" name="testValidationHeader" ng-model="$ctrl.htmlcontentdata.htmlcontentheader" tabindex="3" placeholder="header placeholder" ta-unsafe-sanitizer="true" ta-default-wrap="p" ta-target-toolbars='htmlcontenttools' ng-model-options="{debounce: 10}">
               </text-angular>
            </div>
            <text-angular class="convert" name="testValidation" ng-model="$ctrl.htmlcontentdata.htmlcontent" tabindex="3" placeholder="Body placeholder" ta-unsafe-sanitizer="true" ta-default-wrap="p" ta-target-toolbars='htmlcontenttools' ng-model-options="{debounce: 10}">
            </text-angular>
            <div id="testValidationFooter">
               <text-angular class="convert" name="testValidationFooter" ng-model="$ctrl.htmlcontentdata.htmlcontentfooter" tabindex="3" placeholder="footer placeholder" ta-unsafe-sanitizer="true" ta-default-wrap="p" ta-target-toolbars='htmlcontenttools' ng-model-options="{debounce: 10}">
               </text-angular>
            </div>
            <div id="convertthis" class="convert" ta-bind name="testValidation" ng-model="$ctrl.htmlcontentdata.htmlcontentall" placeholder="test placeholder" ng-model-options="{debounce: 10}"></div>
         </form>
      </div>
   </div>
   <div class="panel-footer" id="iframeContainer"></div>

         <div class="panel panel-green">
            <div class="panel-heading">Student Sample Pick List</div>
            <div class="panel-body ">
               <div class="col-md-12 text-left">
                  <h3>Select Test date</h3>
               </div>
               <div class="row col-md-12" style="height: 70px;">
                  <div class="col-md-7">
                     <div class="select-box ">

                        <ui-select ng-model="$ctrl.TestCandidateSelected" theme="bootstrap" reset-search-input="false" on-select="$ctrl.getTestDates($item);$ctrl.setSlide('center')" style="width: 300px;" title="Filter for a Test" append-to-body="true">

                           <ui-select-match placeholder="Pick a test...">{{$select.selected.name}}</ui-select-match>
                           <ui-select-choices repeat="TestCandidate in $ctrl.testcandidatenames | filter: $select.search track by $index" refresh="$ctrl.gettestcandidateNames($select.search)" refresh-delay="0">
                              <div id="candidatepicklist" ng-bind-html="TestCandidate.name | highlight: $select.search"></div>
                           </ui-select-choices>
                           <ui-select-no-choice>
                              Dang! We couldn't find any choices...
                           </ui-select-no-choice>
                        </ui-select>
                     </div>
                  </div>


                  <div class="col-md-5">
                     Restrict Candidates?
                     <toggle-switch on-label="Restrict" off-label="No" id="Restrict" type="checkbox" name="Restrict" ng-model="$ctrl.restricted" ng-change="$ctrl.refreshList();" class="switch-primary" style="min-width: 200px;"></toggle-switch>

                  </div>

               </div>
               <div class="row col-md-12" style="height: 70px;">
                  <div class="input-icon right col-md-7">
                     <label for="ranktype">Rank Type</label>
                     <select id="ranktype" type="text" name="ranktype" ng-model="$ctrl.ranktypeselected" required ng-change="$ctrl.changeRankType()" class="form-control">
                     <option ng-repeat="iter in $ctrl.ranktypelist" ng-selected="{{iter.ranktype==$ctrl.ranktypeselected}}" placeholder="Select" value="{{iter.ranktype}}">{{iter.ranktype}}</option>
                     </select>
                  </div>

                  <div class="col-md-5"></div>
               </div>
            </div>
         </div>
         <div class="row">

            <div class="col-md-12" ng-show="$ctrl.testdateshow()">
               <h3 class="block-heading"> {{$ctrl.testdatelist.testtype}} Test from: {{$ctrl.testdatelist.starttime |amDateFormat:'h:mm a'}} to: {{$ctrl.testdatelist.endtime |amDateFormat:'h:mm a'}}</h3>
            </div>
         </div>
         <div class="panel panel-green" ng-show="$ctrl.testdateshow()">
            <div class="panel-heading">Test Candidates</div>
            <div class="panel-body ">

               <div class="row">
                  <div class="col-md-{{$ctrl.gridleft}}" ng-show="$ctrl.showleft">
                     <div ui-grid="$ctrl.gridOptions" ng-style="{'height' : (30*11)+140+'px'}" ui-grid-pagination ui-grid-cellNav ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-edit ui-grid-selection ui-grid-move-columns ui-grid-exporter class="mygrid ">
                        <div class="watermark" ng-show="!$ctrl.gridOptions.data.length">No data available</div>
                     </div>
                  </div>

               </div>
            </div>
         </div>

</div>
