@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
.sf-menu>li.first_item>a,.sf-menu>li.last_item>a,.button,.button1,.offers .description{behavior:url(js/PIE.htc);position:relative;}
.register{behavior:url(js/PIE.htc);}
.sf-menu>li.last_item>a{ padding-left:23px; padding-right:23px;}