@import "reset.css";
 @import "skeleton.css";
 @import "forms.css";
 @import "superfish.css";
 @import "jqtransform.css";
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Open+Sans+Condensed:700);
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display: block
}
mark, rp, rt, ruby, summary, time {
	display: inline
}
/* Global properties ======================================================== */

html {
	width: 100%
}
body {
	font-family: Arial, Helvetica, sans-serif;
	/*	font-size: 12px; */







	line-height: 20px;
	color: #7c7b7b;
	min-width: 970px;
	background: #fbfbfd;
}
.main {
	width: 960px;
	padding: 0;
	margin: 0 auto;
}
/*********************************fonts*************************************/





p {
	margin-bottom: 20px
}
.p2 {
	margin-bottom: 18px;
}
.p3 {
	margin-bottom: 14px;
}
.p4 {
	margin-bottom: 8px;
}
.p5 {
}
.p6 {
}
.l25 {
	line-height: 25px;
}
.fullschedule {
	font-size: 7px;
	font-weight: normal;
	border-color: orange;
	border-style: solid;
	border-width: thin;
	padding-left: 20px;
}
.open {
	color: green;
}
.closed {
	color: red;
}
.PM330 {
	line-height: 600px !important;
}
.PM345 {
	line-height: 620px !important;
}
.PM400 {
	line-height: 640px !important;
}
.AM800 {
	line-height: 16px !important;
	display: none;
}
.AM930 {
	line-height: 100px !important;
}
.M15 {
	line-height: 15px !important;
	max-height: 30px;
}
.M30 {
	line-height: 30px !important;
	max-height: 60px;
}
.M45 {
	line-height: 45px !important;
	max-height: 90px;
}
.M60 {
	line-height: 60px !important;
	max-height: 120px;
}
.M75 {
	line-height: 75px !important;
	max-height: 150px;
}
.M90 {
	line-height: 90px !important;
	max-height: 180px;
}
.M120 {
	line-height: 120px !important;
	max-height: 240px;
}
.M180 {
	line-height: 180px !important;
	max-height: 360px;
}
.M200 {
	line-height: 200px !important;
	max-height: 400px;
}
.M210 {
	line-height: 210px !important;
	max-height: 420px;
}
.M220 {
	line-height: 220px !important;
	max-height: 440px;
}
.M225 {
	line-height: 225px !important;
	max-height: 450px;
}
.M240 {
	line-height: 240px !important;
	max-height: 480px;
}
.M270 {
	line-height: 270px !important;
	max-height: 540px;
}
img {
	width: 100%;
	height: auto;
}
.img_sh {
	width: 100%;
	height: 300px;
}
.img_ssh {
	width: 100%;
	height: 200px;
}
.boxed {
	border-color: black;
	border-width: 1px;
	border-style: solid;
}
.slider_boxsm {
	display: none;
}
.slider_box {
	display: block;
}
.specialinclude_sm {
	display: none;
}
.specialinclude {
	display: block;
}


.program {
	background-color: white;
	color: black;
	padding: 10px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}
.program .stime {
	font-weight: bold;
	line-height: 18px;
}
.program .sclass {
	padding-left: 5px;
	line-height: 15px !important;
	font-weight: normal;
}
.programbox {
	height: 370px;
}
.programall {
	background-color: white;
	color: black;
	padding: 3px;
}
.programall .day {
	font-size: 17px;
	font-weight: bold;
	padding: 0px;
	width: 14%;
	margin-left: 1px;
	margin-right: 1px;
}
.programall .day .sclass {
	font-size: 11px;
	font-weight: normal;
	padding-left: 5px;
}
.setlinesmaller {
	line-height: 15px !important;
}
.hilite {
	background-color: #773dbe;
	color: #fff;
	width: 70px
}
.programall .day .stime {
	font-size: 11px;
	font-weight: normal;
	border-color: orange;
	border-width: 1px;
	border-style: solid;
	padding-left: 12px;
}
a[href^="tel:"] {
	color: inherit;
	text-decoration: none;
}
* {
	-webkit-text-size-adjust: none;
}
.floatright {
	float: right;
}
.floatleft {
	float: left;
}
.reg {
	text-transform: uppercase
}
.f_left {
	float: left
}
.f_right {
	float: right
}
.align_right {
	text-align: right
}
.align_center {
	text-align: center
}
.italic {
	font-style: italic
}
.bold {
	font-weight: bold
}
.letter {
	letter-spacing: -1px
}
/*********************************CLASSES**********************************/



.m_bottom_zero {
	margin-bottom: 0 !important;
}
.m_left_zero {
	margin-left: 0 !important;
}
.p_bottom_zero {
	padding-bottom: 0 !important;
}
.p_left_zero {
	padding-left: 0 !important;
}
.clear {
	clear: both;
	width: 100%;
	line-height: 0;
	font-size: 0;
}
.wrapper {
	width: 100%;
	overflow: hidden
}
.extra_wrapper {
	overflow: hidden;
}
.container {
	width: 100%
}
.extra_last, .last {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.extra_last {
	border: none !important;
	background: none !important;
}
/*==================================== Links ======================================================== */









a {
	color: #7c7b7b;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}
.list2 a:hover, .list1 a:hover, a:hover {
	color: #1aa6cb;
	text-decoration: none;
}
.button {
	display: inline-block;
	padding: 5px 14px 7px;
	border-radius: 3px;
	box-shadow: 0 1px rgba(0,0,0,0.18);
	margin: 16px 4px 0px 9px;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	background: url(../images/button.png) repeat-x #dde1ec;
}
.button:hover {
	background-position: 0 bottom;
	background-color: #fefeff;
}
.letter2 {
	letter-spacing: -2px;
}
.button1 {
	cursor: pointer;
	display: inline-block;
	padding: 5px 13px 7px;
	border-radius: 3px;
	margin: 24px 0 0 0;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
}
.button1:hover {
	background-position: 0 bottom;
	color: #FFFFFF;
}
.m_top {
	margin-top: 15px !important;
}
.m_top1 {
	margin-top: 20px !important;
}
.m_top2 {
	margin-top: 36px !important;
}
.m_top3 {
	margin-top: 6px !important;
}
.orange_but {
	background: url(../images/bg_orange.png) repeat-x #da7d01;
}
.green_but {
	background: url(../images/bg_green.png) repeat-x #007953;
}
.aqua_but {
	background: url(../images/aqua_bg.jpg) repeat-x #137ca6;
}
.blue_but {
	background: url(../images/bg_blue.png) repeat-x #2c2c92;
}
.purple_but {
	background: url(../images/bg_purple.png) repeat-x #592c82;
}
.brown_but {
	background: url(../images/bg_brown.png) repeat-x #512c1e;
}
.black_but {
	background: url(../images/bg_black.png) repeat-x #101820;
}
.yellow_but {
	background: url(../images/bg_yellow.png) repeat-x #ffde00;
}
.white_but {
	background: url(../images/bg_white.png) repeat-x #f1f8f8;
}
/*================================>> hovers <<========================================*/











.button, .button1 {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*********************************Displays*************************************/





.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
/*********************************header*************************************/





header {
	margin: 0 10px 0;
	padding: 0px 0px 0px 0px;
}
header h1 {
	float: left;
	margin-left: -22px;
}
header h1 a {
	display: inline-block;
	width: 450px;
	height: 140px;
	background: url(../images/villarilayer2.png) 0 0 no-repeat;
	text-decoration: none;
	text-indent: -9999px;
	-webkit-background-size: cover;
	background-size: cover;
}
header .vdragon {
	display: inline-block;
	height: 130px;
	background: url(../images/studiodragon.png) 0 0 no-repeat;
	text-decoration: none;
	text-indent: -9999px;
	-webkit-background-size: cover;
	float: left;
	background-size: cover;
}
header .info {
	display: block;
	float: right;
}
header .info .phone {
	font-size: 25px;
	line-height: 25px;
	color: #1dbde0;
	display: inline-block;
	background: url(../images/phone.png) 0 4px no-repeat;
	padding-left: 35px;
	margin: 21px 0px 6px 0;
}
header .info .street {
	font-size: 12px;
	text-align: right;
	color: #fff;
}
header .tagline {
	float: right;
	margin-top: 0px;
	padding-right: 10px;
	width: 120%;
}
header .tagline .serving {
	font-style: italic;
	font-size: 13px;
	text-align: right;
	color: #fff;
	padding: 0 0 0 0;
}
header .teaching {
	display: block;
	float: left;
	font-size: 13px;
	text-align: center;
	color: #fff;
	padding: 0 0 0 0;
	letter-spacing: 6px
}
span.stretch {
	display: inline-block;
	transform: scale(2, 1); /* W3C */
	-webkit-transform: scale(2, 1); /* Safari and Chrome */
	-moz-transform: scale(2, 1); /* Firefox */
	-ms-transform: scale(2, 1); /* IE 9 */
	-o-transform: scale(2, 1); /* Opera */
}
/*********************************content*************************************/





#schcontent {
	padding: 20px 0px 20px 0px;
}
#content {
	padding: 129px 0px 39px 0px;
}
.cont_pad {
	padding: 274px 0 39px 0 !important;
}
.cont_pad2 {
	padding: 20px 0 39px 0 !important;
}
.cont_padpre {
	padding: 228px 0 39px 0 !important;
}
/*================================>> LISTS <<========================================*/































.list1 {
}
.list1 li {
	background: url(../images/marker1.png) 0 8px no-repeat;
	padding-left: 10px;
	margin-bottom: 4px;
}
.list1 a, .list2 a {
	color: #636363;
}
.list2 li {
	background: url(../images/marker2.png) 0 8px no-repeat;
	padding-left: 10px;
	margin-bottom: 4px;
}
/*================================>> H <<========================================*/



h4 {
	font-weight: normal;
}
h2 {
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 5px;
}
.orange {
	/*	color: #fc8501;*/







	color: #f5a300;
}
.green {
	/*	color: #13a870;*/







	color: #13a76f;
}
.aqua {
	color: #137da7;
}
.blue {
	/*	color: #174bb5;*/







	color: #3030ad;
}
.purple {
	color: #773dbe;
}
.brown {
	color: #976036;
}
.black {
	color: #101820;
}
.yellow {
	color: #f7ea49;
}
.white {
	color: #f1f8f8;
}
h2 span {
	display: inline-block;
	margin-top: -6px;
}
h2.ind {
	margin-bottom: -4px;
}
h3 {
	font-size: 16px;
	line-height: 19px;
	color: #7c7b7b;
	margin-bottom: 22px;
}
h3.ind {
	margin-bottom: 28px;
}
.button1, .button, h2, h3 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1px;
}
/*================================>> GOOGLE FONTS  <<========================================*/





.hideCard {
	display: none;
}
.button1, .button, h2, h3, .offers {
	font-family: 'Open Sans', sans-serif;
}
/*================================>> GLOBAL BLOCKS<<===================================*/



.block1 {
	max-height: 320px;
}
.block1 .bg {
	background: url(../images/bluewavy2l.jpg) 20% 0 no-repeat;
	background-size: cover;
}
.block1 .bgalt {
	background: inherit;
	background-size: inherit;
}
.height_sp {
	height: 320px !important;
}
.block2 {
	background: #FFFFFF;
	border-bottom: 1px solid #e5e5e5;
}
.block2pre {
	max-height: 390px;
	background: #FFFFFF;
	border-bottom: 1px solid #e5e5e5;
}
.block2 .bg_black {
	background: url(../images/whitewavy2l.jpg) no-repeat #fff;
	background-size: cover;
}
.block2pre .bg_black2 {
	background: url(../images/whitewavy2l.jpg) no-repeat #fff;
	background-size: cover;
}
.block3 {
	background: url(../images/block3.png) repeat-x #fff;
	padding: 31px 0 40px;
	border-bottom: 1px solid #e5e5e5;
}
.block4 {
	background: url(../images/block4.png) repeat-x #fff;
}
/*********************************page_1*************************************/





.extra_container {
	overflow: hidden;
}
.extra_container20 {
	overflow: hidden;
	margin-bottom: 20px;
}
.font_col1 {
	color: #f5a300;
} /*orange*/
.font_orange {
	color: #f5a300;
} /*orange*/
.orange_font {
	color: #f5a300;
} /*orange*/
.font_col2 {
	color: #13a76f;
} /*green*/
.font_green {
	color: #13a76f;
} /*green*/
.green_font {
	color: #13a76f;
} /*green*/
.font_col3 {
	color: #137da7;
} /*aqua*/
.font_aqua {
	color: #137da7;
} /*aqua*/
.aqua_font {
	color: #137da7;
} /*aqua*/
.font_col4 {
	color: #3030ad;
} /*blue*/
.font_blue {
	color: #3030ad;
} /*blue*/
.blue_font {
	color: #3030ad;
} /*blue*/
.font_purple {
	color: #773dbe;
} /*purple*/
.purple_font {
	color: #773dbe;
} /*purple*/
.yellow_font {
	color: #f7ea49;
} /*yellow*/
.white_font {
	color: #ffffff;
} /*white*/
.brown_font {
	color: #976036;
} /*brown*/
.black_font {
	color: #54565b;
} /*black*/
.p34 img {
	width: auto;
}
.orange_bg {
	background: url(../images/bg_orange.png) 100% repeat-x #da7d01;
	background-size: contain;
}
.green_bg {
	background: url(../images/bg_green.png) 100% repeat-x #007953;
	background-size: contain;
}
.aqua_bg {
	background: url(../images/aqua_bg.jpg) 100% repeat-x #137ca6;
	background-size: contain;
}
.blue_bg {
	background: url(../images/bg_blue.png) 100% repeat-x #2c2c92;
	background-size: contain;
}
.purple_bg {
	background: url(../images/bg_purple.png) 100% repeat-x #592c82;
	background-size: contain;
}
.brown_bg {
	background: url(../images/bg_brown.png) 100% repeat-x #512c1e;
	background-size: contain;
}
.black_bg {
	background: url(../images/bg_black.png) 100% repeat-x #101820;
	background-size: contain;
}
.yellow_bg {
	background: url(../images/bg_yellow.png) 100% repeat-x #ffde00;
	background-size: contain;
}
.white_bg {
	background: url(../images/bg_white.png) 100% repeat-x #f1f8f8;
	background-size: contain;
}
.offers {
	font-size: 14px;
	line-height: 19px;
	color: #fff;
	padding-bottom: 1px;
	margin-top: 0px;
}
.offers h3 {
	font-size: 12px;
	color: #fff;
}
.offers .description {
	min-height: 141px;
	box-shadow: 0 1px #b5b3b3;
	padding: 10px 10px 0px 10px;
}
.offers .descriptionrnd {
	min-height: 120px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px #b5b3b3;
	padding: 10px 10px 0px 10px;
	font-size: small;
}
.offers .schedule {
	font-size: 16px;
	line-height: 13px;
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
}
.offers .notToday {
	display: none;
}
.offers .today {
	display: block;
}
.offers .descriptionsh {
	border-radius: 0 0 5px 5px;
	padding: 0px 0px 10px 35px;
}
.offers .descriptionhd {
	padding: 0px 0px 10px 35px;
}
.offers .descriptioncont {
	padding: 10px 10px 10px 10px;
}
.offers .descriptioncenter {
	padding: 10px 10px 10px 10px;
	text-align: center;
}
.offers .description .font_col1 {
	color: #fc8301 !important;
}
.offers .description .font_col2 {
	color: #09a86c !important;
}
.offers .description .font_col3 {
	color: #137da7 !important;
}
.offers .description .font_col4 {
	color: #225bcd !important;
}
/*********************************page_2*************************************/





.box1 {
	margin-bottom: 14px;
}
.p_top, .news>figure, .box1>figure {
	padding-top: 6px;
}
.news {
	margin-bottom: 10px;
}
.news>div {
	margin-right: 10px;
}
/*********************************page_3*************************************/





.programs {
	padding: 0 12px 0 0;
}
.programs li {
	margin-bottom: 20px;
}
.classes dt {
}
.classes dd {
	padding: 0 20px 0 8px;
}
.instructors {
	padding: 6px 0 0 0;
}
.instructors .insname {
	font-size: large;
	font-weight: bold;
}
.instructors .institle {
	font-size: medium;
	font-weight: bold;
  /*  margin-top: 14px; */
}
.instructors img {
  /*margin-bottom: 14px;*/
}
.imgenh {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 1em;
  min-height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow:  0 0 10px rgba(0,0,0,.3);
  width: 244px;
  margin-left: 30px;
}
.imgenh2 {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 1em;
  min-height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow:  0 0 10px rgba(0,0,0,.3);
  width: 203px;
  margin-left: 6px;
}
.imgenh3 {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 1em;
  min-height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow:  0 0 10px rgba(0,0,0,.3);
  width: 174px;
  margin-left: 60px;
}
/*********************************page_4*************************************/

.questionfaq {
	font-size: medium;
	font-weight: bold;
}
.questionanswer {
	font-size: small;
	font-weight: normal;
	padding-left: 5px;
	margin-top: -14px;
	margin-bottom: -14px;
	background: url(../images/marker1.png) 0 8px no-repeat;
}
.lessons {
	border-top: 1px solid #fc8501;
	border-left: 1px solid #fc8501;
}
.lessons th, .lessons td {
	border-bottom: 1px solid #fc8501;
	border-right: 1px solid #fc8501;
}
.lessons th {
	font-weight: bold;
	text-align: center;
	padding: 6px 0 11px;
}
.lessons th.col2 {
	padding-top: 18px;
}
.lessons th.col1 {
	width: 219px;
}
.lessons th.col2 {
	width: 149px;
	padding-top: 18px;
}
.lessons th.col5, .lessons th.col4, .lessons th.col3 {
	width: 114px;
}
.lessons th.col6 {
	width: 222px;
}
td.indent1 {
	padding: 4px 5px 5px 19px;
}
td.indent2 {
	padding: 4px 0 0 10px;
}
/*********************************page_5*************************************/











.offerspecial {
	background-color: #81c108;
	color: #faf704;
	font-size: 24px;
	font-weight: bold;
        padding-top: 15px;
}
.offerspecial2 {
	background-color: #81c108;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
        padding: 15px;
}
.registration {
	color: #6a6a6a;
	margin: -6px 0 0 0;
}
.registration input {
	border: 1px solid #b1b1b1;
	color: #7c7b7b;
	margin: 1px 0 0 0;
	background: none;
	width: 296px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 17px 15px 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.registration .row {
	clear: both;
	position: relative;
	min-height: 60px;
}
.registration .row .left {
	width: 110px;
	float: left;
	padding: 15px 0 0 0;
}
.registration .radio_box {
	padding: 12px 0 23px 0;
	overflow: hidden;
}
.registration .radio_box .left {
	float: left;
	width: 106px;
	padding-top: 4px;
}
.registration .radio_box .right {
	float: left;
	overflow: hidden;
	padding: 0 0 0 0px;
	width: 202px;
}
.registration .radio_box .right label {
	margin: 4px 0 0 9px;
	display: inline-block;
}
.registration .row1 {
}
.z10 {
	z-index: 10;
}
.z9 {
	z-index: 9;
}
.z8 {
	z-index: 8;
}
.z7 {
	z-index: 7;
}
.registration .but_wrap {
	text-align: right;
}
.map_wrapper {
	overflow: hidden;
	margin-bottom: 14px;
	padding-top: 6px;
}
#map_canvasa {
	width: 100%;
	height: 294px;
}
#map-canvas {
	height: 250px;
	width: 250px;
}
#mapdir-canvas {
	height: 250px;
	width: 250px;
}
fieldset {
	padding: 0;
	border: 0;
	margin-top: 46px;
}
.ui-dialog .ui-state-error {
	padding: .3em;
}
.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}
.adress {
}
.adress span {
	display: inline-block;
	width: 108px;
}
.adress dt {
	margin-bottom: 20px;
}
.adress a, .link {
	color: #fc8501;
	text-decoration: underline;
}
.adress a:hover, .link:hover {
	text-decoration: none;
}
/****************************footer************************/





footer {
	padding: 34px 0;
	background: none;
	overflow: hidden;
}
footer .menu {
	float: left;
	overflow: hidden;
}
footer .menu a {
	display: inline-block;
	margin: 0 13px 0 0;
	font-size: 12px;
	line-height: 18px;
	color: #7c7b7b;
	font-weight: bold;
}
footer .menu a:hover, footer .menu .current {
	color: #1aa8cd;
}
footer .privacy {
	float: right;
	margin: -1px 0 0 0;
}
.footer .social {
	overflow: hidden;
	margin: 0 auto;
}
footer .social a {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	overflow: hidden;
	margin-left: 8px;
}
footer .social a:first-child {
	margin: 0 0 0 0;
}
footer .social a:hover img {
	margin-top: -32px;
}
#easyTooltip {
	font-size: 12px;
	background: #fff;
	padding: 3px 5px;
	border: 1px solid #000
}
.page2-img1 {
	float: left;
	margin-bottom: 14px;
	margin-right: 19px;
	padding-top: 6px;
}
.p_top img {
	width: auto;
}
.p_mid img {
	width: 150px;
}
.p_200 img {
	width: 200px;
}
.page3-img1 {
	float: left;
	margin-right: 19px;
}

/******************** Responsive ******************/







@media only screen and (min-width: 768px) and (max-width: 1023px) {
body {
	min-width: 768px;
}
.cont_pad {
	padding: 130px 0px 39px 0px !important;
}
.cont_pad2 {
	padding: 130px 0px 39px 0px !important;
}
h2 {
	font-size: 23px;
}
.register {
/*top: 10px;



	left: 600px; */



}
}

@media only screen and (max-width: 1023px) {
body {
	min-width: 768px;
}
.block1 {
		max-height: none; 



	background: #fff;
}
.cont_pad {
	padding: 274px 0px 39px 0px !important;
}
.cont_pad2 {
	padding: 130px 0px 39px 0px !important;
}
}

@media only screen and (max-width: 995px) {
body {
	min-width: 768px;
}
h2 {
	font-size: 19px;
}
.img_sh {
	height: auto;
}
.img_ssh {
	height: auto;
}
.offers {
	font-size: small;
}
.offers .today {
	font-size: smaller;
}
#schcontent {
	padding: 50px 0px 20px 0px;
}
header h1 a {
	width: 300px;
	height: 97px;
}
header .vdragon {
	height: 95px;
}
header .teaching {
	font-size: 8px;
	letter-spacing: 4px;
}
header .info .phone {
	font-size: inherit;
	line-height: inherit;
}
header .info .street {
	font-size: 9px;
}
.cont_pad {
	padding: 281px 0px 39px 0px !important;
}
.cont_pad2 {
	padding: 10px 0px 39px 0px !important;
}
.program .stime {
	font-size: 70%;
}
.programall .day {
	font-size: 14px;
	width: 14%;
}
.camera_pag_ul {
	bottom: 13%;
}
.sf-menu li {
	width: 93px;
}
.select2 .jqTransformSelectWrapper ul {
	width: 100% !important;
}
.select1 .jqTransformSelectWrapper ul {
	width: 100% !important;
}
.select2 .jqTransformSelectWrapper div span {
	width: 100% !important;
}
.select1 .jqTransformSelectWrapper div span {
	width: 100% !important;
}
footer .menu a {
	font-size: 12px;
	line-height: 18px;
	margin: 0 6px 0 0;
}
.sf-menu > li > a {
	font-size: 11px;
}
.select2 .jqTransformSelectWrapper {
	width: 90px !important;
}
.select1 .jqTransformSelectWrapper {
	width: 81px !important;
}
.registration .row .left {
	width: 84px;
}
.p34 img {
	width: 100%;
}
}

@media only screen and (max-width: 767px) {
.block1 .bgalt {
	background: url(../images/bluewavy2l.jpg) 20% 0 no-repeat;
	background-size: cover;
}
.block1 .bg {
	background: url(../images/whitewavy2l.jpg) no-repeat #fff;
	background-size: cover;
}
body {
	min-width: 420px;
}
.programall .day {
	width: 24%;
}
.programall .day .sclass {
	font-size: 8px;
	padding-left: 0px;
}
.programall .day .stime {
	font-size: 8px;
	padding-left: 0px;
}
.camera_pag_ul {
	bottom: 7%;
}
.cont_pad {
	padding: 130px 0px 39px 0px !important;
}
.cont_pad2 {
	padding: 130px 0px 39px 0px !important;
}
#schcontent {
	padding: 345px 0px 20px 0px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
body {
	min-width: 420px;
}
.slider_boxsm {
	display: block;
}
.slider_box {
	display: none;
}
.specialinclude_sm {
	display: block;
}
.specialinclude {
	display: none;
}
#schcontent {
	padding: 345px 0px 20px 0px;
}
header .vdragon {
	width: 100px !important;
}
.floatright {
	float: left;
}
.floatleft {
	float: right;
}
nav select {
	outline: none;
	display: block !important;
	height: 25px;
	line-height: 25px;
	padding: 0 0 4px;
}
header .info {
	float: right;
	text-align: left;
	padding-right: 10px;
}
header h1 {
	float: none;
	margin: 0 0 20px;
	text-align: center;
}
.register {
	display: block;
	top: 830px;
	background-size: 150px;
}
.menu {
	display: none;
}
nav {
	margin: 23px 0px 20px;
}
.cont_pad {
	padding: 678px 0px 39px 0px !important;
}
.cont_pad2 {
	padding: 665px 0px 39px 0px !important;
}
.cont_padpre {
	padding: 0px !important;
}
footer .privacy {
	float: none;
}
footer {
	padding: 20px 0;
}
.height_sp {
	height: auto !important;
}
#content {
	padding: 20px 0 39px;
}
.page2-img1 {
	float: none;
	margin-right: 0;
}
.page2-img1 {
	float: none;
	margin-right: 0;
}
.p7 {
	margin-left: 0;
}
.page3-img1 {
	float: none;
	margin-right: 0;
}
.page3-img1 {
	float: none;
	margin: 0 0 15px;
}
.page3-img1 img {
	width: 100%;
}
.registration input {
	width: 100%;
}
.select3 .jqTransformSelectWrapper div span {
	width: 100% !important;
}
.registration .row .left {
	width: 63px;
	float: none;
}
.select2 .jqTransformSelectWrapper {
	width: 110px !important;
}
.select1 .jqTransformSelectWrapper {
	width: 75px !important;
}
.select3 .jqTransformSelectWrapper {
	width: 349px !important;
}
.select2 .jqTransformSelectWrapper ul {
	width: 100% !important;
}
.select1 .jqTransformSelectWrapper ul {
	width: 100% !important;
}
.p34 img {
	width: 100%;
}
nav {
	width: 100%;
}
nav select {
	display: block !important;
	height: 23px;
	line-height: 23px;
	outline: medium none;
	padding: 0;
	width: 100%;
}
}
 @media only screen and (max-width: 479px) {
.inner-block {
	padding: 0 10px;
}
footer .privacy {
	float: none;
}
body {
	min-width: 300px;
}
.slider_boxsm {
	display: block;
}
.slider_box {
	display: none;
}
.specialinclude_sm {
	display: block;
}
.specialinclude {
	display: none;
}

header .info {
	float: right;
	text-align: left;
	padding-right: 10px
}
.menu {
	display: none;
}
.register {
	display: block;
		top: 750px;
	background-size: 150px;

}
header h1 a {
	height: 75px;
	width: 260px;
}
header .vdragon {
	height: 50px !important;
	width: 50px !important;
}
.cont_padpre {
	padding: 0px !important;
}
.cont_pad {
	padding: 700px 0px 39px 0px !important;
}
.cont_pad2 {
	padding: 700px 0px 39px 0px !important;
}
#schcontent {
	padding: 295px 0px 20px 0px;
}
header h1 {
	float: none;
	margin: 0 0 20px;
	text-align: center;
}
nav {
	margin: 23px 0 20px;
}
td.indent1 {
	padding: 5% 0 5% 60%;
}
td.indent2 {
	padding: 5% 0 5% 60%;
}
td.indent3 {
	padding: 5% 0 5% 60%;
}
/* Force table to not be like tables anymore */





table, thead, tbody, th, td, tr {
	display: block;
}
/* Hide table headers (but not display: none;, for accessibility) */



thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
tr {
	border: 1px solid #ccc;
}
td {
	/* Behave  like a "row" */



	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
}
td:before {
	/* Now like a table header */





	top: 6px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
}
/*

        Label the data

        */



td:nth-of-type(1):before {
	content: "Session Name";
}
td:nth-of-type(2):before {
	content: "Location(s)";
}
td:nth-of-type(3):before {
	content: "Session Dates";
}
td:nth-of-type(4):before {
	content: "Resident Registration";
}
td:nth-of-type(5):before {
	content: "Non-resident Registration";
}
td:nth-of-type(6):before {
	content: "Late Registration";
}
td:nth-of-type(1):before {
	font-weight: bold;
}
footer {
	padding: 20px 0;
}
.height_sp {
	height: auto !important;
}
#content {
	padding: 20px 0 39px;
}
.p7 {
	margin-left: 0;
}
.page2-img1 {
	float: none;
	margin-right: 0;
}
.page3-img1 {
	float: none;
	margin: 0 0 15px;
}
.page3-img1 img {
	width: 100%;
}
.registration input {
	width: 100%;
}
.select3 .jqTransformSelectWrapper div span {
	width: 100% !important;
}
.registration .row .left {
	width: 63px;
	float: none;
}
.select2 .jqTransformSelectWrapper {
	width: 110px !important;
}
.select1 .jqTransformSelectWrapper {
	width: 75px !important;
}
.select3 .jqTransformSelectWrapper {
	width: 100% !important;
}
.select2 .jqTransformSelectWrapper ul {
	width: 100% !important;
}
.select1 .jqTransformSelectWrapper ul {
	width: 100% !important;
}
.p34 img {
	width: 100%;
}
nav {
	width: 100%;
}
.lessons th.col1 {
	width: auto;
}
.lessons th.col2 {
	width: auto;
}
.lessons th.col5, .lessons th.col4, .lessons th.col3 {
	width: auto;
}
.lessons th.col6 {
	width: auto;
}
nav select {
	display: block !important;
	height: 23px;
	line-height: 23px;
	outline: medium none;
	padding: 0;
	width: 100%;
}