<div ng-controller="AppController as $ctrl"   ng-cloak> 
  <div id="adialog" title="Student Picker" style="display: none">
    <form novalidate class="simple-form">
      <div class="select-box pal" id="calEventDialogpick">
        <ui-select ng-model="$ctrl.studentpick2" theme="bootstrap" reset-search-input="true" style="width: 300px;" on-select="$ctrl.setStudentFromPick($item)" title="Choose a student" append-to-body="true">
          <ui-select-match placeholder="Filter the student...">{{$select.selected.FullName}}</ui-select-match>
          <ui-select-choices repeat="stu in $ctrl.refreshstudentlist.refreshstudentlist | filter: $select.search track by stu.ID" refresh="$ctrl.refreshStudents($select.search)" refresh-delay="0">
            <div id="contactpicklist" ng-bind-html="stu.FullName | highlight: $select.search"></div>
          </ui-select-choices>
          <ui-select-no-choice>
            Dang! We couldn't find any choices...
          </ui-select-no-choice>
        </ui-select>
      </div>
    </form>
  </div>

  <div id="calEventDialog" style="display: none">
    <form novalidate class="simple-form">
      <div class="pal">
        <div class="form-group">
          <label for="eventTitle" class="control-label col-md-3">Title</label>
          <div class="col-md-9">
            <input type="text" name="eventTitle" id="eventTitle" class="form-control" />
          </div>
        </div>
<!--        <div class="form-group" id="eventPickDiv" ng-hide="$ctrl.typepick === 'ClassSchedule'"> -->
        <div class="form-group" id="eventPickDiv">
          <label for="eventpick" class="control-label col-md-3">Student</label>
          <div class="col-md-9">
            <div class="input-group ">
              <input id="eventpick" type="text" class="form-control">
              <span class="input-group-addon">
                          <i class="glyphicon glyphicon-search"></i>
                      </span>
            </div>
          </div>
        </div>
        <div class="form-group" id="typePickDiv">
          <label for="typepick" class="control-label col-md-3">Type</label>
          <div class="col-md-9">
            <select id="typepick" type="text" name="typepick" ng-model="$ctrl.typepick" ng-options="t for t in $ctrl.eventtypeOptions track by t" class="form-control">
                     <option value="">-- Pick Type --</option>
                  </select>
          </div>
        </div>
        <div class="form-group" id="classPickDiv">
          <label for="classpick" class="control-label col-md-3">Class</label>
          <div class="col-md-9">
            <select id="classpick" type="text" name="classpick" ng-model="$ctrl.classpick" ng-options="u.id as u.class for u in $ctrl.classList track by u.id" class="form-control">
                     <option value="">-- Pick class --</option>
                  </select>
          </div>
        </div>
        <div class="form-group" id='agerPickDiv'>
          <label for="agerpick" class="control-label col-md-3">Ages</label>
          <div class="col-md-9">
            <select id="agerpick" type="text" name="agerpick" ng-model="$ctrl.agerpick" ng-options="a.agerange as a.agerange for a in $ctrl.agerangelist track by a.agerange" class="form-control">
                     <option value="">-- Pick Age Range --</option>
                  </select>
          </div>
        </div>
        
        <div class="form-group" id="userPickDiv">
          <label for="userpick" class="control-label col-md-3">Assign</label>
          <div class="col-md-9">
            <select id="userpick" type="text" name="userpick" ng-model="$ctrl.userpick" ng-options="u.user as u.fullname for u in $ctrl.thisUserlist track by u.user" class="form-control">
                     <option value="">-- Assign user --</option>
                  </select>
          </div>
        </div>


        <div class="form-group">
          <label for="eventStartd" class="control-label col-md-3">Date</label>
          <div class="col-md-9">
            <input type="text" name="eventStartd" id="eventStartd" class="form-control" />
          </div>
        </div>


        <div class="form-group" id="eventStartDiv">
          <label for="eventStart" class="control-label col-md-3">Start</label>
          <div class="col-md-9">
            <div class="input-group bootstrap-timepicker timepicker">
              <input id="eventStart" type="text" class="form-control input-small">
              <span class="input-group-addon">
                        <i class="glyphicon glyphicon-time"></i>
                    </span>
              <input id="eventStarttz" type="text" class="form-control" readonly style="border: 0px; font-size: smaller;" />
            </div>

          </div>
        </div>
        <div class="form-group" id="eventEndDiv">
          <label for="eventEnd" class="control-label col-md-3">End</label>
          <div class="col-md-9">
            <div class="input-group bootstrap-timepicker timepicker">
              <input id="eventEnd" type="text" class="form-control input-small">
              <span class="input-group-addon">
                        <i class="glyphicon glyphicon-time"></i>
                    </span>
              <input id="eventEndtz" type="text" class="form-control" readonly style="border: 0px; font-size: smaller;" />
            </div>
          </div>
        </div>

        <div class="form-group" id="reminderCheckboxDiv">
          <label for="reminderCheckbox" class="control-label col-md-3">Reminder
                <div class="col-md-3">
                  <input id="reminderCheckbox" type="checkbox">&nbsp;
                </div>                  
                </label>
          <div class="col-md-9">
            <select id="reminderInterval" type="text" name="reminderInterval" ng-model="$ctrl.reminderInterval" ng-options="r for r in $ctrl.reminderOptions track by r" class="form-control">
                  </select>
          </div>
        </div>


        <input id="eventid" type="hidden">
        <input id="studentpick" type="hidden">
      </div>
    </form>
  </div>

  <div id="tab-general" ng-show="$ctrl.isok">

    <div class="col-lg-12">
      <button type="button" class="btn btn-green" ng-hide="$ctrl.close" ng-click="$ctrl.openSchedule()">Open Calendar
        <i class="glyphicon glyphicon-calendar"></i></button>
      <button type="button" class="btn btn-green" ng-hide="$ctrl.open" ng-click="$ctrl.closeSchedule()">Close Calendar
        <i class="glyphicon glyphicon-calendar"></i></button>
      <div class="portlet portlet-blue">
        <div class="portlet-header">
          
          <div class="caption">Calendar and Task Lists</div>
          <div class="tools"><i class="fa fa-chevron-init fa-chevron-down"></i></div>
        </div>
        <div class="portlet-body pbn ptl" style="display: block;   background-color: grey;">
          <div class="panel" style="background-color: grey;">
            <div class="panel-body">
              <div class="col-md-4" style="background-color: grey;">
                <div class="panel">
                  <div class="panel-body">
                    <h4 class="block-heading" style="font-family: " oswald ";"><i class="icon-exclamation icons mrs"></i>Filter</h4>
                    <div class="form-group col-md-12">
                      <label for="inputForUser" class="control-label col-md-3">User</label>
                      <div class="col-md-9">
                        <select id="inputForUser" type="text" name="forUser" ng-model="$ctrl.forUser" required placeholder="Schedule/Tasks for?" class="form-control">
                            <option ng-repeat="iter in $ctrl.forUsers.userlist" value="{{iter.user}}">{{iter.user}}</option>
                          </select>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="portlet portlet-green">
                  <div class="portlet-header">
                    <div class="caption">Event</div>
                    <div class="tools"><i class="fa fa-chevron-init fa-chevron-down"></i></div>
                  </div>
                  <div class="portlet-body pbn ptl" style="display: block;   background-color: white;">
                    <div class="panel">
                      <div class="panel-body">
                        <div id="external-events">
                          <h4 class="block-heading" style="font-family: " oswald ";"><i class="icon-event icons mrs"></i>Event List</h4>
                          <div class="col-md-12 input-group">
                            <div class="col-md-2">
                              <color-picker ng-model="$ctrl.mycolor" color-picker-format="'hex'" color-picker-swatch="true" color-picker-swatch-pos="'right'" color-picker-swatch-only="true" color-picker-on-change="$ctrl.settextcolor()">

                              </color-picker>
                            </div>
                            <div class="col-md-9 input-group">
                              <input id="event-name" type="text" class="form-control" value="" placeholder="Create an Event..." style="background-color: {{$ctrl.mycolor}} !important; color: {{$ctrl.textcolor}} !important">
                              <span class="input-group-btn">
                                        <a id="event-add" 
                                          href="javascript:;" 
                                          class="btn btn-primary">Add</a>
                                      </span>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <hr>
                            <div id="items">
                              <span ng-repeat="item in $ctrl.instructorlist" items-drag class="external-event label label-default" id="event" style="position: relative;background-color: {{item.backgroundcolor}} !important; color: {{item.textcolor}} !important">
                                            {{item.firstname}} {{item.lastname}}</span>
                            </div>
                            <hr>
                            <div id="testtype">
                              <span ng-repeat="item in $ctrl.testtypelist" items-drag class="external-event label label-default" id="{{item.testdescription}}" style="position: relative;background-color: {{item.backgroundcolor}} !important; color: {{item.textcolor}} !important">
                                            {{item.testdescription}}</span>
                            </div>
                            <hr>
                            <div class="external-event label label-default ui-draggable " items-drag id="movie" style="position: relative;background-color: cyan !important; color: black;">
                              Movie Night</div>
                            <hr>
                            <div class="external-event label label-default ui-draggable " items-drag id="ClassSchedule" style="position: relative;background-color: orange !important; color: black;">
                              Class Schedule</div>
                          </div>
                          <div id="event-block"></div>
                        </div>
                      </div>
                    </div>
                    <div id="eventContent" title="Event Details" style="display: none">
                      Start: <span id="startTime"></span><br> End: <span id="endTime"></span><br><br>
                      <div id="eventInfo"></div>
                      <p><strong><a id="eventLink" target="_blank">Read More</a></strong></p>
                    </div>
                  </div>
                </div>
                <div class="portlet portlet-green">
                  <div class="portlet-header">
                    <div class="caption">Tasks</div>
                    <div class="tools"><i class="fa fa-chevron-down fa-chevron-init"></i></div>
                  </div>
                  <div class="portlet-body pbn ptl" style="display: block;   background-color: white;">
                    <div class="panel">
                      <div class="panel-body">
                        <h4 class="block-heading" style="font-family: " oswald ";"><i class="icon-directions mrs"></i>Todo List</h4>
                        <div id="todos-list">
                          <ul id="todos-list-sort" class="list-unstyled">
                            <li>
                              <div class="input-group">
                                <input id="todos-list-input" type="text" placeholder="New task content" value="" class="form-control" /><span class="input-group-btn">
                                    <button id="todos-list-add" type="button" class="btn btn-primary">Add</button></span>
                              </div>
                            </li>
                          </ul>
                          <ul id="todos-list-gen" class="list-unstyled">
                            <li class="row" ng-repeat="task in $ctrl.thisTasknamelist " style="padding: 0px 10px 0px 20px;">
                              <input type="checkbox" id="{{task.taskid}}" ng-model="task.taskstatus" ng-change="$ctrl.updateTasknamelist(task.taskname, task.taskstatus)" ng-true-value="1" ng-false-value="0" />
                              <label for="{{task.taskid}}">{{task.taskname}}</label><a href="" ng-click="$ctrl.removeTasknamelist(task.taskname)" data-hover="tooltip" data-original-title="remove" class="delete"><span class="far fa-trash-alt"></span></a>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="portlet portlet-green">
                  <div class="portlet-header">
                    <div class="caption">Class Schedule</div>
                    <div class="tools"><i class="fa fa-chevron-down fa-chevron-init"></i></div>
                  </div>
                  <div class="portlet-body pbn ptl" style="display: block;   background-color: white;">
                    <div class="panel">
                      <div class="panel-body">
                        <h4 class="block-heading" style="font-family: " oswald ";"><i class="icon-directions mrs"></i>Schedule to Calendar</h4>
                        <div class="col-md-12">
                          <label for="inputeventdate" class="control-label">Event Date </label>
                          <div class="form-group">
                            <div class="col-md-9">
                              <div class="input-icon right">
                                <i ng-click="$ctrl.conversiondateopen($event)" data-hover="tooltip" data-original-title="Correct" class="glyphicon tooltips"></i>
                                <input id="conversiondate" type="text" placeholder="mm/dd/yyyy" name="conversiondate" ng-model="$ctrl.ConversionDate" is-open="$ctrl.status.opened" uib-datepicker-popup="{{$ctrl.bdateformat}}" class="form-control">
                              </div>
                            </div>
                            <div class="">
                              <button type="button" class="btn btn-default" ng-click="$ctrl.conversiondateopen($event)">
                                <i class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button id="sched-to-calendar" ng-show="$ctrl.ConversionDate" ng-click="$ctrl.schedToCal()" type="button" class="btn btn-primary">Transfer Schedule to Calendar</button>
                          <button id="clear-calendar"  ng-show="$ctrl.ConversionDate" ng-click="$ctrl.clearCal()" type="button" class="btn btn-primary">Clear Class on Calendar</button>
                          <button id="transfer-calendar" ng-show="$ctrl.ConversionDate" ng-click="$ctrl.transferCal()" type="button" class="btn btn-primary">Transfer Calendar<br/> to Schedule</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="panel">
                  <div class="panel-body">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>


            </div>
          </div>

        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-lg-4">
        <div class="panel">
          <div class="panel-body">
            <h4 class="block-heading"><i class="icon-cursor mrs"></i>Student Makeup</h4>
            <div ng-repeat="stats in $ctrl.studentstats | orderBy: 'timeint':true | filter: $ctrl.filterstat ">
              <div ng-repeat="d in stats.details">
                {{d.details.firstname}} {{d.details.lastname}} became {{d.details.classstatus}} on {{d.details.month}}
                <a ng-href="/#/form-layouts-editstudent/id/{{d.details.contactid}}" class="btn btn-blue ">Edit {{d.details.firstname}}</a>
              </div>
            </div>
            <div id="line-chart-spline" style="height:300px" class="col-lg-12"></div>
            <div id="line-chart-spline-legend" style="height:35px; padding-top:20px;" class="col-lg-12"></div>
          </div>
        </div>
      </div>
      <!--    
    <div class="col-sm-12 col-lg-8">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <h4 class="mbs text-uppercase">Attendance</h4>
              <p class="help-block">Class Attendance</p>
              <div id="area-chart-spline-db" style="width: 100%; height:300px"></div>
            </div>
            <div class="col-md-4">
              <h4 class="mbm text-uppercase">Attendance by Class as % of Total Capacity</h4><span class="task-item">Dragons <small class="pull-right text-muted">40%</small>
                <div class="progress progress-sm">
                  <div role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;" class="progress-bar progress-bar-orange"><span class="sr-only">40% Complete (success)</span></div>
                </div></span><span>Leopards<small class="pull-right text-muted">60%</small>
                <div class="progress progress-sm">
                  <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" class="progress-bar progress-bar-blue"><span class="sr-only">60% Complete (success)</span></div>
                </div></span><span>BBT1<small class="pull-right text-muted">55%</small>
                <div class="progress progress-sm">
                  <div role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;" class="progress-bar progress-bar-green"><span class="sr-only">55% Complete (success)</span></div>
                </div></span><span>BBT2<small class="pull-right text-muted">66%</small>
                <div class="progress progress-sm">
                  <div role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;" class="progress-bar progress-bar-yellow"><span class="sr-only">66% Complete (success)</span></div>
                </div></span><span>BBT3<small class="pull-right text-muted">90%</small>
                <div class="progress progress-sm">
                  <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;" class="progress-bar progress-bar-pink"><span class="sr-only">90% Complete (success)</span></div>
                </div></span><span>Adult<small class="pull-right text-muted">50%</small>
                <div class="progress progress-sm">
                  <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-violet"><span class="sr-only">50% Complete (success)</span></div>
                </div></span>
            </div>
          </div>
        </div>
      </div>
    </div>
-->
    </div>
    <!--  
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="panel">
        <div class="panel-body">
          <h4 class="block-heading"><i class="icon-graph mrs"></i>Active Students</h4>
          <div id="internet-speed-chart" style="width: 100%; height:120px"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="panel">
        <div class="panel-body">
          <h4 class="block-heading"><i class="icon-users mrs"></i>New Students<span class="pull-right"><span id='new-customer-number'></span></span></h4>
          <div id="new-customer-chart" style="width: 100%; height:120px"></div>
        </div>
      </div>
  <div class="panel">
        <div class="panel-body">
          <h4 class="block-heading"><i class="icon-globe mrs"></i>Under 18 Demographic view</h4>
          <div id="traffice-sources-chart" style="width: 100%; height:120px"></div>
        </div>
      </div>
     
    </div>
    <div class="col-sm-6 col-md-6 col-lg-2">
      <div class="panel">
        <div class="panel-body">
          <h4 class="block-heading">Teaching<span class="pull-right"><span id='users-number'>21</span></span></h4>
          <ul class="users-online list-unstyled">
            <li>
              <div class="name"><a href="">Beef Mazzola</a></div>
              <div class="status is-idle"></div>
            </li>
            <li>
              <div class="name"><a href="">Pat Wyatt</a></div>
              <div class="status is-online"></div>
            </li>
            <li>
              <div class="name"><a href="">Karen Humphries</a></div>
              <div class="status is-busy"></div>
            </li>
            <li>
              <div class="name"><a href="">Mark Lehman</a></div>
              <div class="status is-online"></div>
            </li>
            <li>
              <div class="name"><a href="">Michael Collins</a></div>
              <div class="status is-online"></div>
            </li>
            <li>
              <div class="name"><a href="">Roy Kennedy</a></div>
              <div class="status is-offline"></div>
            </li>
            <li>
              <div class="name"><a href="">Rob Whitney</a></div>
              <div class="status is-offline"></div>
            </li>
            <li>
              <div class="name"><a href="">Mike Clune</a></div>
              <div class="status is-online"></div>
            </li>
            <li>
              <div class="name"><a href="">Matt Higgins</a></div>
              <div class="status is-online"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div id="world-map"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="panel">
        <div class="panel-body pan">
          <div class="profile">
            <div class="user-info">
              <div style="margin-bottom: 15px" class="row">
                <div class="col-xs-12 col-sm-8">
                  <h2>John Doe</h2>
                  <p><strong>About:</strong> Web Designer / UI.
                  </p>
                  <p><strong>Hobbies:</strong> Read, go out with friends, draw and learn new things.
                  </p>
                  <p><strong class="mrs">Skills:</strong><span class="label label-green mrs">html5</span><span class="label label-green mrs">css3</span><span class="label label-green mrs">jquery</span></p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                  <figure><img src="images/avatar/128.jpg" alt="" style="display: inline-block" class="img-responsive img-circle"/>
                    <figcaption class="ratings">
                      <p><a href=""><span class="fa fa-star"></span></a><a href=""><span class="fa fa-star"></span></a><a href=""><span class="fa fa-star"></span></a><a href=""><span class="fa fa-star"></span></a><a href=""><span class="far fa-star"></span></a></p>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="user-action">
              <div class="row text-center divider">
                <div class="col-xs-4 col-sm-4 emphasis">
                  <h2><strong> 20,7K</strong></h2>
                  <p><small>Followers</small></p>
                  <button class="btn btn-yellow btn-block">Follow</button>
                </div>
                <div class="col-xs-4 col-sm-4 emphasis pln prn">
                  <h2><strong>43</strong></h2>
                  <p><small>Snippets</small></p>
                  <div style="width: 100%" class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-orange dropdown-toggle form-control">Options&nbsp;<i class="fa fa-angle-down"></i></button>
                    <ul role="menu" class="dropdown-menu text-left">
                      <li><a href=""><span class="fa fa-envelope"></span>&nbsp;
                          Send an email</a></li>
                      <li><a href=""><span class="fa fa-list"></span>&nbsp;
                          Add or remove from a list</a></li>
                      <li class="divider"></li>
                      <li><a href=""><span class="fa fa-warning"></span>&nbsp;
                          Report this user for spam</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-4 emphasis">
                  <h2><strong>245</strong></h2>
                  <p><small>Following</small></p>
                  <button class="btn btn-blue btn-block">Profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-5">
    </div>
    <div class="col-lg-3">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel">
        <div style="overflow:hidden" class="panel-body pan">
          <div class="widget-weather">
            <div class="wt-head">
              <p>121 King Street, Melbourne, Australia</p><span>Monday, 08-18-2014</span>
            </div>
            <div class="wt-body">
              <canvas id="rain" width="90px" height="90px"></canvas><span>24&deg;</span>
              <div class="sub-weather">
                <p class="mrm">
                  <canvas id="partly-cloudy-night" width="48px" height="48px"></canvas><span>Cloud</span>
                </p>
                <p class="mlm">
                  <canvas id="wind" width="48px" height="48px"></canvas><span>Wind</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="panel">
        <div class="panel-heading pan pbxxl">
          <div id="ex-slider" data-ride="carousel" class="carousel slide pbl">
            <ol class="carousel-indicators list-indicators">
              <li data-target="#ex-slider" data-slide-to="0" class="active"></li>
              <li data-target="#ex-slider" data-slide-to="1"></li>
              <li data-target="#ex-slider" data-slide-to="2"></li>
              <li data-target="#ex-slider" data-slide-to="3"></li>
              <li data-target="#ex-slider" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active"><img src="images/gallery/15.jpg" alt="" class="img-responsive"/></div>
              <div class="item"><img src="images/gallery/11.jpg" alt="" class="img-responsive"/></div>
              <div class="item"><img src="images/gallery/12.jpg" alt="" class="img-responsive"/></div>
              <div class="item"><img src="images/gallery/14.jpg" alt="" class="img-responsive"/></div>
              <div class="item"><img src="images/gallery/16.jpg" alt="" class="img-responsive"/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="panel">
        <div class="panel-body">
          <h4 class="block-heading"><i class="icon-basket-loaded mrs"></i>Market place<span class="pull-right">Total: <span id='app-number'></span></span></h4>
          <div class="table-responsive">
            <table class="table table-border-dashed table-hover mbn">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Download</th>
                  <th>Complete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Belt Order</td>
                  <td>3.164</td>
                  <td>
                    <div data-hover="tooltip" title="20%" class="progress progress-xs mbs">
                      <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" class="progress-bar progress-bar-green"><span class="sr-only">20% Complete</span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Leadership Package</td>
                  <td>4.164</td>
                  <td>
                    <div data-hover="tooltip" title="60%" class="progress progress-xs mbs">
                      <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" class="progress-bar progress-bar-blue"><span class="sr-only">60% Complete</span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Summer T-Shirts</td>
                  <td>12.546</td>
                  <td>
                    <div data-hover="tooltip" title="75%" class="progress progress-xs mbs">
                      <div role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;" class="progress-bar progress-bar-green"><span class="sr-only">75% Complete</span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Sparring Equipment </td>
                  <td>12.154</td>
                  <td>
                    <div data-hover="tooltip" title="80%" class="progress progress-xs mbs">
                      <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" class="progress-bar progress-bar-blue"><span class="sr-only">80% Complete</span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Animal Patches </td>
                  <td>4.513</td>
                  <td>
                    <div data-hover="tooltip" title="90%" class="progress progress-xs mbs">
                      <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;" class="progress-bar progress-bar-orange"><span class="sr-only">90% Complete</span></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Karate Shoes </td>
                  <td>7.133</td>
                  <td>
                    <div data-hover="tooltip" title="100%" class="progress progress-xs mbs">
                      <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" class="progress-bar progress-bar-yellow"><span class="sr-only">100% Complete</span></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  </div>


</div>
