.bluecol {
    background-color: lightcyan;
}

.pinkcol {
    background-color: lightpink;
}

.greencol {
    background-color: lightgreen;
}

.limecol {
    background-color: limegreen;
}

.greycol {
    background-color: lightgrey;
}

.yellowcol {
    background-color: lightgoldenrodyellow;
}

.orangecol {
    background-color: orange;
}

.violetcol {
    background-color: violet;
}

.iconcenter {
    text-align: center;
}

.like-table-row {
    display: table;
    width: 100%;
}

.like-table.row>[class*=col-] {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #000;
    min-height: 80px;
}

.xtralike-table.row>[class*=col-] {
    min-height: 135px;
}

@media screen and (max-width: 767px) {}

@media only screen and (min-width: 767px) {

    .studentXS {
        font-size: x-small;
    }
    .studentS {
        font-size: small;
    }
    .studentM {
        font-size: medium;
    }
    .studentL {
        font-size: large;
    }
}
