<div ng-controller="ctrlDualList as vmDual">
    <div class="col-lg-12 mbs">
        <button type="button" class="btn btn-green mrs" ng-click="vmDual.isCollapsed = !vmDual.isCollapsed"><i class="fa fa-cog"></i>&nbsp; Columns</button>
    </div>

    <div uib-collapse="vmDual.isCollapsed">
        <div class="well well-lg">
            <div class="container-fluid">
                <div class="container">
                    <button class="btn btn-primary" type="button" ng-click="vmDual.submit()">Save Preferences</button>
                    <button class="btn btn-warning" type="button" ng-click="vmDual.colreset()">Reset Default</button>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Drag &amp; Drop Pick List</h3>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="list-group" id="list1" x-lvl-drop-target="true" x-on-drop="vmDual.drop(dragEl, dropEl, vmDual.bToA)">
                                <a href="javascript:;" class="list-group-item active">Show Columns
                                  <input title="Toggle all" ng-click="vmDual.toggleA()" 
                                    ng-model="toggle" value="{{toggle}}" type="checkbox" class="pull-right"></a>
                                <span ng-repeat="col in vmDual.listA track by col.id">
                                  <a href="javascript:;" data-id="{{col.id}}" x-lvl-draggable="true" class="list-group-item">{{col.colname}}
                                    <small class="text-muted"><em>{{col.collabel}}</em></small>                    
                                    <input id="{{col.id}}" ng-click="vmDual.selectedA.push(col.id)" 
                                        name="selectedA[]" value="{{col.id}}" ng-checked="vmDual.selectedA.indexOf(col.id) > -1" 
                                            type="checkbox" class="pull-right">
                                  </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 v-center text-center">
                            <div class="btn-group">
                                <button title="Send to list 1" class="btn btn-blue" ng-click="vmDual.bToA(vmDual)" id="btnA"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                <button title="Send to list 2" class="btn btn-blue" ng-click="vmDual.aToB(vmDual)" id="btnB"><i class="glyphicon glyphicon-chevron-right"></i></button>
                            </div>
                            <h6 class="text-center">move from list-to-list</h6>
                        </div>
                        <div class="col-sm-4">
                            <div class="list-group" id="list2" x-lvl-drop-target="true" x-on-drop="vmDual.drop(dragEl, dropEl, vmDual.aToB)">
                                <a href="javascript:;" class="list-group-item active">Hide Columns
                                  <input title="Toggle all" ng-click="vmDual.toggleB()" 
                                  ng-model="toggle" value="{{toggle}}" type="checkbox" class="pull-right">
                                </a>
                                <span ng-repeat="col in vmDual.listB track by col.id">
                                  <a href="javascript:;" data-id="{{col.id}}" class="list-group-item" x-lvl-draggable="true">{{col.colname}}
                                    <small class="text-muted"><em>{{col.collabel}}</em></small>
                                    <input id="{{col.id}}" ng-click="vmDual.selectedB.push(col.id)" 
                                        name="selectedB[]" value="{{col.id}}" ng-checked="vmDual.selectedB.indexOf(col.id) > -1" 
                                            type="checkbox" class="pull-right">
                                  </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
