.ignore {
    display: none !important;
}

.thick-line {
        border-bottom: 2px solid;
    }
.thin-line {
        border-bottom: 1px solid;
    }
.bold {
    font-weight: bold;
}
.modal-mySize {
    width: 1130px;
}

.remove-all-margin-padding {
    margin: 0 ! important;
    padding: 0 ! important;
}

.bluecol {
    background-color: lightcyan;
}

.pinkcol {
    background-color: lightpink;
}

.greencol {
    background-color: lightgreen;
}

.limecol {
    background-color: limegreen;
}

.greycol {
    background-color: lightgrey;
}

.yellowcol {
    background-color: lightgoldenrodyellow;
}

.orangecol {
    background-color: orange;
}

.violetcol {
    background-color: violet;
}

.iconcenter {
    text-align: center;
}

.like-table-row {
    display: table;
    width: 100%;
}

.like-tableheader.row>[class*=col-] {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #000;
    min-height: 80px;
    font-weight: bold;
}
.noborder.row>[class*=col-] {
    border: 0 !important;
}
.like-tablesmaller.row>[class*=col-] {
    min-height: min-content !important;
}

.like-table.row>[class*=col-] {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #000;
    min-height: 80px; //    opacity: .7;
    font-size: smaller !important;
}
.form-control {
    font-size: smaller !important;
}
.xtralike-table.row>[class*=col-] {
    min-height: 135px;
}

.img-max {
    max-height: 120px;
}

@media screen and (max-width: 767px) {
    .mobileheader {
        background: #03a9f4;
        color: #ffffff;
    }
    .mobilecol {
        display: table-cell;
        vertical-align: top;
        text-align: left; //    border: 1px solid #000;
        height: 60px;
        min-height: 60px;
        max-height: 60px;
        font-weight: bold;
    }

    .like-table.row>[class*=col-] {
        display: table-cell;
        vertical-align: middle;
        text-align: center; //    border: 1px solid #000;
        height: 30px;
        min-height: 60px;
        max-height: 60px;
    }

    .xtralike-table.row>[class*=col-] {
        height: 60px;
    }
    .img-max {
        max-height: 60px;
        min-height: 60px;
        height: 60px;
    }


}

@media only screen and (min-width: 767px) {

    .studentXS {
        font-size: x-small;
    }
    .studentS {
        font-size: small;
    }
    .studentM {
        font-size: medium;
    }
    .studentL {
        font-size: large;
    }
}
