@media screen and (max-width: 767px) {

}

@media only screen and (min-width: 767px) {

    .studentXS {
        font-size: x-small;
    }
    .studentS {
        font-size: small;
    }
    .studentM {
        font-size: medium;
    }
    .studentL {
        font-size: large;
    }
}
