<div class="modal-content">
   <form name="form.read" novalidate>
      <div class="modal-header">
         <h1>Photo Form</h1>
      </div>
      <div class="modal-body">
         <div class="col-md-12">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h2 class="panel-title">Photo</h2>
               </div>
               <div class="panel-body">
                  <div class="col-lg-12">
                     <span class="thumbnail" ng-switch on="vmpicmodal.dataToPass.pictureurldecache">
                         <img ng-switch-when="missing" ng-src='../images/students/missingstudentpicture.png'/>
                         <img ng-switch-default   ng-src='../images/students/{{vmpicmodal.dataToPass.pictureurldecache}}'/>
                      </span>

                     <div class="row row-icons">
                        <div>
                           <div class="row">
                              <div id="photowrapper">
                                 <span>
                                 <div>
                                    <div id="my_photo_booth">
                                       <div id="my_camera" style="width:320px; " ng-style="(vmpicmodal.checkCameraIsOn() === true ) && {'height':'240px'}  || (vmpicmodal.checkCameraIsOn() === false ) && {'height':'0px'}">
                                       </div>

                                       <form>
                                          <div id="pre_take_buttons">
                                             <input type=button value="Take Snapshot" ng-click="vmpicmodal.preview_snapshot()">
                                             <input type=button value="Camera On" ng-click="vmpicmodal.camera_on()">
                                          </div>
                                          <div id="post_take_buttons" ng-show="vmpicmodal.post_take_buttons">
                                             <input type=button value="&lt; Take Another" ng-click="vmpicmodal.cancel_preview()">
                                             <input type=button value="Save Photo &gt;" ng-click="vmpicmodal.save_photo(
                  vmpicmodal.dataToPass.LastName + '.'
              				+ vmpicmodal.dataToPass.FirstName + '.' 
              				+ vmpicmodal.dataToPass.ID + '.jpg',vmpicmodal.dataToPass 		)" style="font-weight:bold;">
                                             <input type=button value="Camera Off" ng-click="vmpicmodal.camera_off()">
                                          </div>
                                       </form>

                                    </div>
                                    <div id="results" style="display:none">
                                       <!-- Your captured image will appear here... -->
                                    </div>

                                 </div>
                                 </span>
                              </div>
                              <!--end photowrapper                       -->
                           </div>


                           <div class="col-md-8">
                              <input class="form-control" id="picfile" name="picfile" ng-show="false" ng-model="vmpicmodal.dataToPass.picfile" placeholder="File Name" type="text">
                              <button class="btn btn-green" ng-click="vmpicmodal.saveStudentPic(vmpicmodal.dataToPass,vmpicmodal.dataToPass.picfile);" ng-show="vmpicmodal.dataToPass.picfile" type="button">Save Picture</button>

                              <div class="thumbnail" ng-show="vmpicmodal.dataToPass.picfile"><img ng-src="./images/students/{{vmpicmodal.dataToPass.oldpicfile}}.bkup" />
                              </div>
                           </div>


                           <div class="col-md-4">
                              <a href ng-click="vmpicmodal.openpick()"><i class=
                              "glyphicon glyphicon-upload"></i></a>
                              <a href ng-click="vmpicmodal.opensearch()"><i class=
                              "glyphicon glyphicon-search"></i></a>
                              <a href ng-click="vmpicmodal.openCamera()"><i class=
                              "glyphicon glyphicon-camera"></i></a>


                           </div>
                        </div>
                     </div>


                  </div>

               </div>
            </div>
         </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-blue" ng-click="vmpicmodal.cancel()">Close</button>
      </div>
   </form>
</div>
