<div class="ui-grid-filter-container" 
    ng-repeat="colFilter in col.filters" 
    ng-class="{'ui-grid-filter-cancel-button-hidden' : colFilter.disableCancelFilterButton === true }">
    <select class="ui-grid-filter-select ui-grid-filter-input-0" 
        ng-model="colFilter.term" 
        ng-options="option.id as option.value for option in colFilter.options track by option.id">
    </select>

        <div role="button" class="ui-grid-filter-button-select" ng-click="removeFilter(colFilter, $index)" 
                ng-if="!colFilter.disableCancelFilterButton" 
                ng-disabled="colFilter.term === undefined || colFilter.term === null || colFilter.term=== ''" 
                ng-show="colFilter.term !== undefined && colFilter.term != null">
            <i class="ui-grid-icon-cancel" ui-grid-one-bind-aria-label="aria.removeFilter" aria-label="Remove Filter">&nbsp;</i>
        </div>
</div>
