.row
    .col-lg-6
        .panel
            .panel-body
                h4.block-heading Line Chart
                #line-chart(style="width: 100%; height:300px")
        .panel
            .panel-body
                h4.block-heading Pie Chart
                #pie-chart(style="width: 100%; height:300px")       
        .panel
            .panel-body
                h4.block-heading Area Chart
                #area-chart(style="width: 100%; height:300px")
        .panel
            .panel-body
                h4.block-heading Bar Chart
                #bar-chart(style="width: 100%; height:300px")
        
    .col-lg-6
        .panel
            .panel-body
                h4.block-heading Line Chart - Spline
                #line-chart-spline(style="width: 100%; height:300px")
        .panel
            .panel-body
                h4.block-heading Percentiles Chart
                #percentiles-chart(style="width: 100%; height:300px")
        .panel
            .panel-body
                h4.block-heading Area Chart - Spline
                #area-chart-spline(style="width: 100%; height:300px")
        .panel
            .panel-body
                h4.block-heading Bar Chart - Stack
                #bar-chart-stack(style="width: 100%; height:300px")
