.animated.slideInLeft
        #lock-screen-content
            img#lock-screen-avatar.img-responsive.img-circle(src='images/avatar/128.jpg', alt='')
            #lock-screen-info
                h1 John Doe
                .email example@email.com
                form.mbm(action='')
                    .input-group
                        input.form-control(type='password', value='123456789')
                        span.input-group-btn
                            a.btn.btn-primary(href='/#/') Unlock