.row
    .col-lg-12
    .col-lg-4
        .portlet
            .portlet-header
                .caption Labels
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                h4.block-heading Basic
                span.label.label-default Default
                | &nbsp;
                span.label.label-primary Primary
                | &nbsp;
                span.label.label-success Success
                | &nbsp;
                span.label.label-info Info
                | &nbsp;
                span.label.label-warning Warning
                | &nbsp;
                span.label.label-danger Danger
                .mbxl
                h4.block-heading More Color
                span.label.label-red Red
                | &nbsp;
                span.label.label-orange Orange
                | &nbsp;
                span.label.label-green Green
                | &nbsp;
                span.label.label-yellow Yellow
                | &nbsp;
                span.label.label-blue Blue
                .mbm
                span.label.label-violet Violet
                | &nbsp;
                span.label.label-pink Pink
                | &nbsp;
                span.label.label-grey Grey
                | &nbsp;
                span.label.label-dark Dark
        .portlet
            .portlet-header
                .caption Badges
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .row
                    .col-md-12
                        h4.block-heading Badges
                        span.badge.badge-default 1
                        | &nbsp;
                        span.badge.badge-primary 2
                        | &nbsp;
                        span.badge.badge-success 3
                        | &nbsp;
                        span.badge.badge-warning 4
                        | &nbsp;
                        span.badge.badge-info 5
                        | &nbsp;
                        span.badge.badge-danger 6
                        | &nbsp;
                        span.badge.badge-red 7
                        | &nbsp;
                        span.badge.badge-orange 8
                        | &nbsp;
                        span.badge.badge-green 9
                        | &nbsp;
                        span.badge.badge-yellow 10
                        | &nbsp;
                        span.badge.badge-blue 11
                        | &nbsp;
                        span.badge.badge-pink 12
                        | &nbsp;
                        span.badge.badge-violet 13
                        | &nbsp;
                        span.badge.badge-grey 14
                        | &nbsp;
                        span.badge.badge-dark 15
                        .mtxl
                        h4.block-heading Badges List Navigations
                        ul.nav.nav-pills.nav-stacked(style='max-width: 260px;')
                            li.active
                                a
                                    span.badge.pull-right 42
                                    | Home
                            li
                                a Profile
                            li
                                a
                                    span.badge.badge-secondary.pull-right 3
                                    | Messages
                        .mbl
                    .col-md-12
                        h4.block-heading Badges Square
                        span.badge.badge-default.badge-none-radius 1
                        | &nbsp;
                        span.badge.badge-primary.badge-none-radius 2
                        | &nbsp;
                        span.badge.badge-success.badge-none-radius 3
                        | &nbsp;
                        span.badge.badge-warning.badge-none-radius 4
                        | &nbsp;
                        span.badge.badge-info.badge-none-radius 5
                        | &nbsp;
                        span.badge.badge-danger.badge-none-radius 6
                        | &nbsp;
                        span.badge.badge-red.badge-none-radius 7
                        | &nbsp;
                        span.badge.badge-orange.badge-none-radius 8
                        | &nbsp;
                        span.badge.badge-green.badge-none-radius 9
                        | &nbsp;
                        span.badge.badge-yellow.badge-none-radius 10
                        | &nbsp;
                        span.badge.badge-blue.badge-none-radius 11
                        | &nbsp;
                        span.badge.badge-pink.badge-none-radius 12
                        | &nbsp;
                        span.badge.badge-violet.badge-none-radius 13
                        | &nbsp;
                        span.badge.badge-grey.badge-none-radius 14
                        | &nbsp;
                        span.badge.badge-dark.badge-none-radius 15
                        .mbxl
                        h4.block-heading Badge In Pill
                        ul.nav.nav-pills
                            li.active
                                a
                                    | Home
                                    | &nbsp;
                                    span.badge 42
                            li
                                a Profile
                            li
                                a
                                    | Messages
                                    | &nbsp;
                                    span.badge.badge-info 3
                        .mbl
                        h4.block-heading Badge With Button Dropdown
                        .btn-group
                            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                                | Account
                                | &nbsp;
                                i.fa.fa-angle-down
                            ul.dropdown-menu(role='menu')
                                li
                                    a
                                        | Action
                                        span.badge.badge-yellow.pull-right 5
                                li
                                    a
                                        | Another action
                                        span.badge.badge-info.pull-right 3
                                li
                                    a Something else here
                                li.divider
                                li
                                    a Separated link
                        | &nbsp;
                        .btn-group
                            button.btn.btn-primary(type='button') Chats
                            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-delay='1000', data-close-others='true')
                                i.fa.fa-angle-down
                            ul.dropdown-menu
                                li
                                    a
                                        span.label.label-warning 7:00 AM
                                        | &nbsp;
                                        | Hi :)
                                li
                                    a
                                        span.label.label-warning 8:00 AM
                                        | &nbsp;
                                        | How are you?
                                li
                                    a
                                        span.label.label-warning 9:00 AM
                                        | &nbsp;
                                        | What are you doing?
                                li.divider
                                li
                                    a.text-center View All
                        | &nbsp;
                        .btn-group
                            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-delay='1000', data-close-others='true')
                                | Inbox
                                | &nbsp;
                                span.badge.badge-grey 25
                            ul.dropdown-menu.pull-right
                                li
                                    a
                                        span.label.label-info
                                            i.fa.fa-bell
                                        | &nbsp;
                                        | Favourites Snippet
                                li
                                    a
                                        span.label.label-red
                                            i.fa.fa-magic
                                        | &nbsp;
                                        | Email marketing
                                li
                                    a
                                        span.label.label-yellow
                                            i.fa.fa-bullhorn
                                        | &nbsp;
                                        | Subscriber focused email design
                                li.divider
                                li
                                    a.text-center View All
        .portlet
            .portlet-header
                .caption Pagination
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                h4.block-heading Basic
                ul.pagination.mtm.mbm
                    li
                        a &laquo;
                    li
                        a 1
                    li
                        a 2
                    li
                        a 3
                    li
                        a 4
                    li
                        a 5
                    li
                        a &raquo;
                .clearfix
                h4.block-heading Disabled and active states
                ul.pagination.mtm.mbm
                    li.disabled
                        a &laquo;
                    li.active
                        a 1
                    li
                        a 2
                    li
                        a 3
                    li
                        a 4
                    li
                        a 5
                    li
                        a &raquo;
                .clearfix
                h4.block-heading Size
                ul.pagination.pagination-lg.mtm.mbm
                    li
                        a &laquo;
                    li
                        a 1
                    li
                        a 2
                    li
                        a 3
                    li
                        a 4
                    li
                        a 5
                    li
                        a &raquo;
                ul.pagination.mtm.mbm
                    li
                        a &laquo;
                    li
                        a 1
                    li
                        a 2
                    li
                        a 3
                    li
                        a 4
                    li
                        a 5
                    li
                        a &raquo;
                ul.pagination.pagination-sm.mtm.mbm
                    li
                        a &laquo;
                    li
                        a 1
                    li
                        a 2
                    li
                        a 3
                    li
                        a 4
                    li
                        a 5
                    li
                        a &raquo;
                .clearfix
                h4.block-heading Pagination Align
                ul.pagination.mtm.mbm(data-hover='')
                    li.disabled
                        a &laquo;
                    li.active
                        a 1
                    li
                        a 2
                    li
                        a 3
                    li
                        a 4
                    li
                        a 5
                    li
                        a &raquo;
                .text-center
                    ul.pagination.mtm.mbm
                        li
                            a &laquo;
                        li
                            a 1
                        li
                            a 2
                        li.active
                            a 3
                        li
                            a 4
                        li
                            a 5
                        li
                            a &raquo;
                .text-right
                    ul.pagination.mtm.mbm
                        li
                            a &laquo;
                        li
                            a 1
                        li
                            a 2
                        li
                            a 3
                        li
                            a 4
                        li.active
                            a 5
                        li.disabled
                            a &raquo;
        .portlet
            .portlet-header
                .caption Tooltip
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body.text-center
                button.btn.btn-default(type='button', tooltip-placement='left', tooltip='Tooltip on left') Left
                | &nbsp;
                button.btn.btn-default(type='button', tooltip-placement='top', tooltip='Tooltip on top') Top
                | &nbsp;
                button.btn.btn-default(type='button', tooltip-placement='bottom', tooltip='Tooltip on bottom') Bottom
                | &nbsp;
                button.btn.btn-default(type='button', tooltip-placement='right', tooltip='Tooltip on right') Right
        .portlet
            .portlet-header
                .caption Popovers
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body.text-center
                button.btn.btn-default(type='button', data-container='body', popover-placement='left', popover='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.') Left
                | &nbsp;
                button.btn.btn-default(type='button', data-container='body', popover-placement='top', popover='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.') Top
                | &nbsp;
                button.btn.btn-default(type='button', data-container='body', popover-placement='bottom', popover='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.') Bottom
                | &nbsp;
                button.btn.btn-default(type='button', data-container='body', popover-placement='right', popover='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.') Right
        .portlet
            .portlet-header
                .caption Media Objects
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                ul.media-list
                    li.media
                        a.pull-left
                            img.media-object.img-circle(src='http://lorempixel.com/128/128/people/9/', alt='', style='width:64px; height:64px;')
                        .media-body
                            h4.media-heading Media heading
                            p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            .media
                                a.pull-left
                                    img.media-object.img-circle(src='http://lorempixel.com/128/128/people/9/', alt='', style='width:64px; height:64px;')
                                .media-body
                                    h4.media-heading Nested media heading
                                    p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

                            .media
                                a.pull-left
                                    img.media-object.img-circle(src='http://lorempixel.com/128/128/people/9/', alt='', style='width:64px; height:64px;')
                                .media-body
                                    h4.media-heading Nested media heading
                                    p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    li.media
                        a.pull-right
                            img.media-object.img-circle(src='http://lorempixel.com/128/128/people/9/', alt='', style='width:64px; height:64px;')
                        .media-body
                            h4.media-heading Media heading
                            p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
    .col-lg-8
        .portlet
            .portlet-header
                .caption List Group
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .row
                    .col-md-6
                        h4.block-heading Linked Items
                        .list-group
                            a.list-group-item.active
                                | Cras justo odio
                                span.badge.badge-info.pull-right 4
                            a.list-group-item
                                | Dapibus ac facilisis in
                                span.badge.badge-warning.pull-right 2
                            a.list-group-item
                                | Morbi leo risus
                                span.badge.badge-danger.pull-right 3
                            a.list-group-item
                                | Porta ac consectetur ac
                                span.badge.badge-info.pull-right 8
                            a.list-group-item
                                | Vestibulum at eros
                                span.badge.badge-success.pull-right 1
                            a.list-group-item
                                | Morbi leo risus
                                span.badge.badge-danger.pull-right 5
                    .col-md-6
                        h4.block-heading Custom Content
                        .list-group
                            a.list-group-item.active
                                h4.list-group-item-heading List group item heading
                                p.list-group-item-text
                                    | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                            a.list-group-item
                                h4.list-group-item-heading List group item heading
                                p.list-group-item-text
                                    | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                            a.list-group-item
                                h4.list-group-item-heading List group item heading
                                p.list-group-item-text
                                    | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        .portlet
            .portlet-header
                .caption Panels
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .row
                    .col-md-6
                        h4.block-heading Basic
                        .panel.panel-default
                            .panel-body Basic panel example
                        .clearfix
                        h4.block-heading Panel With Heading
                        .panel.panel-default
                            .panel-heading Panel heading without title
                            .panel-body Panel content
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title Panel title
                            .panel-body Panel content
                        .clearfix
                        h4.block-heading Panel With Footer
                        .panel.panel-default
                            .panel-body Panel content
                            .panel-footer Panel footer
                        .clearfix
                        h4.block-heading With Tables
                        .panel.panel-info
                            .panel-heading Panel heading
                            .panel-body
                                p Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vesti.
                            table.table.table-border-dashed
                                thead
                                    tr
                                        th #
                                        th First Name
                                        th Last Name
                                        th Username
                                tbody
                                    tr
                                        td 1
                                        td Mark
                                        td Otto
                                        td @mdo
                                    tr
                                        td 2
                                        td Jacob
                                        td Thornton
                                        td @fat
                                    tr
                                        td 3
                                        td Larry
                                        td the Bird
                                        td @twitter
                    .col-md-6
                        h4.block-heading Contextual Alternatives
                        .panel.panel-primary
                            .panel-heading Panel primary
                            .panel-body Panel content
                        .panel.panel-success
                            .panel-heading Panel success
                            .panel-body Panel content
                        .panel.panel-info
                            .panel-heading Panel info
                            .panel-body Panel content
                        .panel.panel-warning
                            .panel-heading Panel warning
                            .panel-body Panel content
                        .panel.panel-danger
                            .panel-heading Panel danger
                            .panel-body Panel content
                        .clearfix
                        h4.block-heading With List Groups
                        .panel.panel-warning
                            .panel-heading Panel heading
                            .panel-body
                                p Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            ul.list-group
                                li.list-group-item
                                    | Morbi leo risus
                                    span.badge.badge-blue.pull-right
                                li.list-group-item
                                    | Porta ac consectetur ac
                                    span.badge.badge-yellow.pull-right 3
                                li.list-group-item
                                    | Vestibulum at eros
                                    span.badge.badge-pink.pull-right 8
                .row
                    .col-md-12
                        h4.block-heading More Colors
                        .row
                            .col-md-4
                                .panel.panel-red
                                    .panel-heading Panel red
                                    .panel-body Panel content
                                .panel.panel-orange
                                    .panel-heading Panel orange
                                    .panel-body Panel content
                                .panel.panel-green
                                    .panel-heading Panel green
                                    .panel-body Panel content
                            .col-md-4
                                .panel.panel-yellow
                                    .panel-heading Panel yellow
                                    .panel-body Panel content
                                .panel.panel-blue
                                    .panel-heading Panel blue
                                    .panel-body Panel content
                                .panel.panel-pink
                                    .panel-heading Panel pink
                                    .panel-body Panel content
                            .col-md-4
                                .panel.panel-violet
                                    .panel-heading Panel violet
                                    .panel-body Panel content
                                .panel.panel-grey
                                    .panel-heading Panel grey
                                    .panel-body Panel content
                                .panel.panel-dark
                                    .panel-heading Panel dark
                                    .panel-body Panel content
        .portlet
            .portlet-header
                .caption Wells
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .row
                    .col-md-6
                        .well.well-lg Look, I'm in a large well!
                        .well Look, I'm in a well!
                    .col-md-6
                        .well.well-sm Look, I'm in a small well!
        .portlet
            .portlet-header
                .caption Notes
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .row
                    .col-md-6
                        .note.note-success
                            h4.block-heading Success! Duis mollis, est non commodo luctus
                            p Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
                        .note.note-info
                            h4.block-heading Information! Duis mollis, est non commodo luctus
                            p Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
                    .col-md-6
                        .note.note-warning
                            h4.block-heading Warning! Duis mollis, est non commodo luctus
                            p Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
                        .note.note-danger
                            h4.block-heading Dangerous! Duis mollis, est non commodo luctus
                            p Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
    .col-lg-12
        .portlet
            .portlet-header
                .caption Alerts
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .row
                    .col-lg-4
                        h4.block-heading Default Alerts
                        .alert.alert-success
                            strong Well done!
                            = ' '
                            | You successfully read this important alert message.
                        .alert.alert-info
                            strong Heads up!
                            = ' '
                            | This alert needs your attention, but it's not super important.
                        .alert.alert-warning
                            strong Warning!
                            = ' '
                            | Best check yo self, you're not looking too good.
                        .alert.alert-danger
                            strong Oh snap!
                            = ' '
                            | Change a few things up and try submitting again.
                    .col-lg-4
                        h4.block-heading Dismissable Alerts
                        .alert.alert-success.alert-dismissable
                            button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                            strong Well done!
                            = ' '
                            | You successfully read this important alert message.
                        .alert.alert-info.alert-dismissable
                            button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                            strong Heads up!
                            = ' '
                            | This alert needs your attention, but it's not super important.
                        .alert.alert-warning.alert-dismissable
                            button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                            strong Warning!
                            = ' '
                            | Best check yo self, you're not looking too good.
                        .alert.alert-danger.alert-dismissable
                            button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                            strong Oh snap!
                            = ' '
                            | Change a few things up and try submitting again.
                    .col-lg-4
                        h4.block-heading Links In Alerts
                        .alert.alert-success
                            strong Well done!
                            = ' '
                            | You successfully read
                            = ' '
                            a.alert-link this important alert message
                            | .
                        .alert.alert-info
                            strong Heads up!
                            = ' '
                            | This
                            = ' '
                            a.alert-link alert needs your attention
                            = ' '
                            | , but it's not super important.
                        .alert.alert-warning
                            strong Warning!
                            = ' '
                            | Best check yo self, you're
                            = ' '
                            a.alert-link not looking too good
                            | .
                        .alert.alert-danger
                            strong Oh snap!
                            = ' '
                            a.alert-link Change a few things up
                            = ' '
                            | and try submitting again.
    
    .col-lg-12
        .portlet
            .portlet-header
                .caption Progress Bars
                .tools
                    i.fa.fa-chevron-up
                    i.fa.fa-cog(data-toggle="modal", data-target="#modal-config")
                    i.fa.fa-refresh
                    i.fa.fa-times
            .portlet-body
                .row
                    .col-md-4
                        h4.block-heading Basic
                        .progress(data-hover='tooltip', data-placement='top', title='Basic')
                            .progress-bar(style='width: 60%;')
                        .clearfix
                        h4.block-heading Contextual alternatives
                        .progress(data-hover='tooltip', data-placement='top', title='Success')
                            .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
                                span.sr-only 40% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Info')
                            .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
                                span.sr-only 20% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Warning')
                            .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                                span.sr-only 60% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Danger')
                            .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                                span.sr-only 80% Complete
                        .clearfix
                        h4.block-heading Sizes
                        .progress.progress-xs(data-hover='tooltip', data-placement='top', title='Extra Small')
                            .progress-bar.progress-bar-orange(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 90%;')
                                span.sr-only 90% Complete
                        .progress.progress-sm(data-hover='tooltip', data-placement='top', title='Small')
                            .progress-bar.progress-bar-blue(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width: 70%;')
                                span.sr-only 70% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Medium')
                            .progress-bar.progress-bar-yellow(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width: 50%;')
                                span.sr-only 50% Complete
                        .progress.progress-lg(data-hover='tooltip', data-placement='top', title='Large')
                            .progress-bar.progress-bar-green(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
                                span.sr-only 20% Complete
                    .col-md-4
                        h4.block-heading Striped
                        .progress.progress-striped(data-hover='tooltip', data-placement='top', title='Striped Success')
                            .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
                                span.sr-only 40% Complete
                        .progress.progress-striped(data-hover='tooltip', data-placement='top', title='Striped Info')
                            .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
                                span.sr-only 20% Complete
                        .progress.progress-striped(data-hover='tooltip', data-placement='top', title='Striped Warning')
                            .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                                span.sr-only 60% Complete
                        .progress.progress-striped(data-hover='tooltip', data-placement='top', title='Striped Danger')
                            .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                                span.sr-only 80% Complete
                        .clearfix
                        h4.block-heading Animated
                        .progress.progress-striped.active(data-hover='tooltip', data-placement='top', title='Animated')
                            .progress-bar(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%;')
                                span.sr-only 45% Complete
                        .clearfix
                        h4.block-heading Stacked
                        .progress(data-hover='tooltip', data-placement='top', title='Stacked')
                            .progress-bar.progress-bar-pink(style='width: 35%;')
                                span.sr-only 35% Complete
                            .progress-bar.progress-bar-yellow(style='width: 20%;')
                                span.sr-only 20% Complete
                            .progress-bar.progress-bar-blue(style='width: 10%;')
                                span.sr-only 10% Complete
                        .clearfix
                        h4.block-heading Completed
                        .progress(data-hover='tooltip', data-placement='top', title='80% Completed')
                            .progress-bar.progress-bar-blue(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                                span.sr-only 80% Complete
                            span.progress-completed 80%
                    .col-md-4
                        h4.block-heading Colors
                        .progress(data-hover='tooltip', data-placement='top', title='Red')
                            .progress-bar.progress-bar-red(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
                                span.sr-only 40% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Orange')
                            .progress-bar.progress-bar-orange(role='progressbar', aria-valuenow='57', aria-valuemin='0', aria-valuemax='100', style='width: 57%;')
                                span.sr-only 57% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Green')
                            .progress-bar.progress-bar-green(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
                                span.sr-only 20% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Yellow')
                            .progress-bar.progress-bar-yellow(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                                span.sr-only 60% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Blue')
                            .progress-bar.progress-bar-blue(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                                span.sr-only 80% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Violet')
                            .progress-bar.progress-bar-violet(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
                                span.sr-only 40% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Pink')
                            .progress-bar.progress-bar-pink(role='progressbar', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100', style='width: 25%;')
                                span.sr-only 25% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Grey')
                            .progress-bar.progress-bar-grey(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width: 70%;')
                                span.sr-only 70% Complete
                        .progress(data-hover='tooltip', data-placement='top', title='Dark')
                            .progress-bar.progress-bar-dark(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100', style='width: 90%;')
                                span.sr-only 90% Complete
    .col-lg-12
        
    